<section>

    <!-- Código aqui -->

    <header>
        <!--     -->

        <div class="conversations-div">
            <h1 class="conversations">ERTEX</h1>
        </div>

        <div class="header-right">

            <div class="header-right-informations">
                <div class="leftChatPerson">
                    <fa-icon class="text-7xl" [icon]="faCircleUser"></fa-icon>
                </div>

                <div class="rightChatPerson">
                    <div class="flex gap-5 items-center">
                        <p class="userName">Nome user</p>

                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>

                    <div class="flex gap-5 items-center">
                        <p>Nome equipe</p>
                        |
                        <p>Objetivo equipe</p>
                    </div>
                </div>
            </div>

            <!-- icon minimizar chat -->
            <fa-icon (click)="minimizeChat()" class="pr-5" [icon]="faMinimize"></fa-icon>
        </div>
    </header>


    <div class="w-full h-[87%] gap-[5px] flex ">
        <div class="section-left-chat">

            <div class=" w-[100%] h-[8%] p-3 flex items-center justify-center ">
                <div class="search-div">
                    <input id="search" type="text">
                    <fa-icon class="searchIcon" [icon]="faSearch"></fa-icon>
                </div>
            </div>

            <div class="header-section-left">
                <div class="flex justify-between items-center gap-2 cursor-pointer">
                    <fa-icon class="section-icons" [icon]="faGlobe"></fa-icon>
                    <p>Todos</p>
                </div>

                <div class="flex justify-between items-center gap-2 cursor-pointer">
                    <fa-icon class="section-icons" [icon]="faUser"></fa-icon>
                    <p>Individual</p>
                </div>

                <div class="flex justify-between items-center gap-2 cursor-pointer">
                    <fa-icon class="section-icons" [icon]="faUsers"></fa-icon>
                    <p>Grupos</p>
                </div>
            </div>

            <div class="main-section-left">
                <ng-container *ngFor="let user of users">

                    <div class="card-chat">
                        <div class="flex gap-6 items-center w-[70%]">
                            <fa-icon class="chat-icons" [icon]="faCircleUser"></fa-icon>
                            <div class="flex flex-col">
                                <p>{{user.name}}</p>
                                <p>{{user.messages[0].content}}</p>
                            </div>
                        </div>

                        <fa-icon class="section-icons" [icon]="faStar"></fa-icon>
                        <div class="flex items-center justify-center w-[20%]">

                            <div class="flex flex-col gap-2 items-center ">
                                <p>{{user.messages[0].time}}</p>
                                <fa-icon class="section-icons" [icon]="faCheckDouble"></fa-icon>
                            </div>
                        </div>
                    </div>

                </ng-container>
            </div>

            <div class="starred-div">
                <button class="starred-btn">
                    <p>Favoritas</p>
                    <fa-icon class="text-[#fff] text-sm" [icon]="faStar"></fa-icon>
                </button>
            </div>
        </div>

        <div class="section-right-chat">
            <div class="pr-[6%] pl-[6%] w-[100%] h-[80%] overflow-auto">
                
            </div>

            <div class="w-[65%] h-[20%] flex items-center gap-3">
                <div class="div-input-chat">
                    <input class="pl-[15px] w-[90%] h-[100%]" placeHolder="Digite aqui...">
                    <div class="flex gap-4">
                        <fa-icon class="section-icons" [icon]="faPaperclip"></fa-icon>
                        <fa-icon class="section-icons" [icon]="faMicrophoneLines"></fa-icon>
                    </div>
                </div>
                <div class="square-chat">
                    <fa-icon class="text-lg pr-1" [icon]="faPaperPlane"></fa-icon>
                </div>
            </div>
        </div>
    </div>


</section>