<section>

    <header>

        <div class="conversations-div">
            <h3 class="conversations">Conversas</h3>
        </div>

        <div class="header-right">

            <div class="header-right-informations">
                <div class="leftChatPerson">
                    <fa-icon *ngIf="chat" class="section-icons-7xl" [icon]="faCircleUser"></fa-icon>
                </div>

                <div class="gap-3 flex flex-col">
                    <div class="divNamesPerson">
                        <p *ngIf="chat" class="userName large-text">{{chat.name}}</p>

                        <!-- <fa-icon class="section-icons" [icon]="faStar"></fa-icon> -->
                    </div>

                    <!-- <div class="divNamesPerson regular-text">
                        <p>Nome equipe</p>
                    </div> -->
                </div>
            </div>
        </div>
    </header>


    <main>
        <div class="section-left-chat">
            <div class="header-section-left">
                <div class="search-div">
                    <input id="search" type="text" placeholder="Pesquise por uma conversa...">
                    <fa-icon class="searchIcon" [icon]="faSearch"></fa-icon>
                </div>
            </div>
            <!-- <div class="footer-section-left regular-text">
                <div class="text-group-individual">
                    <fa-icon class="section-icons" [icon]="faGlobe"></fa-icon>
                    <p>Todos</p>
                </div>

                <div class="text-group-individual">
                    <fa-icon class="section-icons" [icon]="faUser"></fa-icon>
                    <p>Individual</p>
                </div>

                <div class="text-group-individual">
                    <fa-icon class="section-icons" [icon]="faUsers"></fa-icon>
                    <p>Grupos</p>
                </div>
            </div> -->

            <div class="main-section-left">
                <ng-container *ngFor="let chatFor of conversations">
                    <div (click)="openConversation(chatFor)"
                        [ngClass]="chatFor.conversationOpen! ? 'card-chatOpen' : 'card-chat'">
                        <div class="user-card-message">
                            <fa-icon class="chat-icons" [icon]="faCircleUser"></fa-icon>
                            <div class="flex flex-col">
                                <p>{{chatFor.name}}</p>
                            </div>
                        </div>

                        <!-- <fa-icon class="section-icons" [icon]="faStar"></fa-icon>
                        <div class="div-time-message">

                            <div class="div-time">
                                <fa-icon class="section-icons" [icon]="faCheckDouble"></fa-icon>
                            </div>
                        </div> -->
                    </div>

                </ng-container>
            </div>
        </div>

        <div class="section-right-chat">

            <div *ngIf="!chat" class="center-div justify-center">
                <div class="flex flex-col items-center gap-5 pb-20">
                    <img class="w-40 h-40" src="../../../assets/messageImage.png" alt="">
                    <h6>Não há nenhuma conversa aberta no momento.</h6>
                </div>
            </div>

            <!-- <div *ngIf="chat && !chat.messages">
                <div class="flex flex-col items-center gap-5 pb-20">
                    <img class="w-40 h-40" src="../../../assets/messageImage.png" alt="">
                    <h6>Nenhuma mensagem enviada ainda! Seja o primeiro a enviar uma mensagem!</h6>
                </div>
            </div> -->

            <div *ngIf="chat" class="center-div">
                <div class="min-h-[60px]" *ngIf="chat">
                    <div *ngFor="let message of chat.messages" class="message-container"
                        [ngClass]="message.user !== logged.firstName ? 'left' : 'right'">
                        <div class="flex items-center gap-2">
                            <p *ngIf="(logged.firstName != message.user)" class="username">{{ message.user }}</p>
                            <p *ngIf="(logged.firstName == message.user)" class="username">Eu</p>
                        </div>

                        <div *ngIf="!message.file"
                            [ngClass]="logged.firstName!==message.user ? 'message-bubble-left' : 'message-bubble-right'">
                            <p class="text-base whitespace-pre-wrap">{{ message.contentMessage }}</p>
                            <p [ngClass]="message.user !== logged.firstName ? 'timestamp' : 'timestamp text-right'">{{
                                generateTime(message) }}</p>
                        </div>

                        <div *ngIf="message.file"
                            [ngClass]="message.user !== logged.firstName ? 'message-bubble-left with-photo' : 'message-bubble-right with-photo items-end'">
                            <div class="w-full h-full flex justify-center items-center gap-3">
                                <img [ngClass]="messageFileIncludesImage(message) ? 'ml-[10px] mt-[5px] image':'archive'"
                                    draggable="false" [src]="getIconSrc(message)">
                                <div class="flex h-full items-center gap-5">
                                    <p *ngIf="!messageFileIncludesImage(message)">{{ message.file.name }}</p>
                                </div>
                            </div>
                            <div class="flex justify-between">
                                <p
                                    [ngClass]="message.user !== logged.firstName ? 'timestamp text-[#777777]' : 'timestamp text-[#fff]'">
                                    {{ generateTime(message) }}
                                </p>
                                <a [href]="changeUrlOfArchive(message)" download="{{ message.file.name }}">
                                    <i class="pi pi-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form *ngIf="chat && chat.messages!=null" (ngSubmit)="sendMessage(sendForm)" (keydown.enter)="sendMessage(sendForm)"
                #sendForm="ngForm" class="high-input-div justify-center">
                <div class="flex pr-5 gap-4  w-[80%] h-[45%] bg-white">

                    <textarea type="text" name="message" id="input-message"
                        class="form-control focus:outline-none resize-none rounded-sm border-l-4 pt-[15px] pl-[15px] w-[90%] h-[100%]"
                        [(ngModel)]="messageUser" placeholder="Digite aqui..."></textarea>
                    <div class="emoji-wrapper">

                        <!-- <emoji-mart *ngIf="showEmojiPicker" [i18n]="{
                                search: 'Digite o nome do emoji em inglês',
                                categories: {
                                search: 'Resultados da busca',
                                recent: 'Recentes',
                                smileys: 'Carinhas',
                                people: 'Pessoas',
                                nature: 'Natureza',
                                foods: 'Comidas',
                                activity: 'Atividade',
                                places: 'Lugares',
                                objects: 'Objetos',
                                symbols: 'Símbolos',
                                flags: 'Bandeiras'
                                }
                            }" [isNative]="true" [set]="'google'" color="#092c4c" (emojiClick)="addEmoji($event)">
                        </emoji-mart> -->

                    </div>
                    <div class="flex relative">
                        <input type="file" id="fileInput" class="hidden absolute left-1/2 top-1/2"
                            (change)="onFileChange($event)">
                        <fa-icon (click)="openFile()" class="section-icons" [icon]="faPaperclip"></fa-icon>
                    </div>
                    <!-- <fa-icon class="section-icons" [icon]="faMicrophoneLines"></fa-icon> -->
                    <fa-icon (click)="showEmoji()" class="section-icons" [icon]="faSmile"></fa-icon>
                </div>
                <button type="submit" class="square-chat rounded-sm">
                    <fa-icon class="text-lg pr-1" [icon]="faPaperPlane"></fa-icon>
                </button>
            </form>
        </div>
    </main>


</section>