@import '../../../_variables.scss';

section {
    @apply w-screen h-full flex flex-col justify-center pl-1;
    background-color: $primaryColor;
}

input{
    padding: 10px;
}



.container-custom {
    @apply flex w-[90%] h-full;
}

.main-div {
    @apply flex flex-col w-full h-full;
}

header {
    @apply flex w-[100%] h-[13%] justify-between items-end ;
    background-color: $primaryColor;
}

.conversations-div{
    @apply w-[15%] h-[60%] flex flex-col justify-center;
}

.conversations{
    @apply text-2xl;
    color: $secondColor
}

.header-right{
    @apply w-[77.5%] flex justify-between items-center text-white
}

.header-right-informations{
    @apply flex gap-5 items-center pb-5;
}

.search-div {
    @apply flex w-[100%] h-[100%] items-center gap-2 border-2 border-gray-300 rounded-md;
    background-color: $secondColor;
}

#search {
    @apply flex w-[89%] h-[100%] items-center justify-center
    ;
    background-color: $secondColor;
}

.searchIcon {
    @apply w-[7%] text-[1.5rem] text-white flex items-center;
    color: $primaryColor;
}

.leftChatPerson {
    @apply flex items-center gap-2;

}

.userName {
    @apply text-[1.5rem] text-white;
}

.section-left-chat {
    @apply flex flex-col items-center w-[22.3%] h-[100%] shadow-md rounded-sm;

    background-color: $secondColor;
}

.header-section-left {
    @apply flex w-full h-[10%] items-center justify-evenly ;
    border-bottom: $borderBottom;
}

.main-section-left {
    @apply flex flex-col w-full h-[70%] justify-start gap-1 overflow-auto;
}

.section-icons {
    @apply flex justify-between items-center;
    color: $primaryColor  !important;
}

.chat-icons {
    @apply flex justify-between items-center;
    color: $primaryColor  !important;
    font-size: 70px
}

.card-chat{
    @apply flex justify-between items-center w-full pl-4 h-[100px] shadow-md 
    cursor-pointer min-h-[100px];
}

.starred-div{
    @apply flex w-full h-[12%] items-center justify-start pl-3;
}

.starred-btn{
    @apply flex gap-2 items-center justify-center w-[30%] h-[50%] rounded-sm;
    color: $secondColor;
    background-color: $primaryColor
}

.section-right-chat {
    @apply flex flex-col items-center justify-center w-[80%] h-[100%] gap-2 shadow-md rounded-sm;
    background-color: $secondColor;
}

.div-input-chat{
    @apply w-[100%] h-[40%] flex;
    background-color: #fff;
}

.square-chat{
    @apply w-[7.5%] h-[40%] flex items-center justify-center;
    background-color: $primaryColor;

    .section-icons{
        @apply flex justify-between items-center;
        color: #fff !important;
    }
}