<section *ngIf="conversations">

    <header>
        <div class="conversations-div">
            <h3 class="conversations">{{ 'pages.chat.header.conversas' | translate }}</h3>
        </div>
        <div class="header-right" *ngIf="chat">
            <div class="header-right-informations">
                <div class="leftChatPerson">
                    <div class="overflow-hidden h-20 w-20 icon" *ngIf="chat.image">
                        <img src="data:image/jpg;base64, {{chat.image}}" alt="" class="rounded-full object-cover h-full w-full">
                    </div>
                    <fa-icon class="chat-icons" [icon]="faCircleUser" *ngIf="!chat.image"></fa-icon>
                </div>
                <div class="gap-3 flex flex-col">
                    <div class="divNamesPerson">
                        <p class="userName large-text">{{chat.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="section-left-chat">
            <div class="header-section-left">
                <div class="search-div">
                    <input id="search" type="text" [(ngModel)]="query" placeholder="{{ 'pages.chat.placeholderPesquisarConversa' | translate }}">
                    <fa-icon class="searchIcon" [icon]="faSearch"></fa-icon>
                </div>
            </div>

            <div class="main-section-left gap-2">

                <div class="w-[90%] flex justify-center flex-col">
                    <ng-container *ngFor="let chatFor of (conversations | namePipe : query)">
                        <div (click)="openConversation(chatFor)"
                            [ngClass]="chatFor.conversationOpen! ? 'card-chatOpen' : 'card-chat'">
                            <div class="user-card-message">
                                <div class="overflow-hidden h-20 w-20 img-chat" *ngIf="chatFor.image">
                                    <img src="data:image/jpg;base64, {{chatFor.image}}" alt="" class="rounded-full object-cover h-full w-full">
                                </div>
                                <fa-icon class="chat-icons" [icon]="faCircleUser" *ngIf="!chatFor.image"></fa-icon>
                                <div class="flex flex-col">
                                    <p class="chatName">{{ chatFor.name }}</p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="section-right-chat">
            <div *ngIf="!chat" class="center-div justify-center">
                <div class="flex flex-col items-center gap-5 pb-20">
                    <fa-icon class="section-icons text-9xl" [icon]="faCommentSlash"></fa-icon>
                    <h6>{{ 'pages.chat.mensagemNenhumaConversa' | translate }}</h6>
                </div>
            </div>
            <div *ngIf="chat" class="center-div">
                <div class="min-h-[60px]">
                    <div *ngFor="let message of chat.messages" class="message-container"
                        [ngClass]="message.user !== logged.firstName ? 'left' : 'right'">
                        <div class="flex items-center gap-2">
                            <p *ngIf="(logged.firstName != message.user)" class="username">{{ message.user }}</p>
                            <p *ngIf="(logged.firstName == message.user)" class="username">{{"components.modals.minichat.me" | translate}}</p>
                        </div>

                        <div *ngIf="!message.file"
                            [ngClass]="logged.firstName!==message.user ? 'message-bubble-left' : 'message-bubble-right'">
                            <p class="contentMessage whitespace-pre-wrap">{{ message.contentMessage }}</p>
                            <p [ngClass]="message.user !== logged.firstName ? 'timestampBlack' : 'timestamp text-right'">{{
                                generateTime(message) }}</p>
                        </div>

                        <div *ngIf="message.file"
                            [ngClass]="message.user !== logged.firstName ? 'message-bubble-left with-photo' : 'message-bubble-right with-photo items-end'">
                            <div class="w-full h-full flex justify-center items-center gap-3 relative">
                                <div class="relative left-[5px] top-1 flex justify-center items-center"
                                    style="max-width: 300px;">
                                    <img [ngClass]="messageFileIncludesImage(message) ? 'image':'archive'"
                                        draggable="false" [src]="getIconSrc(message)"
                                        style="max-width: 100%; height: auto;">
                                    <p-image *ngIf="messageFileIncludesImage(message)" [src]="getIconSrc(message)"
                                        alt="Image" height="auto" width="300" [preview]="true" class="absolute inset-0">
                                    </p-image>
                                </div>
                                <div class="flex flex-col items-center">
                                    <p *ngIf="!messageFileIncludesImage(message)" class="text-center">{{
                                        message.file.name }}</p>
                                </div>
                            </div>
                            <div class="flex justify-between">
                                <p
                                    [ngClass]="message.user !== logged.firstName ? 'timestampBlack' : 'timestamp text-[#fff]'">
                                    {{ generateTime(message) }}
                                </p>
                                <a [href]="changeUrlOfArchive(message)" download="{{ message.file.name }}">
                                    <i class="pi pi-download"></i>
                                </a>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <form *ngIf="chat && chat.messages!=null" (ngSubmit)="sendMessage(sendForm)"
                (keydown.enter)="sendMessage(sendForm)" #sendForm="ngForm" class="high-input-div justify-center">
                <div class="divWhiteInput">
                    <textarea type="text" name="message" id="input-message"
                        class="form-control text-black focus:outline-none resize-none rounded-sm border-l-4 pt-[15px] pl-[15px] w-[90%] h-[100%]"
                        [(ngModel)]="messageUser" placeholder="{{ 'pages.chat.inputPlaceholder' | translate }}"></textarea>
                    <div class="flex relative">
                        <input type="file" id="fileInput" class="hidden absolute left-1/2 top-1/2"
                            (change)="onFileChange($event)">
                        <fa-icon (click)="openFile()" class="section-icons" [icon]="faPaperclip"></fa-icon>
                    </div>
                </div>
                <button type="submit" class="square-chat rounded-sm">
                    <fa-icon class="text-lg pr-1" [icon]="faPaperPlane"></fa-icon>
                </button>
            </form>
        </div>
    </main>
</section>

<section class="gap-8" *ngIf="!conversations">
    <fa-icon class="section-icons text-9xl" [icon]="faCommentSlash"></fa-icon>
    <p class="pHasNoOneChat">{{"pages.chat.noChats"}}</p>
</section>
