<header class="header">
  <section class="header-section">
    <div class="current-location medium-text">
      <i (click)="back()" class="pi pi-angle-double-left back"
        *ngIf="location !== 'Home' || location.includes('aceitar-convite')"></i>
      <p>{{ location | translate }}</p>
    </div>
    <div class="items-header">
      <div class="menu-container">
        <button mat-button [matMenuTriggerFor]="idiomaMenu" class="nav-item">
          <img style="width: 35px; margin-right: 10px" [src]="linkImagemPais" />
          <i class="bi bi-chevron-down"></i>
        </button>
        <mat-menu #idiomaMenu="matMenu" class="custom-menu">
          <button mat-menu-item (click)="
                      mudarIdioma(
                        'pt',
                        'https://www.gov.br/mre/pt-br/embaixada-seul/arquivos/imagens/BRASIL.png'
                      )
                    ">
            <img style="width: 34px;" src="https://www.gov.br/mre/pt-br/embaixada-seul/arquivos/imagens/BRASIL.png" />
          </button>
          <button mat-menu-item
            (click)="mudarIdioma('es', 'https://s1.static.brasilescola.uol.com.br/be/conteudo/images/bandeira-espanha-55c26319db07f.jpg')">
            <img style="width: 34px;"
              src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/bandeira-espanha-55c26319db07f.jpg" />
          </button>

          <button mat-menu-item (click)="
                      mudarIdioma(
                        'en',
                        'https://s3.static.brasilescola.uol.com.br/be/conteudo/images/estados-unidos.jpg'
                      )
                    ">
            <img style="width: 34px;"
              src="https://s3.static.brasilescola.uol.com.br/be/conteudo/images/estados-unidos.jpg" />

          </button>
          <!-- Outros botões de mudança de idioma -->
        </mat-menu>
      </div>
      <i class="pi pi-bell cursor-pointer" (click)="openNotifications()" pBadge value={{notificationBadge}}
        *ngIf="notificationBadge > 0"></i>
      <i class="pi pi-bell cursor-pointer" (click)="openNotifications()" *ngIf="notificationBadge == 0"></i>
      <!-- <i class="pi pi-question"></i> -->
    </div>
  </section>
</header>