@import '../../../../variables';

.header{
    @apply flex w-full h-full items-center justify-center;
}

.header > section {
    @apply flex w-[90%] h-full justify-between items-center;
}

.current-location{
    @apply flex w-[50%] h-full justify-start items-center;

    p {
        @apply pl-2;
    }
}
.items-header{
    @apply flex w-[15%] h-full justify-around items-center;
}
i{
    @apply text-xl;
    color: $primaryColor;
}

.back {
    @apply p-1 transition-colors rounded-md cursor-pointer;

    &:hover {
        @apply transition-colors;
        background-color: $primaryColor;
        color: $secondColor;
    }
}