<header class="header">
    <section>
        <div class="current-location medium-text">

            <i 
                (click)="back()" 
                class="pi pi-angle-double-left back"
                *ngIf="location !== 'Home' && location.includes('aceitar-convite')"
            ></i>
            <p>
                {{location}}
            </p>
        </div>
        <div class="items-header">
            <i class="pi pi-bell cursor-pointer" (click)="openNotifications()"></i>
            <i class="pi pi-question"></i>
        </div>
    </section>
</header>




