<ul>
    <ng-container *ngFor="let color of colorsList;">
        <li (click)="selectColor(color)" [ngClass]="color.status === 'selected' ? 'emphasis' : ''">
            <div [ngStyle]="{'background-color': color.color , 'border' : color.color}">
                <p class="regular-text color">{{color.name}}</p>
                <fa-icon *ngIf="color.status == 'selected'" class="regular-text color" [icon]="faCheck"></fa-icon>
            </div>
        </li>
    </ng-container>
</ul>
<div class="info">
    <div class="flex flex-row w-full h-[50%] justify-center items-center">
        <fa-icon [icon]="circleInfo"></fa-icon>
        <p class="small-text pl-2">
            Escolha a cor e veja o resultado em tempo real
        </p>
    </div>

    <div class="real-time-view color" [ngStyle]="{'background-color': currentColor}">
        {{propertyList.value}}
    </div>
</div>