@import "../../../../variables";

form{
    @apply w-full h-full flex flex-col justify-between;
    color: $primaryColor;
}

.title{
    @apply flex h-[15%];
}

.div-grid-name-image{
    @apply grid w-full h-[30%];
    grid-template-columns: 65% 35%;
}

.input-name{
    @apply flex flex-col w-full h-[50%];

    p{
        @apply text-xl pb-6;
    }
    input{
        @apply flex h-52 rounded-md pl-4;
    }
}

.image {
    @apply w-[250px] h-[250px] p-2 rounded-full flex flex-col justify-center items-center;


    img {
        @apply w-[80%];
    }

    .profile-photo {
        color: $primaryColor;
        font-size: 10rem;
        padding-left: 27%; 
    }
}

.input-div {
    @apply w-full h-full flex justify-center items-center absolute;
    opacity: 0;

    .input-file {
        @apply cursor-pointer w-full h-full;
    }

}

.input-image{
    @apply flex flex-col w-full h-[50%] justify-center items-center;

    .image-icon{
        @apply text-9xl;
        color: $primaryColor;
    }

    .image-icon:hover{
        opacity: 0.5;
    }

    p{
        @apply pt-4;
    }
}

.input-description{
    @apply flex flex-col w-full h-[30%];

    p{
        @apply pb-6;
    }
    textarea{
        @apply pl-4 pt-4 rounded-md h-full;
        resize: none;
    }
}

.div-buttons{
    @apply flex h-[25%] w-full justify-end items-center;

    .buttons{
        @apply flex w-full h-full justify-end items-center;
    }

    .cancel-button{
        @apply flex items-center justify-center w-32 h-12 rounded-sm mr-4;
        background-color: $error;
        color: white;
    }
    .confirm-button{
        @apply flex items-center justify-center w-32 h-12 rounded-sm;
        background-color: $primaryColor;
        color: white;
    }
}



app-modal-warn{
    color: $primaryColor;
    
    h5{
        @apply pt-2;
    }

    .informations-modal{
        @apply flex pt-12 flex-col;
    }

    app-button{
        @apply pt-12;
    }
}
