<form [formGroup]="form" class="modal-overlay">
  <div class="modal">
    <h4 class="title" *ngIf="typeString === 'team'">Crie uma nova equipe...</h4>
    <h4 class="title" *ngIf="typeString === 'project'">Crie um novo Projeto...</h4>
    <span class="flex w-full justify-between" *ngIf="typeString === 'projectInfo'">
      <h4 class="title">Editar Projeto...</h4>
      <fa-icon [icon]="faX" (click)="closeScreen()"></fa-icon>
    </span>
    <div class="div-grid-name-image">
      <div class="input-name">
        <p class="medium-text">{{ typeString === 'team' ? 'Nome da Equipe' : 'Nome do Projeto' }}</p>
        <input formControlName="name" type="text"
          [placeholder]="'Insira um nome...'"
          *ngIf="typeString != 'projectInfo'">
        <input formControlName="name" type="text" *ngIf="typeString === 'projectInfo'" [(ngModel)]="project.name">
      </div>
      <div class="circular">
        <img src="data:image/jpg;base64, {{base64}}" alt="" class=" object-cover max-h-[150px]">
        <form class="input-div">
          <input type="file" class="input-file" (change)="onFileSelected($event)">
        </form>
      </div>
    </div>

    <div class="input-description"
      *ngIf="typeString === 'team' || typeString === 'project' || typeString === 'projectInfo'">
      <p class="medium-text">{{ typeString === 'team' ? 'Descrição da Equipe' : 'Descrição do Projeto' }}</p>
      <textarea formControlName="description" *ngIf="typeString != 'projectInfo'"
        [placeholder]="typeString === 'team' ? 'Insira uma descrição à equipe...' : 'Insira uma descrição ao projeto...'"></textarea>
      <textarea formControlName="description" *ngIf="typeString === 'projectInfo'" [(ngModel)]="project.description"></textarea>
    </div>

    <ng-container *ngIf="typeString === 'projectInfo' || typeString === 'project'">

      <div class="flex flex-row w-full pt-3 gap-5">
        <div class="flex w-1/2 flex-col" *ngIf="showResponsibles">
          <p class="large-text self-start"> Responsáveis</p>
          <p-multiSelect [options]="listOfResponsibles" formControlName="listOfResponsibles"
            placeholder="Responsáveis do Projeto" appendTo="body" class="flex items-start justify-start pt-2"
            [(ngModel)]="selectedUsers" [style]="{ width: '255px'}"></p-multiSelect>
        </div>
        <div class="flex w-1/2 flex-col">
          <p class="large-text self-start">Revisões</p>
          <p-dropdown class="flex items-start justify-start pt-2" [options]="optionsReview" [style]="{ width: '255px'}" formControlName="projectReviewENUM"></p-dropdown>
        </div>
      </div>

      <div class="flex flex-col w-full pt-3">
        <p class="large-text self-start">Dependências</p>
        <p-dropdown class="flex items-start justify-start pr-1 pt-2" [options]="dependencies" optionLabel="name"
          formControlName="projectDependency" placeholder={{dependency}} [style]="{ width: '250px'}" 
          emptyMessage="Não há outros projetos"></p-dropdown>
      </div>
    </ng-container>

    <div class="div-buttons">
      <div class="buttons" *ngIf="projectNull">
        <button class="cancel-button" (click)="closeScreen()" *ngIf="projectNull">Cancelar</button>
        <button class="confirm-button" (click)="onSubmit()" *ngIf="typeString != 'projectInfo'">Confirmar</button>
      </div>
      <button class="confirm-button" (click)="onSubmit()" *ngIf="typeString === 'projectInfo'">Editar</button>
    </div>
  </div>
</form>