@import "../../../../variables";

form{
    @apply w-full h-full flex flex-col justify-between;
    color: $primaryColor;
}

.title{
    @apply flex h-[15%];
}

.div-grid-name-image{
    @apply grid w-full h-[30%];
    grid-template-columns: 65% 35%;
}

.input-name{
    @apply flex flex-col w-full h-[50%] justify-start items-start;

    p{
        @apply pt-6 pb-6;
        font-size: $mediumText
    }
    input{
        @apply flex h-52 rounded-md pl-4 w-96;
    }
}

.image {
    @apply w-full h-full flex justify-end items-end;


    img {
        @apply flex w-full justify-end items-end;
    }

    .profile-photo {
        color: $primaryColor;
        font-size: 10rem;
        padding-left: 27%; 
    }
}

.input-div {
    @apply w-full h-full flex justify-end items-end absolute;
    opacity: 0;

    .input-file {
        @apply cursor-pointer w-full h-full;
    }

}

.input-image{
    @apply flex w-full h-[50%] justify-end items-end;

    .image-icon{
        font-size: 8rem;
        color: $primaryColor;
    }

    .image-icon:hover{
        opacity: 0.5;
    }
}

.input-description{
    @apply flex flex-col w-[90%] h-[60%] w-full items-start;

    p{
        @apply pb-6;
        font-size: $mediumText
    }
    textarea{
        @apply pl-4 pt-4 rounded-md h-full w-[99%];
        resize: none;
    }
}

.div-buttons{
    @apply flex h-[20%] w-[99%] justify-end items-end;

    .buttons{
        @apply flex w-full h-full justify-end items-end;
    }

    .cancel-button{
        @apply flex items-center justify-center w-24 h-8 rounded-sm mr-4;
        background-color: $error;
        color: white;
    }
    .confirm-button{
        @apply flex items-center justify-center w-24 h-8 rounded-sm;
        background-color: $primaryColor;
        color: white;
    }
}

app-modal-warn{
    color: $primaryColor;
    
    h5{
        @apply pt-2;
    }

    .informations-modal{
        @apply flex pt-12 flex-col;
    }

    app-button{
        @apply pt-12;
    }
}

.modal-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-[#b4b4b4] bg-opacity-50 flex justify-center items-center transition-transform;
    z-index: 999;
}

.modal {
    @apply absolute rounded-md flex flex-col w-[550px] h-[650px]
    items-start justify-start text-center p-8 border-t-8;
    border-color: $primaryColor;
    background-color: $secondColor;
}

.size {
    font-size: $largeText;
}

textarea{
    outline: none;
}
