<form [formGroup]="form" (ngSubmit)="onSubmit()" class="modal-overlay" *ngIf="!modalCopyLink">

  <div class="modal">
    <h4 class="title" *ngIf="typeString === 'team'">Crie uma nova equipe...</h4>
    <h4 class="title" *ngIf="typeString === 'project'">Crie um novo Projeto...</h4>
    <div class="flex justify-between flex-row w-full h-[15%]">
      <h4 *ngIf="typeString === 'projectInfo'">Informações do projeto</h4>
      <h4 *ngIf="typeString === 'projectInfo'" (click)="closeScreen()">X</h4>
    </div>
    <div class="div-grid-name-image">
      <div class="input-name">
        <p>{{ typeString === 'team' ? 'Nome da Equipe' : 'Nome do Projeto' }}</p>
        <input formControlName="name" type="text"
          [placeholder]="typeString === 'team' ? 'Adicione um nome à equipe' : 'Adicione um nome ao projeto'"
          *ngIf="projectNull">
        <input formControlName="name" type="text" *ngIf="!projectNull"  [(ngModel)]="name">
      </div>
      <div class="input-image">
        <div class="image relative">
          <img *ngIf="selectedFile" alt="">
          <fa-icon [icon]="faImage" class="image-icon" *ngIf="!selectedFile"></fa-icon>
          <form class="input-div">
            <input type="file" class="input-file" (change)="onFileSelected($event)" >
          </form>
        </div>
      </div>
    </div>

    <div class="input-description" *ngIf="typeString === 'team' || typeString === 'project' || typeString === 'projectInfo'">
      <p>{{ typeString === 'team' ? 'Descrição da Equipe' : 'Descrição do Projeto' }}</p>
      <textarea formControlName="description" *ngIf="projectNull"
        [placeholder]="typeString === 'team' ? 'Insira uma descrição à equipe...' : 'Insira uma descrição ao projeto...'"></textarea>
      <textarea formControlName="description" *ngIf="!projectNull"
        [(ngModel)]="description"></textarea>
    </div>

    <p-treeSelect formControlName="listOfResponsibles" class="w-[65%] md:w-20rem pt-4" containerStyleClass="w-full"
      display="chip" [options]="listOfResponsibles" [metaKeySelection]="false" selectionMode="checkbox"
      placeholder="Atribue responsáveis ao projeto" [filter]="true" [filterInputAutoFocus]="true"
      [(ngModel)]="selectedUsers" 
      *ngIf="typeString === 'project' || typeString === 'projectInfo'">
    </p-treeSelect>

    <p-dropdown 
    class="flex items-start justify-start w-[65%] pt-2"
    [options]="optionsReview" 
    optionLabel="name" 
    [showClear]="true" 
    placeholder="Selecione opção de revisão"></p-dropdown>

    <div class="div-buttons">
      <div class="buttons" *ngIf="projectNull">
        <button class="cancel-button" (click)="closeScreen()" *ngIf="projectNull">Cancelar</button>
        <button class="confirm-button" type="submit" *ngIf="projectNull">Confirmar</button>
      </div>
      <button class="confirm-button" type="submit" *ngIf="!projectNull" (click)="updateProject()">Editar</button>
    </div>
  </div>
</form>

<!-- <app-modal-warn (close)="closeScreen()" *ngIf="modalCopyLink" >
  <h5 *ngIf="typeString === 'team'">Equipe {{form.value.name}} criada com sucesso!</h5>
  <h5 *ngIf="typeString === 'project'">Projeto {{form.value.name}} criado com sucesso!</h5>
  <div class="informations-modal medium-text">
    <p *ngIf="typeString === 'team'">Convide pessoas para {{form.value.name}}</p>
    <p *ngIf="typeString === 'team'">através do link abaixo.</p>
  </div>
  <app-button [title]="'Copiar Link de Convite'" *ngIf="typeString === 'team'" [icon]="'pi-link'" [width]="'250px'"
    [height]="'50px'" (clickEvent)="copyLink()" />
</app-modal-warn> -->