<div class="bg">
    <div class="title">
        <div>
            <h5>Segurança</h5>
            <fa-icon [icon]="faLock" class="icon size"></fa-icon>
        </div>
    </div>


    <div class="w-[85%]">
        <form action="POST" [formGroup]="form" 
            (ngSubmit)="onSubmit()" class="w-full max-h-full"
        >

            <div *ngFor="let item of passwords; index as i">
                <section>
                    <p class="regular-text text-bold">{{item.label}}</p>
                    <div class="iconInputBlock">
                        <div class="iconBox">
                            <fa-icon [icon]="item.icon" class="icon"></fa-icon>
                        </div>
                        <span (ngSubmit)="passwordValidation()">
                            <div class="h-full w-full p-input-icon-right">
                                <input [type]="item.statusEye ? 'text' : 'password'"
                                class="small-text" formControlName="{{item.formControlName}}" />
                                <i (click)="passwordEye(item)" class="pi pi-eye icon" *ngIf="!item.statusEye"></i>
                                <i (click)="passwordEye(item)" class="pi pi-eye-slash icon" *ngIf="item.statusEye"></i>
                            </div>
                        </span>
                    </div>
                </section>
            </div>
        

        <div class="requires">
            <div class="small-text">
                <p class="medium-text">Requisitos para uma boa senha:</p>
                <p>*8 caracteres ou mais</p>
                <p>*Pelo menos uma letra maiúscula</p>
                <p>*Pelo menos um caractere especial (#@!%$)</p>
                <p>*As senhas coincidem</p>
            </div>

            <div>
                <button type="submit" (click)="clickOption('edit')"
                    [disabled]="!form.valid"
                    [ngClass]="form.valid ? 'edit' : 'noEdit'">
                    Redefinir
                </button>
            </div>
        </div>
    </form>
    </div>

</div>
