<div class="bg">
    <div class="title">
        <div>
            <p>Segurança</p>
            <fa-icon [icon]="faLock" class="icon size"></fa-icon>
        </div>
    </div>


    <div class="w-[85%]">
        <div *ngFor="let item of passwords; index as oi">
            <section>
                <label>Confirme sua senha antiga</label>
                <div class="iconInputBlock">
                    <div class="iconBox">
                        <fa-icon [icon]="item.icon" class="icon"></fa-icon>
                    </div>
                    <div class="h-full w-full p-input-icon-right">
                        <input (input)="onChange(oi)" [type]="statusEye ? 'text' : 'password'" />
                        <i (click)="passwordEye()" class="pi pi-eye icon" *ngIf="!statusEye"></i>
                        <i (click)="passwordEye()" class="pi pi-eye-slash icon" *ngIf="statusEye"></i>
                    </div>
                </div>
                <div *ngIf="item.type === 'oldPassword'" class="forgot-password">
                    <p>Esqueci minha senha</p>
                </div>
            </section>
        </div>

        <div class="requires">
            <div>
                <p>Requisitos para uma boa senha:</p>
                <p>*8 caracteres ou mais</p>
                <p>*Pelo menos uma letra maiúscula</p>
                <p>*Pelo menos um caractere especial (#@!%$)</p>
                <p>*As senhas coincidem</p>
            </div>

            <div>
                <button (click)="clickOption('edit')" 
                [disabled]="contentEditable === true ? false : true"
                [ngClass]="contentEditable === true ? 'edit' : 'noEdit'">
                    Redefinir
                </button>
            </div>
        </div>
    </div>

</div>