<div class="bg">
    <div class="title">
        <div>
            <p class="large-text">Segurança</p>
            <fa-icon [icon]="faLock" class="icon size"></fa-icon>
        </div>
    </div>


    <div class="w-[85%]">
        <div *ngFor="let item of passwords; index as i">
            <section>
                <p class="medium-text text-bold">{{item.label}}</p>
                <div class="iconInputBlock">
                    <div class="iconBox">
                        <fa-icon [icon]="item.icon" class="icon"></fa-icon>
                    </div>
                    <form (ngSubmit)="passwordValidation()">
                        <div class="h-full w-full p-input-icon-right">
                            <input (input)="onChange(i)" [type]="item.statusEye ? 'text' : 'password'"
                                [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" class="regular-text"/>
                            <i (click)="passwordEye(item)" class="pi pi-eye icon" *ngIf="!item.statusEye"></i>
                            <i (click)="passwordEye(item)" class="pi pi-eye-slash icon" *ngIf="item.statusEye"></i>
                        </div>
                    </form>
                </div>
            </section>
        </div>

        <div class="requires">
            <div class="regular-text">
                <p class="medium-text">Requisitos para uma boa senha:</p>
                <p>*8 caracteres ou mais</p>
                <p>*Pelo menos uma letra maiúscula</p>
                <p>*Pelo menos um caractere especial (#@!%$)</p>
                <p>*As senhas coincidem</p>
            </div>

            <div>
                <button type="submit" (click)="clickOption('edit')" (click)="passwordValidation()"
                    [disabled]="contentEditable === true ? false : true"
                    [ngClass]="contentEditable === true ? 'edit' : 'noEdit'">
                    Redefinir
                </button>
            </div>
        </div>
    </div>

</div>

<app-modal-warn *ngIf="!validPassword" [height]="'300px'" [width]="'500px'" (close)="closeModal()">
    <div class="modal">
        <h5>As senhas não coincidem</h5>
    </div>
</app-modal-warn>