@import '../../../../variables.scss';
@import '../../../../styles.scss';


.bg {
    @apply  flex h-full w-screen; 
}

label {
 @apply py-3 text-sm;
}

.iconProfile {
    color: $primaryColor;
}

.iconInput {
    color: $primaryColor;
    background-color:#CDD8EA;
}

.generalDiv {
    @apply flex w-full justify-end py-4;
}

.iconInputBlock {
    @apply flex justify-start;

    .teste {
         @apply flex w-12 h-12 justify-center items-center rounded-l-sm;
         background-color: #CDD8EA;
     }

     input {
            @apply bg-white
            rounded-r-sm
            placeholder-slate-400 
            px-3 w-[70%] h-12;
     }
}

label {
    @apply text-xl;
    color: $primaryColor;
}

.divInputs {
    @apply flex w-[95%]
}

.divLeftSide {
    @apply w-[70%] 
}


.divEachInput {
    @apply flex flex-col w-full py-2
}

.divInputIcon {
    @apply flex w-12 h-12 justify-center items-center rounded-l-sm;
    background-color: #CDD8EA
}

.angleDownIcon {
    @apply flex justify-center items-center w-[10%];
    background-color:white;
}


.edit, .confirm, .cancel {
    color: $secondColor;
    @apply h-full w-[180px] flex items-center justify-center gap-4 text-base p-3 rounded font-bold border-2 transition-colors;
}

.edit {
    background-color: grey;
}

.noEdit {
    background-color: grey;
}

.edit {
    background-color: $primaryColor;
}
.divButton {
    @apply flex justify-end items-end py-20;
}

.noeditName {
    outline: 0px solid transparent;
    @apply px-2;
}

.editName {
    @apply border-b-2 border-[#96A4B0];
    outline: 0px solid transparent;
}

.rightSide{
    @apply flex flex-col w-[30%] h-full items-end py-4;
}