@import '../../../../variables.scss';
@import '../../../../styles.scss';

* {
    margin: 0;
    padding: 0;
    background-color: $secondColor;
}

.bg {
    @apply  flex h-full w-screen; 
}

.iconProfile {
    color: $primaryColor;
}

.iconInput {
    color: $primaryColor;
    background-color:#CDD8EA;
}

.userInfop {
    @apply text-xl
    flex flex-col justify-center items-center pt-20 pl-[5%] w-full space-y-4;
    font-family: $titleFont;
}

.userName {
    @apply flex items-end space-y-4 space-x-2  w-full justify-center
}

.generalDiv {
    @apply flex w-full justify-end;
}

.iconInputBlock {
    @apply flex justify-start
}

.rightSide {
    @apply 
    w-[100%]
    h-[100%]
    flex flex-col space-y-12 items-center;
}


.input {
    @apply bg-white
     rounded-r-sm
     placeholder-slate-400 
     px-3
}

label {
    @apply text-xl;
    color: $primaryColor;
}

.divInputs {
    @apply flex w-full h-[50%] w-[95%]
}

.divLeftSide {
    @apply w-[70%] h-full space-y-4
}

.divRightSide {
    @apply w-[30%] h-full flex flex-col items-end space-y-4;
}

.divEachInput {
    @apply flex flex-col w-full space-y-4
}

.divInputIcon {
    @apply flex w-12 h-12 justify-center items-center rounded-l-sm;
    background-color: #CDD8EA
}

.angleDownIcon {
    @apply flex justify-center items-center w-[10%];
    background-color:white;
}

.edit {
    background-color: grey;
    color: $secondColor;
    @apply h-full w-[180px] flex items-center justify-center gap-4
    text-base p-3 rounded font-bold border-2 transition-colors;
}

.confirm {
    background-color: $primaryColor;
    color: $secondColor;
    @apply h-full w-[180px] flex items-center justify-center gap-4
    text-base p-3 rounded font-bold border-2 transition-colors;
}

.cancel {
    background-color: #872323;
    color: $secondColor;
    @apply h-full w-[180px] flex items-center justify-center gap-4
    text-base p-3 rounded font-bold border-2 transition-colors;
}

.disabled {
    display: disabled;
}

.divButton {
    @apply flex justify-end items-end space-y-4
}

.noeditName {
    outline: 0px solid transparent;
    @apply px-2
}

.editName {
    @apply border-b-2 border-[#96A4B0]
}