<div class="bg">
        <div class="generalDiv">
            <div class="divInputs">
                <div class="divLeftSide">
                    <!-- E-mail -->
                    <div class="divEachInput">
                        <label class="text-sm">E-mail</label>
                        <div class="iconInputBlock">
                            <div class="divInputIcon">
                                <fa-icon [icon]="faEnvelope" class="iconInput"></fa-icon>
                            </div>
                            <input type="text" class="input w-[70%] h-12 "
                                placeholder="ana_cb@estudante.sesisenai.org.br" [disabled]="!isEditable()" />
                        </div>
                    </div>


                    <div class="flex items-end py-3">
                        <fa-icon *ngIf="!toogleOn" (click)="toogleCharts()" [icon]="faToggleOff" class="iconProfile">
                        </fa-icon>
                        <fa-icon *ngIf="toogleOn" (click)="toogleCharts()" [icon]="faToggleOn" class="iconProfile">
                        </fa-icon>
                        <p class="px-3">Mostrar gráficos de desempenho para visitantes</p>
                    </div>
                </div>


                        <!-- <div class="divButton">
                            <div *ngIf="!buttonConfirm">
                                <button class="confirm"
                                    (click)="clickOption('edit')">
                                    Editar
                                </button>
                            </div>
                            <div *ngIf="buttonConfirm">
                                <button [ngClass]="click === 'edit' ? 'cancel' : 'confirm'"
                                    (click)="clickOption('edit')">
                                    Cancelar
                                </button>
                            </div>
                            <div *ngIf="!buttonEdit">
                                <button [ngClass]="click === 'confirm' ? 'edit' : 'confirm'"
                                    (click)="clickOption('confirm')">
                                    Confirmar
                                </button>
                            </div>
                        </div>
                     </div> -->
           </div>
        </div>
    </div>