@import '../../../../variables.scss';
@import '../../../../styles.scss';

* {
    margin: 0;
    padding: 0;
    background-color: $secondColor;
}

.bg {
    @apply  flex h-full w-screen; 
}

.iconProfile {
    color: $primaryColor;
}

.iconInput {
    color: $primaryColor;
    background-color:#CDD8EA;
}

.userInfop {
    @apply text-xl
    flex flex-col justify-center items-center space-y-4;
    font-family: $titleFont;
}

.rightSide {
    @apply 
    w-[100%]
    h-[100%]
    flex items-center
    justify-center flex-col
    space-y-12;
}


.input {
    @apply bg-white
     rounded-r-sm
     placeholder-slate-400 
     px-3
}

label {
    @apply text-xl;
    color: $primaryColor;
}

.divInputs {
    @apply flex w-full h-[50%]
}

.divLeftSide {
    @apply w-[60%] h-full space-y-4
}

.divRightSide {
    @apply w-[40%] h-full space-y-4
}

.divEachInput {
    @apply flex flex-col space-y-4
}

.divInputIcon {
    @apply flex w-12 h-12 justify-center items-center rounded-l-sm;
    background-color: #CDD8EA
}

.angleDownIcon {
    @apply flex justify-center items-center w-[10%];
    background-color:white;
}
