<div class="base">
    <div class="side">
        <div class="location">
            <p>Nome da equipe</p>
            <p>Nome da tarefa</p>
        </div>

        <div class="title">
            <h3>Nome da tarefa</h3>
            <p>Ea sunt consectetur ad minim. In sunt duis eu elit nisi velit magna. 
                Commodo duis cupidatat culpa cillum. Pariatur sit fugiat Lorem anim 
                ea magna excepteur qui elit nisi consectetur tempor deserunt. 
                Ea aliquip deserunt officia esse labore velit laborum velit.</p>
            <div class="button">
                <button>Editar descrição</button>
            </div>
        </div>

        <div class="down">
            <div class="buttons">
                <button>Ver participantes</button>
                <button>Iniciar chat</button>
            </div>
        </div>
    </div>
    <div class="side right">
        <div>
            <button>X</button>
        </div>
        <nav>
            <ul>
                <a (click)="navigate('properties')">Propriedades</a>|
                <a (click)="navigate('comments')">Comentários</a>|
                <a (click)="navigate('log')">Histórico</a>
            </ul>
        </nav>
        <div class="components">
            <app-log 
                [task]="task"
                *ngIf="selectedComponent === 'log'"
            />

            <app-comments 
                [task]="task"
                *ngIf="selectedComponent === 'comments'"
            />

            <app-properties 
                [task]="task"
                *ngIf="selectedComponent === 'properties'"
            />
        </div>
        <div class="submit">
            <button>Confirmar</button>
        </div>
    </div>
</div>