<div class="modal-overlay">
    <div class="base">
        <div class="location">
            <div class="routes regular-text">
                <p>Nome da equipe</p>
                <p>{{task.name}}</p>
            </div>
            <button (click)="closeModal()" class="large-text">X</button>
        </div>
        <div class="informations">
            <div class="side">
                <div class="title">
                    <h4>{{task.name}}</h4>
                </div>
                <div class="properties">
                    <app-properties [task]="task" style="width: 100%; height: 100%;" (changes)="changeTask($event)"/>
                </div>
                <div class="down">
                    <div class="buttons">
                        <button>Ver participantes</button>
                        <button>Iniciar chat</button>
                    </div>
                </div>
            </div>
            <div class="side right">
                <nav>
                    <ul>
                        <a (click)="navigate('description')">Descrição</a>
                        <span>|</span>
                        <a (click)="navigate('comments')">Comentários</a>
                        <span>|</span>
                        <a (click)="navigate('log')">Histórico</a>
                    </ul>
                </nav>
                <div class="components">
                    <div *ngIf="selectedComponent === 'description'">
                        <p>{{task.description}}</p>
                        <div class="button">
                            <button>Editar descrição</button>
                        </div>
                    </div>

                    <app-comments [task]="task" *ngIf="selectedComponent === 'comments'" />

                    <app-log [task]="task" *ngIf="selectedComponent === 'log'" />
                </div>
                <div class="submit">
                    <button>Finalizar Tarefa</button>
                </div>
            </div>
        </div>
    </div>
</div>