@import '../../../../variables';

.modal-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-[#b4b4b4] bg-opacity-50 flex justify-center items-center transition-transform;
    z-index: 999;
}

.button {
    @apply bg-transparent text-zinc-500 rounded-md;

    button {
        @apply cursor-pointer hover:bg-zinc-200 p-2;
    }
}

.buttons button,
.submit button {
    border: 1px solid $primaryColor;
    background-color: $primaryColor;
    color: $secondColor;
    @apply p-2;
}

.base {
    @apply flex flex-col p-5 rounded-md;
}

.location {
    @apply flex w-full h-[5%] justify-between;

    .routes {
        @apply flex w-2/3 gap-5 divide-x-2;
    }

    p {
        @apply flex items-center justify-center;
    }

    p:last-child {
        @apply px-5;
    }

    .rightLocation {
        @apply w-1/4 flex justify-evenly
    }
}

.taskInit {
    @apply w-[55%] h-10 flex justify-evenly items-center rounded-sm ;
    background-color: $primaryColor;
    color: $secondColor;
    
}

.taskInit:hover{
    background-color: $secondColor;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    transition: 0.1s;   
    fa-icon{
        color: $primaryColor;
    }
}

.informations {
    @apply grid w-full h-[95%] grid-cols-2 pt-10 px-6;


}

.side {
    @apply w-full h-full flex flex-col gap-16 justify-between;

}

.title {
    @apply w-full h-[10%] text-justify flex flex-col gap-6;

    p:first-child {
        @apply w-full;
    }

}

.button {
    @apply w-full flex justify-end;
}

.down {
    @apply h-[20%] flex flex-row w-full items-end;
}

.buttons {
    @apply flex w-full gap-2;
}

.buttons button:hover,
.submit button:hover {
    background-color: $secondColor;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    transition: 0.1s;
}

.right {
    @apply flex flex-col items-center justify-between;

    nav {
        @apply flex w-full m-1;

        ul {
            @apply flex w-full justify-center gap-7;
        }

        a {
            @apply hover:bg-zinc-200 p-1 rounded-md;
        }
    }

    div:first-child {
        @apply w-full flex justify-end;
    }
}

.submit {
    @apply w-full flex justify-end;
}

.components {
    @apply flex w-[70%] items-center flex-col;
}

@media (max-width: 1420px) {
    .base {
        @apply w-[933px] h-[566px] bg-white;
    }

    .buttons button,
    .submit button {
        @apply w-[160px];
    }

    .title p {
        @apply text-base;
    }

    .properties {
        @apply flex w-full h-[50%];
    }


    .components {
        @apply h-[55%];
    }
}

@media (min-width: 1421px) {
    .title p {
        @apply text-xl;
    }

    .base {
        @apply w-[1300px] h-[750px] bg-white;
    }

    .buttons button,
    .submit button {
        @apply w-[220px] h-[50px];
    }

    .properties {
        @apply flex w-full h-[60%];
        max-height: 400px;
    }

    .components {
        @apply h-[65%];
    }
}

@media (max-width: 899px) {}

input:hover {
    background-color: #f3f0f0;
    cursor: pointer;
}

input:focus {
    cursor: text;
    border-bottom: 1px solid $primaryColor;
}

textarea {
    @apply flex px-4 py-2;
    resize: none;
    min-height: 100px;
    border: none;
    background-color: inherit;
}

textarea:focus {
    @apply shadow-md rounded-sm;
    border: 0 none;
    outline: 0;
}

#finishTask {
    @apply hover:bg-zinc-200 p-2;
    background-color: $error;
}