<section class="screen">
    <div class="container-custom">
        <section class="grid w-full grid-cols-2">
            <div>
                <div>
                    <h4>
                        Espaço de Trabalho
                    </h4>
                </div>
                <div class="pt-2">
                    <p class="small-text text-gray-600">Aqui ficarão centralizadas todas as tarefas do projeto, você
                        poderá
                        filtrar,</p>
                    <p class="small-text text-gray-600"> ordenar e criar novas tarefas. Gerenciando o seu tempo e
                        registrando cada etapa.</p>
                </div>
            </div>
        </section>

        <section class="menu">
            <div>
                <ng-container *ngFor="let item of menuItems">
                    <label [ngClass]="clicked === item.id ? 'clicked' : 'default'" class="medium-text">
                        <i class="{{ item.iconClass }}" style="font-size: 1.4rem"></i>
                        <button (click)="changePreviewMode(item.id)">
                            {{ item.label }}
                        </button>
                    </label>
                </ng-container>
            </div>

            <div class="config-menu medium-text">
                <button *ngIf="!searchBarOpen" (click)="toggleSearchBar()">
                    <i class="pi pi-search"></i>
                </button>

                <div class="search " *ngIf="searchBarOpen">
                    <input type="text" placeholder="Pesquise por uma tarefa..." [(ngModel)]="query">
                    <i class="pi pi-times cursor-pointer" (click)="toggleSearchBar()"></i>
                </div>
                
                <ng-container *ngFor="let item of configItems">
                    <button class="config-buttons" (click)="item.click()">
                        <i [style.transform]="item.id === 'order' ? 'rotate(90deg)' : 'rotate(0deg)'"
                        class="{{ item.iconClass }}"></i>
                    </button>
                </ng-container>
                
                <button class="config-buttons" *ngIf="tasksToReview.length > 0" (click)="toggleReview()">
                    <i class="pi pi-check-square" pBadge value={{badgeNumber}}></i>
                </button>

                <button class="properties-button" (click)="openPropertiesModal()" *ngIf="clicked !== 'Mural'">
                    <i class="pi pi-tags"></i>
                    Propriedades
                </button>
                <button *ngIf="!isMuralPage; else buttonMural" class="create" (click)="createTask()"
                    [disabled]="!canCreate" [ngClass]="canCreate ? 'opacity-100' : 'opacity-20'">
                    <i class="pi pi-plus-circle"></i>
                    Nova tarefa
                </button>
                <ng-template #buttonMural>
                    <button class="create" (click)="createNote()">
                        <i class="pi pi-plus-circle"></i>
                        Nova nota
                    </button>
                </ng-template>
            </div>
        </section>

        <section class="filter-settings regular-text">
            <ng-container *ngIf="filterOpen || orderOpen">
                <div *ngIf="orderOpen">
                    <p>Ordenar por </p>
                    <select>
                        <option *ngFor="let item of filterSettings">
                            {{ item.label }}
                        </option>
                    </select>
                </div>
                <div *ngIf="filterOpen">
                    <p>Filtrar por </p>
                    <select>
                        <option *ngFor="let item of orderSettings">
                            {{ item.label }}
                        </option>
                    </select>
                </div>
            </ng-container>
        </section>

        <section class="router" *ngIf="renderProject | async">
            <app-kanban [project]="project" *ngIf="clicked  === 'Kanban'"
                (openTaskDetails)="changeModalTaskState(true, $event)" [permissions]="permissions"></app-kanban>
            <app-list [project]="project" *ngIf="clicked  === 'List'"
                (openTaskDetails)="changeModalTaskState(true, $event)" [permissions]="permissions"></app-list>
            <app-calendar (openTaskDetails)="changeModalTaskState(true, $event)" [project]="project"
                *ngIf="clicked  === 'Calendar'" [permissions]="permissions"></app-calendar>
            <app-mural *ngIf="clicked  === 'Mural'"></app-mural>
        </section>

    </div>
</section>

<app-modal-properties (changeProjectSettings)="changeProject($event)" *ngIf="propertiesOpen" [height]="'600px'"
    [width]="'450px'" (close)="openPropertiesModal()" [project]="project">
</app-modal-properties>

<app-task (changes)="updateProjectByTaskChanges($event)" [task]="taskOpenObject" *ngIf="taskOpen"
    (close)="changeModalTaskState(false, taskOpenObject)" [project]="project" [permissions]="permissions"></app-task>

<app-modal-warn *ngIf="taskReview" [height]="'650px'" [width]="'900px'" (close)="toggleReview()">
    <h5>Tarefas para serem Revisadas</h5>
    <section class="grid w-full h-full pt-6" style="grid-template-columns: 40% 60%;">
        <div class="flex flex-col h-full w-full overflow-y-auto overflow-x-hidden gap-5">
            <ng-container *ngFor="let taskToReview of tasksToReview">
                <div class="flex h-[90px] w-full items-start justify-center flex-col bg-white border-l-8 rounded-sm px-3"
                [style.borderColor]="getBorderColor(taskToReview)"
                (click)="selectedReviewTask(taskToReview)"
                >
                    <p class="medium-text">{{ taskToReview.name }}</p>
                    <p class="small-text">{{ taskToReview.description }}</p>
                </div>
            </ng-container>
        </div>
        <div>
            <p class="large-text">{{taskBeingReviewed.name}}</p>
            <table>
                <th>Responsável</th>
                <th>Tempo</th>
                <tr *ngFor="let responsable of performanceTable">
                    <td>{{responsable.username}}</td>
                    <td>{{convertTime(responsable.time)}}</td>
                </tr>
            </table>
        </div>
    </section>
</app-modal-warn>
