<div class="card"
    [style.width]="width"
    [style.min-height]="minHeight"
    [style.borderColor]="'var(--primaryColor)'"
    (click)="openTask()"
    (click)="takeCurrentTime()"
    >
  
    <div class="top">
        <div class="left">
            <fa-icon [icon]="faCircleUser" class="icon"></fa-icon>
        </div>
        
        <div class="right">
            <ng-container *ngFor="let item of settings">
                <fa-icon [icon]="item.icon"
                         (click)="item.onclick()"
                         class="icon"
                         [ngClass]="item.disabled ? 'opacity-20' : 'opacity-100'">
                </fa-icon>
            </ng-container>
        </div>
    </div>

    <p class="medium-text">{{task.name}}</p>
</div>

<app-confirm-modal *ngIf="modalDelete" [height]="'300px'" [width]="'400px'" [title]="'a Tarefa'" (close)="delete($event)"></app-confirm-modal>
