@import '../../../../variables';

.card {
    @apply p-3 rounded-sm
    shadow-md flex flex-col gap-8 border-l-[12px] cursor-pointer;
    background-color: $card;
    
    transition:0.3s;

    &:hover {
        scale: 1.015;
        transition:0.3s
    }
}

.top {
    @apply w-full h-1/3 flex justify-between;

    .left {
        @apply w-1/2 h-full flex items-center;

        .icon {
            color: $primaryColor;
            font-size: 2.3rem;
        }
    }

    .right {
        @apply w-1/2 h-full flex items-start justify-end gap-[0.8rem];
        
        .icon {
            color: $primaryColor;
            font-size: 1.2rem;

            &:hover {
                @apply scale-105;
            }
        }
    }

}

p, input{
    @apply  flex items-center pl-2 h-[35px] overflow-hidden max-h-[35px];
}
.name-task{
    background-color: $card;
}

.name-task:hover{
    border-bottom: 1px solid $text;
}
