@import '../../../../variables';

.card {
    @apply w-[300px] h-[140px] p-3 rounded bg-[#F2F2F2] 
    shadow-md flex flex-col gap-8 border-l-[12px] cursor-pointer;
}

.top {
    @apply w-full h-1/3 flex justify-between;

    .left {
        @apply w-1/2 h-full flex items-center;

        .icon {
            color: $primaryColor;
            font-size: 2.8rem;
        }
    }

    .right {
        @apply w-1/2 h-full flex items-start justify-end gap-[0.7rem];
        
        .icon {
            color: $primaryColor;
            font-size: 1.3rem;

            &:hover {
                @apply rotate-[20deg];
            }
        }
    }

}

.main {
    @apply text-xl;

    p {
        color: $primaryColor;
        @apply ml-2;
    }
}

