<div class="main-div">
    <div class="h-[40%] w-[90%] flex justify-between pt-3">
        <div class="flex">
            <input class="pl-5 title" type="text" value="{{group.name}}"
                [ngClass]="input ? 'bg-[#D9D9D9] rounded-2xl' : ''" (click)="editGroupName()">
            <i class="pi pi-check icon" *ngIf="input" (click)="edit(group)"></i>
        </div>
        <fa-icon [icon]="faTrashCan" class="icon" (click)="openModalDelete(group)"></fa-icon>
    </div>
    <div class="h-[48%] flex items-start pl-5">
        <p-multiSelect (click)="getUsersByGroup(group.id)" [options]="usersTeam" optionLabel="name"
            [style]="{ width: '300px', height: '50px'}" placeholder="Membros do grupo" [(ngModel)]=selectedUsers
            (onChange)="addOrDelete($event, group)">
            <ng-template let-user pTemplate="user">
                <span>{{user.firstName}}</span>
            </ng-template>
        </p-multiSelect>
    </div>
    <div class="h-[12%] members">
        <p>{{group.size}} membros</p>
    </div>
</div>

<app-confirm-modal *ngIf="delete" [width]="'450px'" [height]="'250px'" [title]="'o grupo'"
    (confirmEvent)="emitItem($event)">
</app-confirm-modal>

<app-confirm-modal *ngIf="deleteUser" [width]="'450px'" [height]="'250px'" [title]="'o usuário do grupo?'"
    [type]="'userTeam'" (confirmEvent)="removeUser($event)">
</app-confirm-modal>

<app-create-group [group]="group" [team]="team" *ngIf="!selectMoreUsers" [typeString]="'addingParticipants'"
    (close)="addParticipants()">
</app-create-group>