<div class="">
    <div class="main-div">
        <div class="card" [style.width]="width" [style.height]="height">
            <div>
                <p class="large-text">{{ group.name }}</p>
            </div>
            <div>
                <fa-icon [icon]="faComment" class="icon" style="font-size:1rem"></fa-icon>
                <fa-icon *ngIf="!group.open" [icon]="faCaretDown" class="icon" (click)="openModal(group)"
                    style="font-size:1.25rem"></fa-icon>
                <fa-icon *ngIf="group.open" [icon]="faCaretUp" class="icon" (click)="openModal(group)"
                    style="font-size:1.25rem"></fa-icon>
            </div>
        </div>
        <div *ngIf="group.open" class="user">
            <div class="flex justify-start items-center">
                <p *ngIf="selectMoreUsers">{{ 'components.reusable-components.card-group.participants' | translate }}</p>
                <fa-icon *ngIf="selectMoreUsers" [icon]="faCirclePlus" class="icon pl-4" style="font-size:small"
                    (click)="addParticipants()">
                </fa-icon>
            </div>
            <div class="grid grid-cols-2">
                <ng-container *ngFor="let user of group.users">
                    <app-card-user *ngIf="selectMoreUsers" [typeString]="'inTheGroup'" [width]="'270px'"
                        [height]="'0px'" class="user-card" [group]="group" [team]="team" [user]="user"
                        (deleteUserGroup)="openModalDeleteUser($event)">
                    </app-card-user>
                </ng-container>
            </div>
            <div class="flex flex-row justify-end items-center pr-8 pt-5">
                <fa-icon [icon]="faTrashCan" class="icon size" (click)="openModalDelete(group)"></fa-icon>
                <p class="pl-2" *ngIf="selectMoreUsers">{{ 'components.reusable-components.card-group.deleteGroup' | translate }}</p>
            </div>
        </div>

        <app-confirm-modal *ngIf="delete" [width]="'450px'" [height]="'250px'" [title]="'components.reusable-components.card-group.confirmDeleteGroup'"
            (confirmEvent)="emitItem($event)">
        </app-confirm-modal>

        <app-confirm-modal *ngIf="deleteUser" [width]="'450px'" [height]="'250px'" [title]="'components.reusable-components.card-group.confirmDeleteUser'" [type]="'userTeam'"
            (confirmEvent)="removeUser($event)">
        </app-confirm-modal>

        <app-create-group [group]="group" [team]="team" *ngIf="!selectMoreUsers" [typeString]="'addingParticipants'"
            (close)="addParticipants()">
        </app-create-group>

    </div>
</div>
