@import '../../../../variables';

.main-div {
    @apply w-full bg-white h-[150px] shadow-lg;
}

.user-card {
    @apply pt-5 flex flex-col gap-4 w-full;
}

::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    margin-left: 3px;
}

.title{
    font-size: $largeText;
    @apply cursor-pointer;
}

.icon {
    color: $primaryColor;
    font-size: 1rem;
}

.members{
    font-size: $smallText;
    @apply flex justify-end w-[92%] pb-10
}

.clicked {
    @apply bg-[#D9D9D9] rounded-2xl ;
}



