<div class="main-div">
    <div class="h-[40%] w-[90%] flex justify-between pt-3">
        <div class="flex pl-5 pt-1">
            <input class="pl-1 h-3/4 w-[70%] title" type="text" value="{{group.name}}"
                [ngClass]="input ? 'clicked' : ''" (click)="editGroupName()" [(ngModel)]="group.name">
            <i class="pi pi-check icon pt-1 pl-2 cursor-pointer" *ngIf="input" (click)="edit(group)"></i>
        </div>
        <fa-icon [icon]="faTrashCan" class="icon" (click)="openModalDelete(group)"></fa-icon>
    </div>
    <div class="h-[48%] flex items-start pl-5">
        <p-multiSelect (click)="getUsersByGroup(group.id)" [options]="usersTeam" optionLabel="name"
            [style]="{ width: '300px', height: '50px'}" placeholder="Membros do grupo" [(ngModel)]=selectedUsers
            (onChange)="addOrDelete($event, group)">
            <ng-template let-user pTemplate="user">
                <span>{{user.firstName}}</span>
            </ng-template>
        </p-multiSelect>
    </div>
    <div class="h-[12%] members">
        <p>{{group.size}} membros</p>
    </div>
</div>

<app-confirm-modal *ngIf="delete" [width]="'450px'" [height]="'250px'" [title]="'excluir o grupo'"
    (close)="emitItem($event)">
</app-confirm-modal>