@import '../../../../variables';

.card{
    @apply bg-white border-l-8 flex shadow-lg;

    div:first-child{
        @apply h-full w-[90%] flex items-center pl-6;
    };

    div:nth-child(2){
        @apply w-[10%] flex items-center h-full;
    }
}

.icon {
    color: $primaryColor;
}

.user{
    @apply w-full bg-white h-[100px] pl-8;
}

.main-div {
    @apply flex w-[95%] h-[25%] flex-col;
}


