@import '../../../../variables';

section {
    @apply flex w-screen h-full justify-center items-center;
}

.main-div {
    @apply flex flex-col w-[90%] h-full;
}

.top-side {
    @apply flex h-[38%] w-full;
}

.top-side-left {
    @apply flex items-center h-full w-1/2;
}

.top-side-user-img {
    @apply flex justify-center items-center h-full w-[30%];
}

.user-img {
    @apply text-[180px];
    color: $primaryColor;
}

.top-side-user-informations {
    @apply flex flex-col justify-start items-center h-[80%] w-[70%];
}

.userName-creationData {
    @apply flex justify-between items-center h-full w-[88%];
}

.realName-location {
    @apply flex gap-[35px] justify-center items-center h-full w-full;
}

.user-description {
    @apply flex justify-center items-center h-full w-full;
}

.description {
    @apply text-justify w-[88%];
}

.top-side-right {
    @apply pb-6 flex flex-col justify-between items-center h-full w-1/2;
    border-left: $borderBottom;
}

.top-side-right-text {
    @apply flex flex-col justify-end items-start h-[26.5%] w-[90%];
}

.top-side-right-projects {
    @apply flex flex-col justify-start gap-2 items-start h-[69%] overflow-auto w-[90%];
}

.card-project {
    @apply flex justify-between w-[90%] h-[120px] min-h-[120px] rounded-sm;
    background-color: $card;
}

.indicator-color {
    @apply w-[2%] h-full rounded-sm;
}

.project-informations {
    @apply flex flex-col justify-between items-start w-[70%] h-full;
}

.name-project {
    @apply flex flex-col pt-2;
}

.div-dashboard{
    @apply flex relative items-center justify-start w-[20%] h-full;
}

.div-trashIcon{
    @apply flex items-center justify-center w-[10%] h-full;
    color: $primaryColor;
}

.trashIcon{
    color: $primaryColor;
}

mat-progress-spinner {
    ::ng-deep circle {
        stroke: $primaryColor;
    }
}


.spinner-background {
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
    border-color: $emphasis;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
}

.under-side {
    @apply flex justify-center items-center h-[62%] w-full;
}

.div-dashboards{
    @apply flex flex-col justify-evenly pt-5 items-start w-[97%] h-[90%];
}

.dashboards{
    @apply flex gap-5 justify-start items-start w-[100%] h-[70%];
}

.div-dashboard-pie-doughnut{
    @apply flex justify-center items-center w-[25%] h-[85%] border-t-8 shadow-md rounded-md;
    background-color: $card;
    border-top:8px solid $primaryColor; 
}

.dashboard-pie-doughnut{
    @apply flex justify-center items-center w-[55%] h-[70%];
}

.div-dashboard-bar{
    @apply flex justify-center items-center w-[25%] h-[85%] border-t-8 shadow-md rounded-md;
    background-color: $card;
    border-top:8px solid $primaryColor; 
}

.dashboard-bar{
    @apply flex justify-center items-center w-[95%] h-[100%];
}