<section>

    <div class="main-div">

        <div class="top-side">
            <div class="top-side-left">
                <div class="top-side-user-img">
                    <fa-icon class="user-img" [icon]="faCircleUser"></fa-icon>
                </div>

                <div class="top-side-user-informations">
                    <div class="userName-creationData">
                        <p class="regular-text">KaiqueFLH</p>
                        <p class="regular-text">-20/11/2023-</p>
                    </div>

                    <div class="realName-location">
                        <p class="regular-text">Kaique Fernandes Lima Homem</p>
                        |
                        <p class="regular-text">Brasil, Jaraguá do Sul - SC</p>
                    </div>

                    <div class="user-description">
                        <p class="regular-text description">
                            Kaique Fernandes Lima é um talentoso programador que se destaca no mundo da tecnologia. Com
                            uma paixão inabalável pela programação, ele encontrou seu lugar na renomada empresa WEG,
                            onde contribui de maneira significativa para projetos inovadores e desafiadores.
                        </p>
                    </div>
                </div>
            </div>

            <div class="top-side-right">
                <div class="top-side-right-text">
                    <h5 class="h5-text">
                        Projetos com maior desempenho
                    </h5>
                </div>

                <div class="top-side-right-projects">
                    <ng-container *ngFor="let project of projects">
                        <div class="card-project">

                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="under-side">

        </div>

    </div>

</section>