@import '../../../../variables';

.card{
    @apply flex flex-row items-center w-[90%] shadow-lg;
    min-height: 100px;

    div:first-child{
        @apply pl-2;
    }

    div:nth-child(2){
        @apply pl-2 w-[80%];
    };
}

.icon {
    color: $primaryColor;
}

.icon-not-selected {
    color: $secondColor;
}

.permissions {
    @apply flex flex-col;
}