@import '../../../../variables';

.card{
    @apply flex flex-col w-full py-2 shadow-lg;

    .sections-in-card {
        @apply flex w-full items-center ;
        min-height: 70px;

        div:first-child {
            @apply w-[20%] flex items-center justify-center h-full;
            font-size: $regularText
        };

        div:nth-child(2) {
            @apply w-[65%] flex items-start justify-center h-full flex-col;

            p:first-child {
                font-size: $regularText
            };

            p:nth-child(2){
                font-size: $smallText;
                @apply pt-1
            }
        };

        div:nth-child(3) {
            p {
                @apply font-bold pt-12;
                font-size: $smallText;
            };
        };

        .icons-div {
            @apply w-[15%] flex items-center pl-6 h-full;
        };

        .more-infos-div {
            @apply w-[35%] flex items-end pl-6 h-full;
        }
    }
}

.icon {
    color: $primaryColor;
    font-size: 1rem;
}

.icon-not-selected {
    color: #d9d9d9;
    font-size: 1rem;
}

.size {
    font-size: 1.5rem
}

.permissions {
    @apply flex flex-row bg-white items-center justify-between px-4;

    .single-permissions {
        @apply flex flex-row justify-center items-center
    }

    p {
        color: $primaryColor;
        @apply pl-2;
    }
}

p {
    font-size: $smallText;
}

.default-color {
    background-color: $secondColor
}

.default-grid {
    @apply w-full h-full grid grid-cols-2 gap-4;
}

.creating {
    @apply flex flex-col py-4
}

.more-infos {
    @apply flex flex-row justify-between 
}