<div class="card" *ngFor="let user of users">
    <div [style.width]="width" [style.min-height]="height" class="sections-in-card">
        <div>
            <fa-icon size="2x" [icon]="faCircleUser" class="icon"></fa-icon>
        </div>
        <div>
            <p>{{user.firstName}}</p>
        </div>
        <div>
            <fa-icon *ngIf="!user.selected && typeString === 'creating'" [icon]="faSquare"
                class="icon-not-selected size" (click)="selectUser(user)"></fa-icon>
            <fa-icon *ngIf="user.selected && typeString === 'creating'" [icon]="faSquare" class="icon size"
                (click)="selectUser(user)"></fa-icon>
            <fa-icon *ngIf="typeString === 'inTheGroup'" size="1x" [icon]="faUserMinus" class="icon"
                (click)="removeUser(user)">
            </fa-icon>
            <fa-icon *ngIf="typeString === 'permissions'" size="1x" [icon]="faCaretDown" class="icon"
                (click)="openPermissions(user)">
            </fa-icon>
        </div>
    </div>

    <div *ngIf="typeString === 'permissions' && user.openPermission" class="permissions">
        <div class="single-permissions">
            <div>
                <fa-icon [icon]="faSquare" (click)="selectPermission(user, 'Criar')"
                    [ngClass]="user.hasCreatePermission === true ? 'icon' : 'icon-not-selected'"></fa-icon>
                <p>Criar</p>
            </div>
            <div>
                <fa-icon [icon]="faSquare" (click)="selectPermission(user, 'Editar')"
                    [ngClass]="user.hasEditPermission === true ? 'icon' : 'icon-not-selected'"></fa-icon>
                <p>Editar</p>
            </div>
            <div>
                <fa-icon [icon]="faSquare" (click)="selectPermission(user, 'Remover')"
                    [ngClass]="user.hasDeletePermission === true ? 'icon' : 'icon-not-selected'"></fa-icon>
                <p>Remover</p>
            </div>
            <div>
                <fa-icon [icon]="faSquare" (click)="selectPermission(user, 'Visualizar')"
                    [ngClass]="user.hasViewPermission === true ? 'icon' : 'icon-not-selected'"></fa-icon>
                <p>Visualizar</p>
            </div>
        </div>
    </div>
</div>