<div class="card" *ngFor="let user of users">
    <div [style.width]="width" [style.min-height]="height" class="sections-in-card">
        <div>
            <fa-icon style="font-size: 2.5rem" [icon]="faCircleUser" class="icon"></fa-icon>
        </div>
        <div>
            <p>{{user.firstName}}</p>
        </div>
        <div>

            <!-- this icons gotta be refactored -->
            <fa-icon *ngIf="typeString === 'creating'" [icon]="faSquare"
                [ngClass]="user.selected ? 'icon size' : 'icon-not-selected size'" (click)="selectUser(user)"></fa-icon>
            <fa-icon *ngIf="typeString === 'addUsers'" [icon]="faSquare"
                [ngClass]="user.selected ? 'icon size' : 'icon-not-selected size'" (click)="selectUser(user)"></fa-icon>
            <fa-icon [icon]="faUserMinus" class="icon pr-3" style="font-size: 1rem;" (click)="deleteBoolean()"
            *ngIf="typeString === 'inTheGroup'">
            </fa-icon>
            <fa-icon
                *ngIf="typeString === 'permissions' && !user.openPermission || typeString === 'view-infos' && !user.openInfo"
                size="1x" [icon]="faCaretDown" class="icon" (click)="openPermissions(user, typeString)"
                (click)="getPermission(user)">
            </fa-icon>
            <fa-icon
                *ngIf="typeString === 'permissions' && user.openPermission || typeString === 'view-infos' && user.openInfo"
                size="1x" [icon]="faCaretUp" class="icon" (click)="openPermissions(user, typeString)"
                (click)="getPermission(user)">
            </fa-icon>
        </div>
    </div>

    <div *ngIf="typeString === 'permissions' && user.openPermission" class="permissions">
        <div class="single-permissions" *ngFor="let permission of user.permissions">
            <div>
                <fa-icon [icon]="faSquare" [ngClass]="permission.enabled === true ? 'icon' : 'icon-not-selected'"
                    (click)="selectPermission(user, permission)">
                </fa-icon>
                <p>{{permission.name}}</p>
            </div>
        </div>
        <div class="more-infos" [routerLink]="'/perfil-usuario'">
            <p>Ver mais informações</p>
        </div>

        <app-confirm-modal *ngIf="delete" [width]="'450px'" [height]="'250px'" [title]="'o usuário da equipe'"
            (close)="deleteBoolean()" [type]="'userTeam'" (confirmEvent)="validatingDelete(user, $event, typeString)">
        </app-confirm-modal>
    </div>
</div>