@import '../../../../_variables.scss';

.miniChat2 {
    @apply absolute right-0 bottom-0 w-[450px] h-[500px] rounded-sm flex flex-col justify-between items-center shadow-lg;
    
    background-color: $card;

}

@keyframes bottomToTop {
    0% {
        height: 0px;
        overflow: hidden
    }

    100% {
        height: 500px;
    }
}

.miniChat-header {
    @apply flex w-full h-[12%] items-start justify-around;
    background-color: $primaryColor;
}

.miniChat-header-title {
    @apply flex w-[75%] h-full items-center justify-start gap-5;
    color: $card;

    h6 {
        color: $secondColor;
    }
}

.miniChat-header-close {
    @apply flex w-[5%] h-full items-center justify-end gap-5;
    color: $card;
}

.miniChat-main {
    @apply flex w-full h-[88%] items-end pb-5 justify-center;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
}

.message-container.right {
    align-items: flex-end;
}

.message-bubble-left {
    max-width: 70%;
    min-width: 70px;
    padding: 10px;
    border-radius: 5px;
    background-color: $card;
    color: $primaryColor;
    word-wrap: break-word;
    @apply flex flex-col gap-3 shadow-md;
}

.message-bubble-right {
    max-width: 70%;
    min-width: 70px;
    padding: 10px;
    border-radius: 5px;
    background-color: $primaryColor;
    color: $secondColor;
    word-wrap: break-word;
    @apply flex flex-col gap-3 shadow-md;
}

.message-bubble-right:last-child> :last-child {
    @apply flex-row-reverse justify-between w-full
}

.image {
    @apply w-72 h-40;
}

.archive {
    @apply w-16 h-16;

}

.username {
    font-weight: bold;
    margin-bottom: 3px;
}

.timestamp {
    font-size: 12px;
}


.miniChat-main-input {
    @apply flex w-full h-[10%] items-center justify-evenly;
}

.div-search {
    @apply flex border-2 w-[80%] h-full rounded-sm;
    border: 1px solid $emphasis;
}

.input-search {
    @apply pl-[10px] w-[84%] h-[100%];
    color: $text;
}

.div-icons {
    @apply flex gap-2 w-[16%];
}

.icons {
    @apply flex justify-between items-center text-lg;
    color: $primaryColor !important;
}

.paperplane {
    @apply text-base pr-1;
}

.square-chat {
    @apply w-[13%] h-[50%] rounded-sm flex items-center justify-center;
    background-color: $primaryColor;

    .section-icons {
        @apply flex justify-between items-center;
        color: $card !important;
    }
}

.section-icons {
    @apply text-lg flex justify-center items-center;
    color: $primaryColor !important;
}

.high-input-div {
    @apply w-[80%] h-[20%] flex items-center gap-3;
}

.search-div-high {
    @apply flex pr-5 gap-4 shadow-md w-[85%] h-[50%];
    background-color: $card;
    color: $text;
}

textarea {
    background-color: $card;
    color: $text;

}

.emoji-wrapper {
    position: absolute;
    right: 40px;
    bottom: 85px;
    z-index: 5;
}


// ==============================================================================
.imgLogo {
    @apply w-[40px] h-[40px];
}

.div-searchStep1 {
    @apply flex border-2 w-[93%] h-full rounded-sm;
    border: 1px solid $emphasis;
}

.miniChatStep1 {
    @apply absolute right-0 bottom-0 w-[450px] h-[500px] rounded-sm flex flex-col justify-between items-start shadow-lg;
    background-color: $card;
    animation: bottomToTop 0.5s;
}

.minichatStep1-main {
    @apply flex flex-col w-full h-[75%] p-4 items-center gap-4 justify-start overflow-auto;
}

.input-searchStep1 {
    @apply pl-[10px] w-[100%] h-[100%];
    background-color: $card !important;
    border: 1px solid #777777;
}

.card-chat {
    @apply flex justify-between items-center w-[100%] pl-[10px] h-[100px] rounded-sm cursor-pointer min-h-[100px];
    border: 1px solid #777777;
    animation: leftPulse 0.3s;
}

.chatName {
    @apply w-full;
}

.center-div {
    @apply pr-[7%] pl-[7%] pt-[3%] w-[100%] h-[80%] flex flex-col gap-2 overflow-auto;
}

.user-card-message {
    @apply flex gap-6 items-center w-[70%];
    border: 1px solid $card;
}

.chat-icons {
    @apply flex justify-between items-center;
    color: $primaryColor !important;
    font-size: 70px
}

.div-time-message {
    @apply flex items-center justify-center w-[20%];
}

.div-time {
    @apply flex flex-col gap-2 items-center;
}

@media screen and (max-width: 1024px) {

    .miniChatStep1 {
        @apply w-full h-[100%] fixed bottom-0 left-0;
        animation: bottomToTop2 0.5s ease-in-out;
    }

    .high-input-div {
        @apply w-[80%] h-[20%] flex items-center gap-3;
        padding-bottom: 60px;
    }

    .search-div-high {
        @apply flex pr-5 gap-4 shadow-md w-[85%] h-[50%];
        background-color: $card;
        color: $text;
    }

    .miniChat2 {
        @apply w-full h-[100%] fixed bottom-0 left-0;
    }


}

@keyframes bottomToTop2 {
    0% {
        height: 0px;
        overflow: hidden
    }

    100% {
        height: 100%;
    }
}