<div *ngIf="step == 1" class="miniChatStep1">

    <div class="miniChat-header">
        <div class="miniChat-header-title">
            <img class="imgLogo" src="../../../../assets/white-logo.svg" alt="">
            <h6>Conversas</h6>
        </div>
        <div class="miniChat-header-close">
            <fa-icon (click)="openMiniChat(true)" [icon]="faTimes"></fa-icon>
        </div>
    </div>

    <div class="miniChat-main-input">
        <div class="div-searchStep1">
            <input class="input-searchStep1 regular-text" type="text" placeholder="Pesquisar conversa" />
        </div>
    </div>
    
    <div class="minichatStep1-main">
        

        <ng-container *ngFor="let user of users,let i = index">
            <div (click)="openConversation(i)" class="card-chat regular-text">
                <div class="user-card-message">
                    <fa-icon class="chat-icons" [icon]="faCircleUser"></fa-icon>
                    <div class="flex flex-col">
                        <p>{{user.name}}</p>
                        <p>{{user.messages[0].content}}</p>
                    </div>
                </div>

                <fa-icon class="section-icons" [icon]="faStar"></fa-icon>
                <div class="div-time-message">

                    <div class="div-time">
                        <p>{{user.messages[0].time}}</p>
                        <fa-icon class="section-icons" [icon]="faCheckDouble"></fa-icon>
                    </div>
                </div>
            </div>

        </ng-container>
    </div>
</div>

<div *ngIf="step==2" class="miniChat2">
    <div class="miniChat-header">
        <div class="miniChat-header-title">
            <fa-icon (click)="step = 1" [icon]="faArrowLeft"></fa-icon>
            <fa-icon [icon]="faUser"></fa-icon>
            <h6>Nome User</h6>
        </div>
        <div class="miniChat-header-close">
            <fa-icon (click)="expandChat(true)" [icon]="faExpand"></fa-icon>
            <fa-icon (click)="openMiniChat(true)" [icon]="faTimes"></fa-icon>
        </div>
    </div>
    
    <div class="miniChat-main">
        <div class="miniChat-main-input regular-text">
            <div class="div-search">
                <input class="input-search" type="text" placeholder="Digite sua mensagem" />
                <div class="div-icons">
                    <fa-icon class="icons" [icon]="faPaperclip"></fa-icon>
                    <fa-icon class="icons" [icon]="faMicrophoneLines"></fa-icon>
                </div>
            </div>
            <div class="square-chat">
                <fa-icon (click)="submit()" class="paperplane" [icon]="faPaperPlane"></fa-icon>
            </div>
        </div>
    </div>
</div>
