@import '../../../../variables';
.modal-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-[#b4b4b4] bg-opacity-50 flex justify-center items-center transition-transform;

}

.exitModal {
    @apply text-[2rem] font-bold cursor-pointer;
    color: $primaryColor;
}

.modal {
    @apply absolute bg-[#f3f3f3] w-1/4 h-2/5 rounded-md flex flex-col 
    items-end justify-start text-center p-8 border-t-8;
    border-color: $primaryColor;
}

.ng-contentDiv{
    @apply w-full h-full flex flex-col items-center;
}

h2 {
    @apply text-xl font-bold;
}

.text-align {
    @apply flex items-center justify-center w-full h-full flex-col pt-16;   
}

.button-div {
    @apply flex flex-row pt-6 justify-evenly w-[60%];
}

button {
    @apply h-full w-[100px] flex items-center justify-center gap-4 text-base p-3 rounded font-bold border-2 transition-colors;
    color: white;
}

.yes-button {
    background-color: $primaryColor;
}

.no-button {
    background-color: #BDBDBD;
}

h2 {
    @apply text-xl font-bold;
}

.deleted {
    @apply flex items-center justify-center w-full h-full pb-16;
}
