<div class="modal-overlay">
    <div class="modal" [style.height]="height" [style.width]="width">
        <div class="exitModal" (click)="closeModal()">
            <div class="text-align">
                <h2>Tem certeza que deseja excluir essa equipe?</h2>
                <div class="button-div">
                    <button (click)="deleteTeamConfirm('yes')">Sim</button>
                    <button (click)="deleteTeamConfirm('no')">Não</button>
                </div>
            </div>
        </div>

        <div class="ng-contentDiv">
            <ng-content></ng-content>
        </div>
    </div>
</div>