@import '../../../../variables';
.modal-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-[#b4b4b4] bg-opacity-50 flex justify-center items-center transition-transform;
    z-index: 999;
}

.exitModal {
    @apply text-[2rem] font-bold cursor-pointer;
    color: $primaryColor;
}

.modal {
    @apply absolute rounded-md flex flex-col 
    items-end justify-start text-center p-8 border-t-8;
    border-color: $primaryColor;
    background-color: $secondColor;
}

.ng-contentDiv{
    @apply w-full h-full flex flex-col;
}

.text-align {
    @apply flex items-center justify-center w-full h-full flex-col;   
}

.button-div {
    @apply flex flex-row pt-6 justify-end w-full;
}

button {
    @apply h-full w-[100px] flex items-center justify-center gap-4 text-base p-3 rounded font-bold border-2 transition-colors;
    color: $card;
}

.yes-button {
    background-color: $primaryColor;
}
.no-button {
    background-color: $disabled;
}
.deleted {
    @apply flex items-center justify-center w-full h-full pb-16;
}
