<div class="main-div">
    <div class="center-div">
        <div class="square">
            <img src="data:image/jpg;base64, {{team.image}}" alt="" class="h-full w-full">
            <h1 *ngIf="!team.image">{{getFirstLetter(team.name)}}</h1>
        </div>
        <div class="flex flex-col justify-center items-center gap-5">
            <div class="text-invitation">{{team.name}}, te convidou para fazer parte do time!</div>
            <div class="submit gap-3">
                <button (click)="addUserOnTeam()">Entrar na equipe</button>
                <div class="deny-invite">
                    <p (click)="deny()">Recusar convite</p>
                </div>
            </div>
        </div>
    </div>
</div>