<div class="main-div">
    <div class="center-div">
        <img class="w-72 h-72" src="https://cdn-icons-png.flaticon.com/512/17/17004.png"
            alt="">
        <div class="flex flex-col justify-center items-center gap-5">
            <div class="text-invitation">A equipe AKMO, te convidou para fazer parte do time!</div>
            <div class="submit gap-3">
                <button (click)="addUserOnTeam()">Entrar na equipe</button>
                <div class="deny-invite">
                    Recusar convite
                </div>
            </div>
        </div>
    </div>
</div>