<div class="modal-overlay">
    <div class="modal" [style.height]="height" [style.width]="width">

        <!-- Properties and X button -->
        <div class="exitModal">
            <div>
                <fa-icon [icon]="faArrowLeft" class="icon" (click)="arrowLeft()"
                    *ngIf="currentModal != 'general'"></fa-icon>
                <p class="large-text">{{text}}</p>
            </div>
            <div>
                <fa-icon [icon]="faXmark" class="iconX" (click)="closeModal()"></fa-icon>
            </div>
        </div>

        <!-- Search and properties -->
        <!-- output in general and input in edit -->
        <app-general-properties 
            (select)="openStatusSelection('items-selection')"
            (status)="openStatusSelection('status')" 
            (edit)="editTask('edit', $event)" 
            class="pattern-style"
            *ngIf="currentModal === 'general'"
            [project]="project"
            style="width: 100%; height: 100%;">
        </app-general-properties>
        
        <app-edit-properties 
            [project]="project"
            [property]="property"
            (edit)="editTask('edit', $event)" 
            (gear)="editTask('edit', $event)"
            (selection)="openStatusSelection('items-selection')" 
            class="pattern-style" 
            *ngIf="currentModal === 'edit'" />

        <!-- REQUIREMENTS -->
        <app-colors class="pattern-style" *ngIf="currentModal === 'colors'"></app-colors>
        <app-status (pencil)="openStatusSelection('pencil')" class="pattern-style" *ngIf="currentModal === 'status'" />
        <app-items-selection (pencil)="openStatusSelection('pencil')" class="pattern-style"
            *ngIf="currentModal === 'items-selection'" [property]="property"></app-items-selection>
    </div>
</div>