<div class="modal-overlay">
    <div class="modal" [style.height]="height" [style.width]="width">

        <!-- Properties and X button -->
        <div class="exitModal">
            <div>
                <fa-icon [icon]="faArrowLeft" class="icon" (click)="arrowLeft()" *ngIf="currentModal != 'general'"></fa-icon>
                <p class="large-text" *ngIf="currentModal === 'general'">Propriedades</p>
                <p class="large-text" *ngIf="currentModal === 'status'">Status</p>
                <p class="large-text" *ngIf="currentModal === 'colors'">Cores</p>
                <p class="large-text" *ngIf="currentModal === 'edit'">Edite a propriedade</p>
                <p class="large-text" *ngIf="currentModal === 'items-selection'">Itens Seleção</p>
            </div>
            <div>
                <fa-icon [icon]="faXmark" class="icon" (click)="closeModal()"></fa-icon>
            </div>
        </div>

        <!-- Search and properties -->
        <app-general-properties (edit)="clickGear('add')" (gear)="clickGear('gear')" (plus)="clickGear('plus')" style="width: 100%; height: 100%;" *ngIf="currentModal === 'general'"></app-general-properties>
        <app-edit-properties style="width: 100%; height: 100%;" *ngIf="currentModal === 'edit'" />
        <app-status (pencil)="clickGear('pencil')" style="width: 100%; height: 100%;" *ngIf="currentModal === 'status'" />
        <app-colors style="width: 100%; height: 100%;" *ngIf="currentModal === 'colors'"></app-colors>
        <app-items-selection style="width: 100%; height: 100%;" *ngIf="currentModal === 'items-selection'"></app-items-selection>
    </div>
</div>