@import '../../../../variables';

.card {
    @apply relative bg-white overflow-hidden shadow-md 
    rounded-sm flex cursor-move transition-colors min-w-[120px] min-h-[120px];
    position: relative;
  }
  
  .card span:last-child {
    @apply p-2 ;
  
    &:hover {
      @apply bg-zinc-50 transition-colors;
  
      .right .icons {
        @apply bg-zinc-50 transition-colors;
      }
    }
  
    .left {
      @apply flex flex-col gap-4 h-full w-4/5;
  
      .title {
        @apply text-xl;
      }
  
      .text {
        @apply text-justify h-full w-full;
  
        p {
          @apply h-[70%] w-full overflow-hidden;
        }
      }
    }
  
    .right {
      @apply min-w-[30%] h-full flex flex-col items-end 
      justify-end transition-colors;
      position: absolute;
      top: 0;
      right: 0;
  
      .date {
        @apply text-sm;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 10px;
        padding-right: 10px;
      }
  
      .icons {
        @apply w-1/2 h-1/4 bg-white flex gap-1 pl-3 pb-1 items-end 
        justify-end flex-col transition-colors;
        position: absolute; 
        bottom: 0;
        right: 0;
        padding-bottom: 10px;
        padding-right: 10px;
  
        i {
          font-size: 1rem;
          cursor: pointer;
          padding: 4px;

          &:hover {
            color: $secondColor;
            background-color: $primaryColor;
            border-radius: 15px;
          }
        }
      }
    }
  }
  
  .full {
    width: 100%;
  }
  
  .dragHandle {
    position: absolute;
    // background-color: black;
  }
  
  .dragHandle.corner {
    width: 15px;
    height: 15px;
    z-index: 90;
    cursor: nwse-resize;
  }
  
  .dragHandle.right {
    width: 6px;
    height: 100%;
    z-index: 90;
    cursor: ew-resize;
  }
  
  .dragHandle.bottom {
    height: 6px;
    width: 100%;
    z-index: 90;
    cursor: ns-resize;
  }
  