<section class="modal-overlay">
    <div class="modal">

        <div class="ng-contentDiv">
            <div id="divGeralModal">

                <div class=" flex flex-col gap-10 ">

                    <div class="divH1Modal">
                        <h5 class="font-bold">{{ 'components.modals.change-password.title' | translate }}</h5>
                    </div>

                    <div class="flex flex-col gap-5 h-[45%]">
                        <h3 class="text-[15px] text-[#092c4c]">{{ 'components.modals.change-password.subtitle' | translate }}</h3>
                        <div class="flex justify-evenly">
                            <input class="square-code" [(ngModel)]="password" [type]="isVisible ? 'text' : 'password'"
                             required [placeholder]="'components.modals.change-password.placeholder' | translate">
                            <div class="icon-div" (click)="changeEyeIcon()">
                                <i class="pi pi-eye-slash icon pr-2" *ngIf="isVisible"></i>
                                <i class="pi pi-eye icon pr-2" *ngIf="!isVisible"></i>
                            </div>
                        </div>
                        <div class="flex justify-center">
                            <button id="enter-btn" type="submit" (click)="sendNewPassword()">{{ 'components.modals.change-password.button' | translate }}</button>
                        </div>
                    </div>

                    <div class="h-[45%] text-left">
                        <p class="medium-text">{{ 'pages.user-settings.security.requirements' | translate }}</p>
                        <p>{{ 'pages.user-settings.security.lengthRequirement' | translate }}</p>
                        <p>{{ 'pages.user-settings.security.uppercaseRequirement' | translate }}</p>
                        <p>{{ 'pages.user-settings.security.lowercaseRequirement' | translate }}</p>
                        <p>{{ 'pages.user-settings.security.specialCharRequirement' | translate }}</p>
                        <p>{{ 'pages.user-settings.security.passwordMatchRequirement' | translate }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>