@import "../../../../variables";

section {
    @apply flex w-full h-full flex-col;
    color: $primaryColor;
}

.header-calendar {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    text-align: center;

    .title {
        @apply flex flex-col;
        div {
            @apply flex flex-row justify-center pt-2 items-center;

            fa-icon {
                color: $primaryColor;
            }

            p {
                @apply pl-4;
            }
        }
    }

    button {
        @apply flex h-full w-24 justify-between items-center;
    }
}

.calendar {
    @apply flex w-full h-full pt-8;
    display: grid;
    grid-template-rows: repeat(5, 1fr);


    .days-of-week {
        @apply pb-4;
        border: 1px solid $emphasis;
        border-top: none;
        text-align: center;
    }

    .calendar-rows{
        display: grid;
        grid-template-columns: repeat(7, 235px);
    }

    .calendar-day {
        @apply flex p-2 flex-col;
        min-height: 150px;
        border: 1px solid $emphasis;

        .day-informations {
            @apply flex min-h-[30px] w-full justify-between;

            .pi {
                @apply text-[1.1rem] cursor-pointer font-light flex items-center justify-center;

                &:hover {
                    @apply text-[1.2rem];
                }
            }

            div{
                @apply w-8 h-8 rounded-full justify-center flex items-center;
            }

            .today {
                background-color: $primaryColor;
                color: $secondColor;
            }
        }

        .tasks-informations {
            @apply flex w-full h-[80%] items-center;

            .tasks-link-informations{
                @apply flex w-full h-1/2 rounded-sm items-center justify-evenly;
                background-color: $primaryColor;
                color: $secondColor;
            }
            .tasks-link-informations:hover{
                opacity: 0.8;
                cursor: pointer;
            }
        }
        .tasks-list-in-calendar{
            @apply flex flex-col gap-2 pt-2 items-center;
            color: $primaryColor;
        }

    }

    .day-not-month {
        color: #aaa;
    }


}



.div-tasks{
    @apply w-full h-[80%] flex flex-col gap-4;
    overflow-x: hidden;
    overflow-y: auto;
    .card-task{
        @apply flex w-full flex-row items-center justify-between px-8 py-10;
        min-height: 70px;
        text-align: start;
        border-bottom: $borderBottom;
    }
}





.cdk-drop-list-dragging .cdk-drag {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 50%;
}