@import '../../../../../variables';

.little-icon {
    color: $text;
    font-size:1rem;
}

.main-property {
    @apply flex justify-between items-center w-full h-full py-3;
}

.properties {
    @apply flex flex-col h-[445px] w-full  gap-3 items-center;
    overflow-y: auto;
    overflow-x: hidden;

    .status-space{
        @apply flex flex-col w-[95%] ;
        border-top: 2px solid $emphasis;

    }

    
}
.info-status{
    @apply flex flex-col h-[10%] justify-end pt-4;

    p{
        color: $primaryColor;
    }
}

::-webkit-scrollbar {
    margin-left: 1px !important;
    width: 2px !important;
}

.specific-properties {
    @apply flex flex-row items-center justify-start min-h-[40px] rounded-sm;


    div:first-child{
        @apply flex w-[6%] h-full justify-evenly;
        
        fa-icon{
            color: $text;
        }
    }

    div:nth-child(2){
        @apply flex w-[80%] h-full justify-start pl-2 items-center;
    
        input {
            @apply flex rounded-lg px-2;
            outline: none;
          }

        p{
            @apply px-2 rounded-xl; 
            width: auto;
        }
    }

    div:last-child {
        @apply w-[14%] flex justify-between items-center;
    }
}

.bigger-icon {
    color: $primaryColor;
    font-size:1.5rem;
}

.new-property {
    @apply flex w-full items-center pt-3;
 
    p{
     @apply pl-3 items-center;
    }
 }

 .icon {
    color:$text;
 }

 .opacity-icon{
    @apply opacity-75;
}
.color-text{
    color: $primaryColor;
}


.disabled-trash{
    @apply opacity-50;
    cursor: not-allowed;
}
.isFixedDrag{
    @apply opacity-50;
    
    fa-icon{
        cursor: default !important;
    }
}
.isDraggable{
    fa-icon{
        cursor: grab !important;
    }
}