<input (blur)="change($event, value)" type="text" *ngIf="getKind(value.property, 'TEXT')" value="{{getValue(value)}}"/>
<input (blur)="change($event, value)" type="number" *ngIf="getKind(value.property, 'NUMBER')" value="{{getValue(value)}}"/>
<input (blur)="change($event, value)" type="date" *ngIf="getKind(value.property, 'DATE')" value="{{getValue(value)}}"/>
<p *ngIf="getKind(value.property, 'LIST')">NÃO FAÇO IDEIA NO MOMENTO</p>
<!-- <select name="" id="" *ngIf="getKind(value.property, 'STATUS')" (change)="change($event, value)">
    <ng-container *ngFor="let option of getSelectOptions(value)" >
        <option [attr.value]="option.id" [attr.selected]="isSelected(option, value) ? true : null">{{option.value}}</option>
    </ng-container>
</select> -->
 <p-cascadeSelect 
     *ngIf="getKind(value.property, 'STATUS')"
    [(ngModel)]="selectedCity" 
    [options]="getSelectOptions(value)" 
    optionLabel="value" 
    optionGroupLabel="name" 
    [optionGroupChildren]="['states', 'cities']" 
    [style]="{ minWidth: '14rem' }" 
    placeholder="{{value.toString()}}"
    (change)="change($event, value)"
></p-cascadeSelect>
