<div class="bg">

    <!-- lado esquerda -->
    <div class="leftSide">
        <section>
            <p class="settingsTitle">Configurações e Preferências</p>
        </section>

        <!-- Section com a barra lateral de opções gerais -->
        <section class="generalOptions">
            <p class="p">Perfil</p>
            <p>Equipes</p>
            <p>Aparência do Sistema</p>
            <p>Notificações</p>
        </section>
    </div>

    <!-- lado direita -->
    <div class="rightSide">
        <!-- Section com as informações do usuário -->
        <section class="userSection">
            <div class="userInfo">
                <p class="userInfop">Kaique Fernandes Lima Homem</p>
            </div>

            <div class="divGeneralInputs">
                <!-- Inputs do lado esquerdo -->
                <div class="inputs">
                    <!-- Input com o nome do usuário -->
                    <input type="text" class="input" placeholder="Kaique Fernandes Lima Homem" />

                    <!-- Input com o e-mail do usuário -->
                    <input type="email" class="input" placeholder="Kaique_homem@estudante.sesisenai.org.br" />
                </div>

                <div class="inputs">
                    <!-- Input com a senha do usuário -->
                    <input type="email" class="input" placeholder="**********" />

                    <input type="email" class="input" placeholder="**********" />
                </div>
            </div>
        </section>
    </div>


</div>