<div class="bg">

    <!-- lado esquerda -->
    <div class="leftSide">
        <section>
            <p class="settingsTitle">Configurações e Preferências</p>
        </section>

        <!-- Section com a barra lateral de opções gerais -->
        <section class="generalOptions">
            <div class="leftSideContainer boxSelected">
                <i class="pi pi-user iconInputs" style="background-color:#D9D9D9;"></i>
                <p style="background-color:#D9D9D9">Perfil</p>
            </div>
            <div class="leftSideContainer">
                <i class="pi pi-users iconInputs" style="background-color: $secondColor"></i>
                <p>Equipes</p>
            </div>
            <div class="leftSideContainer">
                <i class="pi pi-pencil iconInputs"></i>
                <p>Aparência do Sistema</p>
            </div>
            <div class="leftSideContainer">
                <i class="pi pi-bell iconInputs"></i>
                <p>Notificações</p>
            </div>
        </section>
    </div>

    
    <!-- lado direita -->
    <div class="rightSide">
        <!-- Section com as informações do usuário -->
        <section class="userSection">
            <div class="userInfo">
                <div class="iconUserContainer">
                <i class="pi pi-user iconUser"></i>
                </div>
                <p class="userInfop">Kaique Fernandes Lima Homem</p>
            </div>

            <div class="divGeneralInputs">

                <!-- Inputs do lado esquerdo -->
                <div style="width:500px" class="inputs">
                    <!-- Input com o nome do usuário -->
                    <div class="inputContainer">
                        <!-- container e input para o ícone do input -->
                        <div class="iconContainer inputContainer" style="background-color: #CDD8EA">
                            <i class="pi pi-user iconInputs" style="background-color: #CDD8EA"></i>
                        </div>
                            <input type="text" class="input" placeholder="Kaique Fernandes Lima Homem" />
                        <div class="iconContainer" style="background-color: #CDD8EA">
                            <i class="pi pi-user icon" style="background-color: #CDD8EA"></i>
                        </div>
                        <input type="text" class="input" placeholder="Kaique Fernandes Lima Homem" />
                    </div>

                    <!-- Input com o e-mail do usuário -->
                    <div class="inputContainer">
                        <div class="iconContainer inputContainer" style="background-color: #CDD8EA">
                            <i class="pi pi-user iconInputs" style="background-color: #CDD8EA"></i>
                        </div>
                            <input type="email" class="input" placeholder="Kaique_homem@estudante.sesisenai.org.br" />
                    </div>
                </div>

                <div style="width:200px" class="inputs">
                    <!-- Input com a senha do usuário -->
                    <div class="inputContainer">
                        <div class="iconContainer inputContainer" style="background-color: #CDD8EA">
                            <i class="pi pi-lock iconInputs" style="background-color: #CDD8EA"></i>
                        </div>
                            <input type="password" class="input" placeholder="**********" />
                    </div>

                    <!-- Input com a confirmação de senha do usuário -->
                    <div class="inputContainer">
                        <div class="iconContainer inputContainer" style="background-color: #CDD8EA">
                            <i class="pi pi-user iconInputs" style="background-color: #CDD8EA"></i>
                        </div>
                            <input type="password" class="input" placeholder="************" />
                    </div>
                </div>

            </div>
        </section>
    </div>

</div>