@import '../../../variables.scss';
@import '../../../styles.scss';


* {
    margin: 0;
    padding: 0;
    background-color: $secondColor;
}


.screen{
    @apply flex w-screen h-full justify-center items-center;
}

.container-custom{
    @apply flex w-[90%] h-full;
}


.icon {
    color: $primaryColor
}

.navOptions {
    @apply
    flex justify-start
    gap-4
    w-[60%]
    items-center
}

.p {
    @apply 
    text-2xl
    font-bold;
    font-family: $titleFont;   
}

.ul {
    @apply
    space-y-4 
    flex flex-col 
    w-full;
}

.nav {
    @apply 
    w-[25%]
    h-[90%]
    border-r-2 border-solid border-[#96A4B0]
}

.divIcon {
    @apply
    flex w-[30%] 
    h-full 
    justify-center 
    items-center;
    background-color: $secondColor;

}

.divOptions {
    @apply
    flex w-[70%] 
    h-full 
}

.click {
    background-color: #D9D9D9;
}

.default {
    background-color: $secondColor;

}

.clickBlue {
    @apply border-l-8 border-solid border-[#092C4C];
}




