@import '../../../../variables';

.modal-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-[#b4b4b4] bg-opacity-50 flex justify-center items-center transition-transform;

}

.exitModal {
    @apply text-[2rem] font-bold text-[#092C4C] cursor-pointer;
}

.modal {
    @apply absolute bg-[#f3f3f3] w-1/4 h-2/4 rounded-md flex flex-col items-end justify-start text-center p-8 border-t-8 border-[#092c4c];  
}

.ng-contentDiv{
    @apply w-full h-full flex flex-col items-center;
}

.inputs{
    @apply pl-2 w-80 h-11;

}

#enter-btn{
    @apply
    flex
    w-44
    h-10 
    items-center 
    justify-center 
    rounded-md 
    bg-[#092C4C]
    text-sm 
    font-semibold 
    leading-6 
    text-white shadow-sm
    hover:bg-[#20478b] transition-all ;
}

.divRegisterIconsModal{
    @apply flex flex-col justify-center items-center w-14 h-11 pt-[6.5px];
}

.registerIcons{
    @apply w-10 h-10;
    color: $primaryColor;
}

.divH1Modal{
    @apply w-full flex flex-col items-center;
}

#divGeralModal{
    @apply w-full h-full flex flex-col items-center justify-stretch;
}

.square-code{
    @apply w-96 h-10 bg-[#D9D9D9] rounded-md text-center border-b-2 border-[#092C4C] pl-2;
    border-bottom: 5px solid "#092C4C" ;
}