<section class="modal-overlay" *ngIf="forgotPassword && step==1">
    <div class="modal">

        <div class="exitModal" (click)="toForgotPassword()">
            X
        </div>

        <div class="ng-contentDiv">
            <div id="divGeralModal">

                <div class="w-4/5 flex flex-col gap-10 ">
                    <div class="divH1Modal">
                        <h1 class="text-[30px] text-[#092c4c] font-bold">Esqueceu sua Senha?</h1>
                    </div>

                    <p class=" text-[16px] text-[#092c4c] font-bold">Não se preocupe, vamos te ajudar a recuperar
                        sua senha!
                    </p>
                    <div class="w-full">
                        <div class="flex justify-center ">
                            <div class="divRegisterIconsModal bg-slate-300 ">
                                <fa-icon class="registerIcons" [icon]="faEnvelope"></fa-icon>
                            </div>
                            <input class="inputs" [(ngModel)]="emailTo" name="email" type="email" autocomplete="email" required>
                        </div>
                    </div>
                    <div class="flex flex-col gap-5">
                        <h3 class="text-[15px] text-[#092c4c]">Insira seu e-mail para redefinir sua senha:</h3>
                        <!-- Div do botão de Enviar -->
                        <div class="flex justify-center">
                            <button id="enter-btn" type="submit" (click)="sendCodeToEmail()">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="modal-overlay" *ngIf="forgotPassword && step == 2">
        <div class="modal">

            <div class="exitModal" (click)="toForgotPassword()">
                X
            </div>
            <div class="ng-contentDiv">
                <div id="divGeralModal">
                    <div class="w-4/5 flex flex-col gap-10 ">
                        <div class="divH1Modal">
                            <h1 class="text-[30px] text-[#092c4c] font-bold">Confirme que é você</h1>
                        </div>
                        <p class=" text-[16px] text-[#092c4c] font-bold">Enviamos um código para o e-mail
                            ka****@*****.com
                        </p>
                        <div class="w-full flex flex-col gap-5">
                            <label class="text-[#092c4c]">Digite o código</label>
                            <div class="flex justify-evenly">
                                <input class="square-code" placeholder="Código de confirmação" [(ngModel)]="confirmationCode" (input)="checkCode()">
                            </div>
                            <h3 class="text-[15px] text-[#092c4c] font-bold">Reenviar código</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>

<section class="modal-overlay" *ngIf="forgotPassword && step == 3">
    <div class="modal">

        <div class="exitModal" (click)="toForgotPassword()">
            X
        </div>

        <div class="ng-contentDiv">
            <div id="divGeralModal">
                <div class="w-4/5 flex flex-col gap-5 ">
                    <div class="divH1Modal">
                        <h1 class="text-[30px] text-[#092c4c] font-bold">Insira sua nova senha</h1>
                    </div>

                    <div class="w-full flex flex-col justify-evenly gap-4">
                        <div class="flex justify-center">
                            <div class="divRegisterIconsModal">
                                <fa-icon class="registerIcons" [icon]="faEnvelope"></fa-icon>

                            </div>
                            <input class="inputs" name="email" type="email" autocomplete="email"
                                placeholder="Insira sua senha" [(ngModel)]="password" required>
                        </div>
                        <div class="flex justify-center">
                            <div class="divRegisterIconsModal">
                                <fa-icon class="registerIcons" [icon]="faEnvelope"></fa-icon>

                            </div>
                            <input class="inputs" name="email" type="email" autocomplete="email"
                                placeholder="Confirme sua senha" [(ngModel)]="passwordConf" required>
                        </div>
                    </div>


                    <div>
                        <p class=" text-[16px] text-[#092c4c] font-bold">Requisitos para uma boa senha:</p>
                        <p class="text-[13px]">*8 caracteres ou mais<br>*Pelo menos uma letra maiúscula<br>*Pelo
                            menos
                            um
                            caractere especial (#@!%$)<br>*As senhas coincidem </p>
                    </div>

                    <!-- Div do botão de Enviar -->
                    <div class="flex justify-center">
                        <button id="enter-btn" (click)="checkPassword()" type="submit">Enviar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>