<section>
   <span>
     <div>
       <img class="w-14" src="../../../../../assets/Google-Drive-Logo.png" (click)="openPicker()" alt="">
     </div>
     <span>
       <form class="input-div">
         <input type="file" class="input-file" (change)="onFileSelected($event)">
       </form>
       <i class="pi pi-plus"></i>
       <p>
         {{ 'components.modals.task.attachments.add_attachment' | translate }}
       </p>
     </span>
   </span>
   <div class="container">
     <div>
       <app-attachment-item
         *ngFor="let attc of task.files"
         [file]="attc"
         (removeFile)="fileRemoveHandler($event)">
       </app-attachment-item>
     </div>
   </div>
 </section>
