<!-- QUICK ACCESS COMPONENT -->
<section [ngStyle]="{'align-items': typeString === 'project' ? 'flex-start' : 'flex-end'}">

    <!-- CARD WORKSPACE -->
    <div class="card-workspace">
        <div class="workspace-title">
            <h5 *ngIf="typeString === 'home'">Meu espaço de trabalho</h5>
            <h5 *ngIf="typeString === 'project'">Espaço de trabalho de </h5>
        </div>
        <div class="workspace-options">
            <div class="grid-card-workspace" *ngFor="let section of workSpace">
                <div>
                    <div class="card-workspace-label">
                        <i class="{{section.icon}}"></i>
                        <p class="large-text">{{section.label}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CHARTS -->
    <div class="charts">
        <div class="card-spaces">
            <p class="medium-text">Seu Desempenho Pessoal</p>
            <div>
                <div class="card-chart">
                    <p-chart type="pie" [data]="basicData" style="width:70%"></p-chart>
                </div>
            </div>
        </div>
        <div class="card-spaces">
            <p class="medium-text">Tarefas em Cada Equipe</p>
            <div>
                <div class="card-chart">
                    <p-chart type="pie" [data]="basicData" style="width:70%"></p-chart>
                </div>
            </div>
            <a class="regular-text">Visualizar todos os gráficos</a>
        </div>
    </div>

    <!-- RECENTLY TEAMS -->
    <div class="recently-teams">
        <h6 class="title" *ngIf="typeString === 'home'">Equipes Recentes</h6>
        <h6 class="title" *ngIf="typeString === 'project'">Projetos Recentes de ...</h6>

        <div class="div-recently-teams">
            <div class="recently-teams-team" *ngFor="let team of recentsTeams">
                <div class="recently-team-image">
                    <img src="{{team.image}}" alt="">
                </div>
                <div class="recently-team-info">
                    <p class="large-text">{{team.name}}</p>
                    <p class="regular-text">{{team.date}}</p>
                </div>
            </div>
        </div>
    </div>
</section>