@import '../../../../variables.scss';



section {
    color: $primaryColor;
    @apply flex h-full justify-center pt-8 overflow-x-auto overflow-y-hidden;
    
    .table {
        @apply  flex h-[90%] flex-col overflow-y-hidden rounded-sm mb-12;
        
        .tbody {
            @apply w-full h-full;

            .newTaskButton {
              @apply w-full h-[60px] flex items-center pl-4;
              background-color: $emphasis;
              color: $primaryColor;
              border: 1px solid $emphasis;
              cursor: pointer;
              transition: all 0.3s ease;
              position: static;
              
              &:hover {
                  background-color: $primaryColor;
                  color: $emphasis;
              }
          }
        }
        
        .thead {
            @apply w-full min-h-[60px] flex sticky top-0;
            background-color: $secondColor;

            
            label {
                @apply flex items-center justify-center;
                background-color: $secondColor;
                border: 1px solid $emphasis;
            }
        }
        .trow {
            @apply w-full h-[55px] flex flex-col;
        }
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px $emphasis,
                0 8px 10px 1px $emphasis,
                0 3px 14px 2px $emphasis;
    overflow-x: hidden;
    color: $primaryColor;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
  }


  .nameHeader{
    @apply sticky left-0;
  }