@import '../../../../variables.scss';

section {
    color: $primaryColor;
    @apply flex h-full justify-center overflow-hidden;
    
    .table-vertex {
        @apply  flex max-h-[500px] flex-col rounded-sm mb-12;
        
        .tbody {
            @apply flex w-full h-full flex-col;

            .newTaskButton {
              @apply w-full h-[60px] flex items-center pl-4;
              background-color: $emphasis;
              color: $primaryColor;
              border: 1px solid $card;
              cursor: pointer;
              transition: all 0.3s ease;
              position: static;
              
              &:hover {
                  background-color: $primaryColor;
                  color: $emphasis;
              }
          }
        }
        
        .thead {
            @apply w-[full] min-h-[50px] flex sticky top-0;
            background-color: $secondColor;
            
            label {
                @apply flex items-center justify-center;
                background-color: $secondColor;
                border: 1px solid $emphasis;
            }
        }
        .trow {
            @apply w-full h-[55px] flex flex-col;
        }
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    overflow-x: hidden;
    color: $primaryColor;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
  }


  .nameHeader{
    @apply sticky left-0;
  }

  .null-list {
    @apply w-full h-full pt-10 flex justify-center;
  }
