<section *ngIf="!isNull">
    <div class="table" [ngStyle]="{'overflow-x' : project ? 'auto' : 'hidden'}">
        <div class="thead">
            <label 
                class="min-w-[300px]"
            >              
                <h6>
                Nome
                </h6>
            </label>
        <ng-container *ngFor="let col of project ? project.properties : properties">
                <label 
                    [style.min-width]="project ? '300px' : '245px'"
                    *ngIf="col.propertyStatus != 'INVISIBLE'"
                >              
                <h6>
                    {{col.name}}
                </h6>
            </label>
        </ng-container>
        </div>

        <div class="tbody overflow-y-auto overflow-x-hidden"
            cdkDropList 
            (cdkDropListDropped)="dropCard($event)"
        >
            <ng-container 
                *ngFor="let task of (taskList 
                    | namePipe : queryFilter 
                    | statusPipe : filter : project === undefined 
                    | statusBasicPipe : filter : project === undefined
                    | datePipe : filter
                    | simplePropertyPipe : simplePropertyFilter
                    | nameSortPipe : orderParams
                    | dateSortPipe : orderParams
                    | statusSortPipe : orderParams)"
                >
                <div 
                    class="trow regular-text relative"
                    [cdkDragData]="task"
                    cdkDrag
                    cdkDragLockAxis="y"
                    cdkDragBoundary=".table"
                >
                    <app-row-card
                        *ngIf="!project"
                        (modalTask)="openTaskModal($event)"
                        [task]="task"
                        [properties]="properties"
                        [permissions]="permissions"
                        (deleteTask)="updateTaskList($event)"
                    ></app-row-card>
                    <app-row-card
                        *ngIf="project"
                        (modalTask)="openTaskModal($event)"
                        [task]="task"
                        [properties]="project.properties"
                        [project]="project"
                        [permissions]="permissions"
                        (deleteTask)="updateTaskList($event)"
                    ></app-row-card>
                    
                </div>
            </ng-container>
        </div>       
        
    </div>
</section>
<div class="null-list" *ngIf="isNull">
    <h6>
        Nenhuma tarefa disponível...
    </h6>
</div>
