<section>
    <div class="table">
        <div class="thead">
            <label 
                *ngFor="let col of cols"
                [style.min-width]="col.width"
            >              
                <h6>
                    {{col.headerText}}
                </h6>
            </label>
        </div>

        <div class="tbody" 
            cdkDropList 
            (cdkDropListDropped)="dropCard($event)"
        >
            <ng-container *ngFor="let task of project.tasks">
                <div 
                    class="trow regular-text relative"
                    [cdkDragData]="task"
                    cdkDrag
                    cdkDragLockAxis="y"
                    cdkDragBoundary=".table"
                >
                    <span class="drag-handle" cdkDragHandle>
                        <fa-icon [icon]="faEllipsisVertical"></fa-icon>
                        <fa-icon [icon]="faEllipsisVertical"></fa-icon>
                    </span>
                    <app-row-card
                        [task]="task"
                        [cols]="cols"
                    >
                </app-row-card>
                </div>
            </ng-container>
                <div class="newTaskButton flex w-full h-[55px] items-center pl-4">
                    <button >Nova Tarefa (arrumar css)</button>
                </div>
        </div>       
    </div>
</section>

