<div class="bg">
    <div class="title">
        <div>
            <h5>Notificações</h5>
            <fa-icon [icon]="faBell" class="icon size"></fa-icon>
        </div>
    </div>

    <div class="my-notifications">
        <p class="regular-text">Notificações de seu Espaço de Trabalho</p>
        <div *ngFor="let toogle of tooglesList; index as item">
            <div>
                <fa-icon class="icon" (click)="toogleCharts(item)" [icon]="toogle.icon">
                </fa-icon>
                <p class="small-text">{{toogle.text}}</p>
            </div>
        </div>
    </div>
</div>