<div class="bg">
    <div class="title">
        <div>
            <p> Minhas notificações</p>
            <fa-icon [icon]="faBell" class="icon"></fa-icon>
        </div>
    </div>

    <div class="my-notifications">
        <p>Notificações de seu Espaço de Trabalho</p>
        <p>Receber notificações sobre:</p>
        <div *ngFor="let toogle of tooglesList; index as item">
            <div>
                <fa-icon class="icon" (click)="toogleCharts(item)" [icon]="toogle.icon">
                </fa-icon>
                <p>{{toogle.text}}</p>
            </div>
        </div>
    </div>

    <section>
        <div *ngFor="let toogle of generalTooglesList; index as item" class="list">
            <div class="toggles-text">
                <fa-icon class="icon" (click)="toogleGeneral(item)" [icon]="toogle.icon">
                </fa-icon>
                <p class="px-3 text-sm">{{toogle.text}}</p>
            </div>
        </div>
    </section>
</div>