<div class="ng-contentDiv" cdkDropListGroup>

    <!-- Visible and invisible -->
    <div class="whole-content" *ngFor="let item of itemsList; index as i" cdkDropList (cdkDropListDropped)="drop($event, i)"
    [cdkDropListData]="item.properties">
        <p class="regular-text">{{item.status}}</p>
            <div class="visible"
                [ngClass]="item.status === 'Visíveis' ? '' : 'opacity'"
                *ngFor="let name of item.name; index as i2" cdkDrag>
                <div>
                    <div>
                        <fa-icon [icon]="faEllipsisVertical" class="icon opacity-icon"></fa-icon>
                        <fa-icon [icon]="faEllipsisVertical" class="icon opacity-icon"></fa-icon>
                    </div>
                    <div>
                        <input class="regular-text" value="{{name.name}}" />
                    </div>
                </div>
                <div>
                    <fa-icon [icon]="item.icon" class="little-icon" (click)="eyeVisibility(name.name, i, i2)"></fa-icon>
                    <fa-icon [icon]="faPaintBrush" class="little-icon" (click)="pencilClick()"></fa-icon>
                    <fa-icon [icon]="faTrashCan" class="little-icon" (click)="delete(i, i2)"></fa-icon>
                </div>
            </div>
        </div>
</div>