<div class="ng-contentDiv">
    <div class="whole-content-w-full" *ngFor="let section of sections; index as i"
    [ngStyle]="{'border': section.kind == 'VISIBLE' ? 'none' : ''}">
        <div class="whole-content">
            <div class="flex w-full justify-between items-center">
                <p class="pl-3 pt-4 medium-text pb-4">{{ 'components.modals.properties.items-selection.' + section.name | translate }}</p>
                <span class="text-3xl cursor-pointer" *ngIf="section.name == 'Visíveis'"
                    (click)="createPropertyList()"
                    [ngClass]="canCreate ? 'opacity-100' : 'opacity-20'">+</span>
            </div>
            <div class="visible" [ngClass]="section.name === 'Visíveis' ? '' : 'opacity'"
                *ngFor="let propertyList of section.propertyLists;">
                <div>
                    <div>
                        <p *ngIf="propertyList.id != propertyListNameEditId" (click)="editName(propertyList)"
                            class="regular-text cursor-pointer" [ngStyle]="{'background-color': propertyList.color}">
                            {{ propertyList.value }}</p>
                        <input *ngIf="propertyList.id == propertyListNameEditId" type="text" class="regular-text"
                            [(ngModel)]="nameEdit" [ngStyle]="{'background-color': propertyList.color}">
                        <p *ngIf="propertyList.id == propertyListNameEditId" (click)="saveName(propertyList)"
                            class="cursor-pointer">✔</p>
                    </div>
                </div>
                <div>
                    <fa-icon [icon]="section.icon" class="little-icon" (click)="eyeVisibility(propertyList)"></fa-icon>
                    <fa-icon [icon]="faPaintBrush" class="little-icon" (click)="pencilClick(propertyList)"
                    [ngClass]="canEdit ? 'opacity-100' : 'opacity-20'"></fa-icon>
                    <fa-icon [icon]="faTrashCan" class="little-icon" (click)="openModalDelete(propertyList)"
                    [ngClass]="canDelete ? 'opacity-100' : 'opacity-20'"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-status">
    <fa-icon [icon]="faInfoCircle" class="color-text text-sm"></fa-icon>
    <p class="regular-text">{{ 'components.modals.properties.items-selection.info-message' | translate }}</p>
</div>
<app-confirm-modal *ngIf="deleteBoolean" [width]="'450px'" [height]="'250px'" [title]="'components.modals.properties.items-selection.delete-property'"
    (confirmEvent)="delete($event)">
</app-confirm-modal>
