@import '../../../../../variables';

.ng-contentDiv{
    @apply w-full h-full;

    p{
        @apply pr-10;
    }
}

.whole-content {
    @apply w-full flex flex-col items-start justify-start pt-4;
}

.icon {
    color: $primaryColor;
}

input {
    @apply bg-[#EAEFF8];
    outline: none;
}

.visible {
    @apply w-full h-[8%] bg-[#EAEFF8] border-2 flex flex-row justify-between;

    div:first-child {
        @apply flex w-[70%] pr-3 items-center;

        div:first-child{
            @apply pl-3 w-[15%] flex justify-between;
        }

        div:last-child{
            @apply w-[70%] flex justify-start items-center gap-3;
        }

    }

    div:last-child {
        @apply flex w-[20%] justify-between items-center pr-3;
    }
}

p{
    @apply flex justify-start items-start;
    color:$primaryColor;
}

.opacity{
    @apply opacity-25;
}

.little-icon {
    color:$primaryColor;
    font-size: 1rem;
}