<div class="ng-contentDiv" cdkDropListGroup>

    <!-- Visible and invisible -->
    <div class="whole-content" *ngFor="let section of sections; index as i" cdkDropList
        (cdkDropListDropped)="drop($event, i)" [cdkDropListData]="section.propertyLists">
        <p class="regular-text">{{section.name}}</p>
        <div class="visible" [ngClass]="section.name === 'Visíveis' ? '' : 'opacity'"
            *ngFor="let propertyList of section.propertyLists; index as i2" cdkDrag>
            <div>
                <div cdkDragHandle>
                    <fa-icon [icon]="faEllipsisVertical" class="icon opacity-icon"></fa-icon>
                    <fa-icon [icon]="faEllipsisVertical" class="icon opacity-icon"></fa-icon>
                </div>
                <div>
                    <input class="regular-text" value="{{propertyList.value}}" />
                </div>
            </div>
            <div>
                <fa-icon [icon]="section.icon" class="little-icon" (click)="eyeVisibility(propertyList)"></fa-icon>
                <fa-icon [icon]="faPaintBrush" class="little-icon" (click)="pencilClick()"></fa-icon>
                <fa-icon [icon]="faTrashCan" class="little-icon" (click)="delete(propertyList)"></fa-icon>
            </div>
        </div>
    </div>
</div>