@import '../../../../../variables';

.ng-contentDiv{
    @apply w-full h-full;

    p{
        @apply pr-10;
    }
}

.whole-content {
    @apply w-full flex flex-col items-start justify-start pt-4;

    p{
        @apply pl-3 pb-3;
    }
}

.icon {
    color: $primaryColor;
}
.visible {
    @apply w-full min-h-[40px] bg-[#EAEFF8] flex flex-row justify-between ;

    div:first-child {
        @apply flex w-[70%] pr-3 items-center;

        div:first-child{
            @apply pl-3 w-[15%] flex justify-between;
        }

        div:last-child{
            @apply w-[85%] flex justify-start items-center gap-3;

            input{
                @apply flex w-full;
            }
        }

    }

    div:last-child {
        @apply flex w-[20%] justify-between items-center pr-3;
    }
}

p{
    @apply flex justify-start items-start;
    color:$primaryColor;
}

.opacity{
    @apply opacity-25;
}

.little-icon {
    color:$primaryColor;
    font-size: 1rem;
}

.opacity-icon{
    @apply opacity-75;
}