<app-modal-warn [width]="'650px'" [height]="'700px'" (close)="closeModal()">
    <div class="search">
        <input type="text" placeholder="Pesquise o que deseja..." [(ngModel)]="query">
        <i class="pi pi-search cursor-pointer" style="font-size: 20px;" (click)="onSearch()"></i>
    </div>
    <div class="order regular-text">
        <p>Ordenar por </p>
        <select>
            <option *ngFor="let item of orderSettings">
                {{ item }}
            </option>
        </select>
    </div>
    <div class="div-searched">
        <ng-container *ngFor="let item of itemsSearched">
            <div class="card-searched"
            >
                <p class="medium-text">{{item.name}}</p>
                <p class="regular-text">{{item.description}}</p>
                <p class="regular-text">{{item.kind}}</p>
            </div>
        </ng-container>
    </div>
</app-modal-warn>