@import "../../../../variables";

.search {
    @apply flex w-[98%] h-[10%] items-center justify-between p-3 rounded shadow-md border-none mt-10;
    background-color: $card;
    i {
        @apply w-[10%];
        color: $primaryColor;
    }

    input {
        @apply w-[90%] h-full outline-none flex items-center pl-2;
        background-color: $card;    
        color: $text;
    }
}

.select{
    background-color: $card;
    @apply p-2 rounded-sm;
}

.order{
    @apply flex flex-row w-full h-[14%] items-center gap-5;

}

.div-searched{
    @apply w-full flex items-center flex-col gap-4;
    overflow-x: hidden;
    .card-searched{
        @apply flex w-[98%] h-fit rounded-sm flex-row items-center justify-between px-4 py-2;
        text-align: start;
        background-color: $card;
        cursor: pointer;


        &:hover{
            background-color: $emphasis;
        }
    }
}

.circular {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
}
.circular img {
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}