<div [ngClass]="'bg-login'">
    <!-- Div da esquerda da tela - Responsável pelo h1 do Vertex e da logo -->
    <div id="left-div-login">
        <!-- H1 que contém o nome do aplicativo - Fica localizado no canto superior esquerdo. -->
        <h1 id="h1NameVertex">VERTEX</h1>

        <!-- Div responsável pela imagem da logo - Fica localizada no meio da div da esquerda -->
        <div id="div-img-login">
            <img id="img-login" src="../../../assets/white-logo.svg" alt="">
        </div>
    </div>



    <!-- Div da direita da tela - Responsável pelos inputs de usuario e senha -->
    <div id="right-div-login">

        <div class="flex flex-col items-center gap-5">
            <img *ngIf="isMobileTablet()" class="w-20 h-20" src="../../../assets/vertex-logo.png" alt="">

            <h1 id="h1-access-account">Acesse sua Conta</h1>
        </div>

        <form class="space-y-7 w-1/2 max-w-md" action="#" method="POST" [formGroup]="form" (ngSubmit)="onSubmit()">

            <!-- Div Input Endereço de Email -->
            <div class="w-full">
                <label class="labels">Endereço de E-mail</label>
                <div class="center">
                    <div class="divRegisterIcons">
                        <fa-icon class="registerIcons" [icon]="faEnvelope"></fa-icon>
                    </div>
                    <input pInputText pAutoFocus [autofocus]="true" class="inputs" formControlName="email" type="email" placeholder="Digite seu E-mail" required>
                </div>
            </div>


            <!-- Div input de Senha -->
            <div>
                <label class="labels">Senha</label>
                <div class="center">
                    <div class="divRegisterIcons">
                        <fa-icon class="registerIcons" [icon]="faLock"></fa-icon>
                    </div>
                    <input class="inputs" formControlName="password" placeholder="Digite sua senha"
                        [type]="invisibleEye ? 'password' : 'text'" required>
                    <div class="eyesDiv">
                        <fa-icon *ngIf="!invisibleEye" (click)="passwordToggle()" class="eyeIcon" [icon]="faEye">
                        </fa-icon>
                        <fa-icon *ngIf="invisibleEye" (click)="passwordToggle()" class="eyeIcon" [icon]="faEyeSlash">
                        </fa-icon>
                    </div>
                </div>

                <div class="text-sm flex justify-end">
                    <a id="a-forget-password" (click)="toForgotPassword()">Esqueceu sua senha?</a>
                </div>
            </div>

            <!-- Div do botão de Enviar -->
            <div class="center">
                <button id="enter-btn" type="submit">Entrar</button>
            </div>


            <!-- Texto Não possui conta -->
            <p id="p-haveNot-account">
                Não possui uma conta?
                <br>
                <a [routerLink]="['/cadastro']" id="a-goTo-register">Clique aqui</a>
                e cadastre-se agora!
            </p>

        </form>
    </div>


    <app-forgot-password [forgotPassword]="forgotPassword" [step]="step"></app-forgot-password>

</div>