<section class="main-screen" *ngIf="userLogged">

    <aside (mouseenter)="openSideBar()" (mouseleave)="openSideBar()"
        [ngClass]="isSideBarExpanded ? 'side-barOpen': 'side-bar'">
        <app-sidebar [isSideBarExpanded]="isSideBarExpanded" style="width: 100%; height: 100%;"
            (openChat)="expandChat($event)" />
    </aside>

    <div [ngClass]="isSideBarExpanded ? 'main-divOpen': 'main-div'"
        [ngStyle]="{'overflow-y' : notification ? 'hidden' : 'auto'}">
        <div class="h-full w-[96%]">

            <app-notification *ngIf="notification" style="width: 100%; height:100%" (close)="switchNotifications()">
            </app-notification>

            
            
            <header class="main-header">
                <app-loading *ngIf="userLogged" [userLogged]="userLogged"></app-loading>
                <app-header 
                    style="width: 100%; height: 100%;" 
                    (openNotification)="switchNotifications()" 
                    [currentRoute]="currentRoute"
                />
            </header>

            <main class="main-content" [@routeAnimations]="getRouteAnimationData()">
                <router-outlet></router-outlet>
            </main>
        </div>

        <div (click)="openMiniChat()" class="chat-circle">
            <fa-icon [icon]="faMessage"></fa-icon>
        </div>

        <div *ngIf="miniChatOpen">
            <app-minichat (miniChatOpen)="openMiniChat()" (chatExpanded)="minimizeChat()"></app-minichat>
        </div>

        <div class="w-[96%] absolute h-full right-0 top-0" *ngIf="chatExpanded">
            <app-chat (chatExpanded)="minimizeChat()"></app-chat>
        </div>
    </div>


</section>


<div class="main-content" *ngIf="!userLogged" [@routeAnimations]="getRouteAnimationData()">
    <app-loading *ngIf="!userLogged" [userLogged]="userLogged"></app-loading>
    <router-outlet></router-outlet>
</div>

<div class="card">
    <p-toast></p-toast>
</div>