@import '../variables';
.main-screen{
    @apply flex w-screen h-screen ;
}

.side-bar {
    @apply flex w-[4%] h-full flex-col items-center;
    background-color: $primaryColor;
    transition: width 0.32s ease-out;
    position: fixed;
}

.side-barOpen {
    @apply flex w-[20%] h-full flex-col items-center;
    transition: width 0.32s ease-in-out;
    background-color: $primaryColor;
    position: fixed;
}

.main-div {
    @apply flex w-[100%] h-full flex-col items-end;
    background-color: $secondColor;
    transition: width 0.32s ease-in-out;
}

.main-divOpen {
    @apply flex w-[100%] h-full flex-col items-end;
}


.main-header{
    @apply flex w-full h-[8%] items-center justify-between;
}
.main-content{
    @apply flex w-full h-[92%] justify-end;
}

.main-contentChat{
    @apply flex w-full h-[100%] justify-end;
}

.chat-circle{
    @apply cursor-pointer absolute right-10 bottom-10 w-[70px] h-[70px] rounded-full flex 
    justify-center items-center;
    background-color: $primaryColor;
}

.miniChat{
    @apply absolute right-0 bottom-0 w-[400px] h-[500px] rounded-sm flex flex-col
    justify-between items-start shadow-lg;
    background-color: #fff;
}

.miniChat-header{
    @apply flex w-full h-[12%] items-start justify-around;
    background-color: $primaryColor;
}

.miniChat-header-title{
    @apply flex w-[70%] h-full items-center justify-start gap-5;
    color: #fff;
}

.miniChat-header-close{
    @apply flex w-[15%] h-full items-center justify-end gap-5;
    color: #fff;
}

.miniChat-main{
    @apply flex w-full h-[88%] items-end pb-5 justify-center;
}

.miniChat-main-input{
    @apply flex w-full h-[10%] items-center justify-evenly ;
}

.section-icons {
    @apply flex justify-between items-center text-lg;
    color: $primaryColor  !important;
}

.square-chat{
    @apply w-[10%] h-[100%] rounded-lg flex items-center justify-center;
    background-color: $primaryColor;
}



