<section class="main-screen" *ngIf="userLogged">
    <aside (mouseenter)="openSideBar()" (mouseleave)="openSideBar()"
        [ngClass]="isSideBarExpanded ? 'side-barOpen': 'side-bar'">
        <app-sidebar [isSideBarExpanded]="isSideBarExpanded" style="width: 100%; height: 100%;" />
    </aside>
    <div [ngClass]="isSideBarExpanded ? 'main-divOpen': 'main-div'">
        <div class="h-full w-[96%]">
            <header *ngIf="rota!=rotaChat" class="main-header">
                <app-header style="width: 100%; height: 100%;" />
            </header>

            <main [ngClass]="rota==rotaChat ? 'main-contentChat' : 'main-content'" [@routeAnimations]="getRouteAnimationData()">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</section>


<div class="main-content" *ngIf="!userLogged" [@routeAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
</div>