<div class="register-bg">

    <div class="main-div">

        <h1 id="h1-access-account">Crie sua Conta</h1>


        <div class="w-2/3">
            <form action="#" method="POST">

                <div class="flex gap-2">
                    <!-- Div Input Nome -->
                    <div class="w-full">

                        <div class="center-all">
                            <div class="divRegisterIcons">
                                <fa-icon class="registerIcons" [icon]="faUser"></fa-icon>
                            </div>
                            <input id="nome" name="nome" type="text"
                                required placeholder="Nome"
                                class="inputs">
                        </div>
                    </div>

                    <!-- Div input Sobrenome -->
                    <div class="w-full">

                        <div class=" center-all">
                            <div class="divRegisterIcons">
                                <fa-icon class="registerIcons" [icon]="faUser"></fa-icon>
                            </div>
                            <input id="sobrenome" name="sobrenome" type="text"
                             required placeholder="Sobrenome"
                                class="inputs">
                        </div>
                    </div>
                </div>

                <div class="flex">
                    <!-- Div Input Email -->
                    <div class="w-full">
                        <div class="center-all">
                            <div class="divRegisterIcons">
                                <fa-icon class="registerIcons" [icon]="faEnvelope"></fa-icon>
                            </div>
                            <input id="email" name="email" type="email"
                             required placeholder="E-mail"
                                class="inputs">
                        </div>
                    </div>
                </div>


                <div class="flex gap-7">
                    <div class="div-password-input">
                        <!-- Div input Senha -->
                        <div class="w-full">
                            <div class="center-all">
                                <div class="divRegisterIcons">
                                    <fa-icon class="registerIcons" [icon]="faLock"></fa-icon>
                                </div>
                                <input id="password" [type]="invisibleEye1 ? 'password' : 'text'"
                                 required placeholder="Senha"
                                    class="inputs">
                                    <div class="eyesDiv">
                                        <fa-icon *ngIf="!invisibleEye1" (click)="passwordToggle1()" class="eyeIcon" [icon]="faEye">
                                        </fa-icon>
                                        <fa-icon *ngIf="invisibleEye1" (click)="passwordToggle1()" class="eyeIcon"
                                            [icon]="faEyeSlash"></fa-icon>
                                    </div>
                            </div>
                        </div>

                        <!-- Div input Confirmar Senha -->
                        <div class="w-full">
                            <div class="center-all">
                                <div class="divRegisterIcons">
                                    <fa-icon class="registerIcons" [icon]="faKey"></fa-icon>
                                </div>
                                <input id="passwordConfirm" [type]="invisibleEye2 ? 'password' : 'text'"
                                 required placeholder="Confirme sua Senha"
                                    class="inputs">
                                    <div class="eyesDiv">
                                        <fa-icon *ngIf="!invisibleEye2" (click)="passwordToggle2()" class="eyeIcon" [icon]="faEye">
                                        </fa-icon>
                                        <fa-icon *ngIf="invisibleEye2" (click)="passwordToggle2()" class="eyeIcon"
                                            [icon]="faEyeSlash"></fa-icon>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="div-toStrong-password">
                        <p class="w-80">Requisitos para uma boa senha:</p>
                        <p>*Mínimo de 8 caracteres</p>
                        <p>*Mínimo de 1 letra maiúscula</p>
                        <p>*Mínimo de 1 letra minúscula</p>
                        <p>*Mínimo de 1 número</p>
                        <p>*Mínimo de 1 caractere especial (@#!$%)</p>
                    </div>
                </div>




                <!-- Div do botão de Enviar -->
                <div class="flex justify-center">
                    <button type="submit"
                        id="enter-btn">
                        Cadastrar</button>
                </div>

            </form>
            <br>

            <!-- Texto Não possui conta -->
            <p class="text-center text-sm text-[#092C4C]">
                Já possui uma conta?
                <br>
                <a [routerLink]="['/login']"
                    class="font-semibold leading-6 text-[#092c4c]">Clique
                    aqui</a>
                para entrar
            </p>
        </div>
    </div>


    <div class="div-white-logo">
        <img class="w-80 h-80" src="../../../assets/white-logo.svg" alt="">


    </div>
    <h1 style="font-family: 'Manrope'; font-weight: lighter;" class=" text-4xl p-7 text-right text-[#f3f3f3]">VERTEX
    </h1>




</div>