<div class="register-bg">

    <div class=" flex flex-col justify-center items-center w-3/5 gap-10">

        <h2 style="font-family: 'Manrope'; font-weight: lighter;"
            class="text-center text-2xl font-bold leading-9 tracking-tight text-white">Crie sua Conta</h2>


        <div class="w-2/3">
            <form class="space-y-7" action="#" method="POST">

                <div class="flex gap-2">
                    <!-- Div Input Nome -->
                    <div class="w-full">

                        <div class="flex items-center justify-center w-full">
                            <div class="divRegisterIcons">
                                <fa-icon class="registerIcons" [icon]="faUser"></fa-icon>
                            </div>
                            <input style="font-family: 'Inter';" id="nome" name="nome" type="text" autocomplete="nome"
                                required placeholder="Nome"
                                class="block h-10 w-full border-0 py-1.5 px-3 text-black shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <!-- Div input Sobrenome -->
                    <div class="w-full">

                        <div class=" flex justify-center w-full">
                            <div class="divRegisterIcons">
                                <fa-icon class="registerIcons" [icon]="faUser"></fa-icon>
                            </div>
                            <input style="font-family: 'Inter';" id="sobrenome" name="sobrenome" type="text"
                                autocomplete="sobrenome" required placeholder="Sobrenome"
                                class="block h-10 w-full border-0 py-1.5 px-3 text-black shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                </div>

                <div class="flex">
                    <!-- Div Input Email -->
                    <div class="w-full">
                        <div class="flex items-center justify-center w-full">
                            <div class="divRegisterIcons">
                                <fa-icon class="registerIcons" [icon]="faEnvelope"></fa-icon>
                            </div>
                            <input style="font-family: 'Inter';" id="email" name="email" type="email"
                                autocomplete="email" required placeholder="E-mail"
                                class="block h-10 w-full border-0 py-1.5 px-3 text-black shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                </div>


                <div class="flex gap-5">
                    <div class="flex flex-col space-y-7 w-full">
                        <!-- Div input Senha -->
                        <div class="w-full">
                            <div class="flex items-center justify-start w-full">
                                <div class="divRegisterIcons">
                                    <fa-icon class="registerIcons" [icon]="faLock"></fa-icon>
                                </div>
                                <input style="font-family: 'Inter';" id="password" [type]="invisibleEye1 ? 'password' : 'text'"
                                    autocomplete="password" required placeholder="Senha"
                                    class="block h-10 w-full border-0 py-1.5 px-3 text-black shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    <div class="eyesDiv">
                                        <fa-icon *ngIf="!invisibleEye1" (click)="passwordToggle1()" class="eyeIcon" [icon]="faEye">
                                        </fa-icon>
                                        <fa-icon *ngIf="invisibleEye1" (click)="passwordToggle1()" class="eyeIcon"
                                            [icon]="faEyeSlash"></fa-icon>
                                    </div>
                            </div>
                        </div>

                        <!-- Div input Confirmar Senha -->
                        <div class="w-full">
                            <div class="flex items-center justify-center w-full">
                                <div class="divRegisterIcons">
                                    <fa-icon class="registerIcons" [icon]="faKey"></fa-icon>
                                </div>
                                <input style="font-family: 'Inter';" id="password" [type]="invisibleEye2 ? 'password' : 'text'"
                                    autocomplete="password" required placeholder="Confirme sua Senha"
                                    class="block h-10 w-full border-0 py-1.5 px-3 text-black shadow-sm ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    <div class="eyesDiv">
                                        <fa-icon *ngIf="!invisibleEye2" (click)="passwordToggle2()" class="eyeIcon" [icon]="faEye">
                                        </fa-icon>
                                        <fa-icon *ngIf="invisibleEye2" (click)="passwordToggle2()" class="eyeIcon"
                                            [icon]="faEyeSlash"></fa-icon>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col justify-center text-[16px] text-white">
                        <p class="w-80">Requisitos para uma boa senha:</p>
                        <p>*Mínimo de 8 caracteres</p>
                        <p>*Mínimo de 1 letra maiúscula</p>
                        <p>*Mínimo de 1 letra minúscula</p>
                        <p>*Mínimo de 1 número</p>
                        <p>*Mínimo de 1 caractere especial (@#!$%)</p>
                    </div>
                </div>




                <!-- Div do botão de Enviar -->
                <div class="flex justify-center">
                    <button type="submit"
                        class="flex w-44 h-10 items-center justify-center rounded-md bg-[#2E5DA6] text-sm font-semibold leading-6 text-white shadow-sm
                        hover:bg-[#224680] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#224680]">
                        Cadastrar</button>
                </div>

            </form>
            <br>

            <!-- Texto Não possui conta -->
            <p class="text-center text-sm text-white">
                Já possui uma conta?
                <br>
                <a [routerLink]="['/login']"
                    class="font-semibold leading-6 text-[#224680] hover:text-blue-600 transition">Clique
                    aqui</a>
                para entrar
            </p>
        </div>
    </div>


    <div class=" flex pb-5 items-center justify-end h-screen w-2/5">
        <img class="w-80 h-80" src="../../../assets/vertex-logo.png" alt="">


    </div>
    <h1 style="font-family: 'Manrope'; font-weight: lighter;" class=" text-4xl p-7 text-right text-[#092C4C]">VERTEX
    </h1>




</div>