<div class="base">
    <table>
        <tr>
            <td>
                <div>
                    <fa-icon [icon]="faUsers" class="size"></fa-icon>
                    <p>Responsáveis</p>
                </div>
                <div>
                    <p-treeSelect  class="w-full md:w-20rem "
                        [options]="taskResponsables"
                        [(ngModel)]="selectedUsers"
                        containerStyleClass="w-full" display="chip" 
                        [metaKeySelection]="false" selectionMode="checkbox"
                        placeholder="Atribue responsáveis ao projeto" [filter]="true" [filterInputAutoFocus]="true"
                        (click)="updateResponsible(selectedUsers)">
                </p-treeSelect>
                </div>
            </td>
            <td *ngFor="let value of task.values">
                <div>
                    <fa-icon [icon]="getIcon(value)"></fa-icon>
                    <p>{{value.property.name}}</p>
                </div>
                <div>
                    <app-input-value-property (changes)="changeTask($event)" [task]="task" [value]="value"
                        [backgroundColor]="getColor(value)" [canEdit]="canEdit"></app-input-value-property>
                </div>
            </td>
        </tr>
    </table>
</div>