@import '../../../../variables';

.section-aside{
    @apply flex h-full w-full justify-between items-center flex-col overflow-hidden;
}

.start-mid-items{
    @apply flex w-full h-[60%] flex-col items-center;
}

.top-logo{
    @apply flex h-[25%] flex-col justify-center;
}

.center-items{
    @apply flex h-[75%] flex-col justify-evenly;
}

.center-items2{
    @apply flex w-full h-[75%] flex-col items-start;
}

.footer-items{
    @apply flex h-[30%] flex-col items-end justify-evenly;
}

.footer-items2{
    @apply flex h-[35%] w-full flex-col items-start ;
}
ul > li {
    @apply h-[10%] flex justify-center items-center;
}

.logo{
    display: flex;
    width: 55px;
    height: auto;
    cursor: pointer;
}
.div-logo{
    @apply flex justify-center;
}

.liOpen{
    @apply w-full h-[80px] flex gap-5 items-center justify-start pl-10;
    transition: all 0.3s ease-in-out; 
    color: $secondColor;
}

.liOpen:hover{
    @apply w-[95%] scale-[1.05] pl-8 rounded-l-sm text-black;
    transition: all 0.3s ease-in-out; 
    cursor: pointer;
    background-color: $secondColor;
    color: $primaryColor;

    fa-icon{
        @apply text-[1.2rem] ;
        color: $primaryColor;
    }
    .pOpen{
        color: $primaryColor;
    }
}

.pOpen{
    color: $secondColor;
}

