<section class="section-aside">
    <ul class="top-logo">
        <li class="div-logo"><img class="logo" src="../assets/white-logo.svg" /></li>
    </ul>
    <ul class="center-items">
        <li><i class="pi pi-search"></i></li>
        <li><i class="pi pi-comment"></i></li>
        <li><i class="pi pi-book"></i></li>
        <li><i class="pi pi-chart-pie"></i></li>
    </ul>
    <ul class="footer-items">
        <li><i class="pi pi-user"></i></li>
        <li><i class="pi pi-cog"></i></li>
    </ul>
</section>