<section class="section-aside">
    <div class="start-mid-items">
        <ul  class="top-logo">
            <li class="div-logo"><img class="logo" src="../assets/white-logo.svg" /></li>
        </ul>
        <ul class="center-items">
            <li><fa-icon [icon]="faMagnifyingGlass"></fa-icon></li>
            <li><fa-icon [icon]="faMessage"></fa-icon></li>
            <li><fa-icon [icon]="faClipboardList"></fa-icon></li>
        </ul>
    </div>
    <ul class="footer-items">
        <li><fa-icon [icon]="faUser"></fa-icon></li>
        <li><fa-icon [icon]="faGear"></fa-icon></li>
        <li><fa-icon [icon]="faSignOut"></fa-icon></li>
    </ul>
</section>

