@import '../../../../../variables';

section {
    @apply w-full h-[90%] flex flex-col gap-1;

    .container {
        @apply flex flex-col h-full w-full gap-6 overflow-y-auto overflow-x-hidden p-2;

        div {
            @apply w-full flex gap-4 items-center;

            label {
                @apply w-auto flex items-center h-[50px] gap-4;

                p {
                    @apply text-sm;
                }

                i {
                    font-size: 1.1rem;
                }
            }

            .date {
                font-size: 0.8rem;
                color: #6f6f6f;
            }
        }
    }
    
}