<section class="modal-overlay" (click)="clickOutHandler()">
    <div class="modal">
        <div class="left">

            <div class="location">
                {{project.name}} | {{note.title}}
            </div>
            <div class="main-content">
                <input type="text" [(ngModel)]="note.title">

                <div class="content">
                    <textarea 
                        [disabled]="!descriptionEditable"
                        [style.background]="descriptionEditable ? '#f5f5f5' :  '#fff'" 
                        [(ngModel)]="note.description"
                    >
                        {{note.description}}
                    </textarea>

                    <a (click)="toggleEditDescription()">
                        Editar descrição
                    </a>
                </div>

            </div>

            <div class="config">
                <div class="color-list">

                    <ng-container *ngFor="let color of colorList">
                        <div class="color" 
                            [style.backgroundColor]="color.color" 
                            (click)="changeColor(color)"
                        >
                            <!-- <fa-icon 
                                [icon]="faCheck"
                                 class="icon" >
                            </fa-icon> -->
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="right">

    </div>
</section>