<section>
    <div class="container-custom">
        <!-- LEFT SIDE TASKS/TEAMS -->
        <div class="container-grid">
            <!-- UTILITY NAV BAR TEAM -->
            <div class="flex flex-row items-end gap-3">
                <h4>{{ 'pages.home.teams.title' | translate }}</h4>
            </div>
            <div stepPosition="center" joyrideStep="step1" [title]="'pages.home.welcome' | translate"
                [text]="'pages.home.textWelcome' | translate" [stepContentParams]="{ 'nome': logged.firstName }">
            </div>
            <div class="pt-2 pb-4">
                <p class="small-text text-gray-600">{{ 'pages.home.teams.description1' | translate }}</p>
                <p class="small-text text-gray-600">{{ 'pages.home.teams.description2' | translate }}</p>
            </div>
            <div class="flex flex-col" joyrideStep="step2" [prevTemplate]="prevButton" [nextTemplate]="nextButton"
                [title]="'pages.home.newTeamBtn' | translate" [stepContent]="customContent"
                [stepContentParams]="{ texto: tutorialText[2] }">
                <div class="functionally-items-task">
                    <div class="search">
                        <input type="text" [placeholder]="'pages.home.allTasks.placeholderSearchTask' | translate"
                            [(ngModel)]="teamSearch">
                        <i class="pi pi-search cursor-pointer" style="font-size: 1.4rem;"></i>
                    </div>
                    <button class="create" (click)="switchCreateView()">
                        <i class="pi pi-plus-circle" style="font-size: 1.7rem;"></i>
                        {{ 'pages.home.teams.newTeamBtn' | translate }}
                    </button>
                </div>

                <div class="default-size">
                    <app-card-list style="width: 100%; height: 90%; padding-top: 3%;" [teams]="teams" [type]="'team'"
                        [filterSearch]="teamSearch" joyrideStep="goToTeamPage" [prevTemplate]="prevButton"
                        [nextTemplate]="nextButton" [title]="'Ir para tela da equipe'" [stepContent]="customContent"
                        [stepContentParams]="{ texto: tutorialText[4] }"></app-card-list>

                    <app-create-team-project *ngIf="isCreating" style="width: 100%; height: 90%; padding-top: 3%;"
                        (close)="switchCreateView()" [typeString]="'team'"></app-create-team-project>
                </div>
            </div>
        </div>

        <!-- RIGHT SIDE - QUICK ACCESS -->
        <div class="container-grid">
            <div class="default-size">
                <div class="flex flex-row items-end gap-3">
                    <h4>{{ 'pages.home.allTasks.title' | translate }}</h4>
                </div>
                <div class="pt-2 pb-4">
                    <p class="small-text text-gray-600">{{ 'pages.home.allTasks.description1' | translate }}</p>
                    <p class="small-text text-gray-600">{{ 'pages.home.allTasks.description2' | translate }}</p>
                </div>
                <div class="flex flex-col" joyrideStep="step3" [prevTemplate]="prevButton" [nextTemplate]="nextButton"
                    [title]="'pages.home.allTasks.title' | translate" [stepContent]="customContent"
                    [stepContentParams]="{ texto: tutorialText[3] }">
                    <!-- UTILITY NAV BAR TASK -->
                    <div class="functionally-items-task">
                        <div class="search">
                            <input type="text" [placeholder]="'pages.home.allTasks.placeholderSearchTask' | translate"
                                [(ngModel)]="queryFilter">
                            <i class="pi pi-search cursor-pointer" style="font-size: 1.4rem;"></i>
                        </div>
                        <div class="filter-items">
                            <div *ngFor="let item of configItems" class="icons">
                                <button (click)="item.click()">
                                    <i class="{{ item.iconClass }}"
                                        [style.transform]="item.id === 'order' ? 'rotate(90deg)' : 'rotate(0deg)'"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <section class="filter-settings" *ngIf="filterOpen || orderOpen">
                        <ng-container *ngIf="filterOpen">
                            <p>{{ 'pages.home.allTasks.placeholderFilterBy' | translate }}</p>
                            <p-cascadeSelect [(ngModel)]="selectedFilter" (ngModelChange)="updateOrderType($event)"
                                [options]="filterOptions" optionLabel="name" optionGroupLabel="name"
                                [optionGroupChildren]="['values']" [style]="{ minWidth: '14rem' }"
                                [placeholder]="'pages.home.allTasks.placeholderFilterBy' | translate">
                            </p-cascadeSelect>
                        </ng-container>
                        <ng-container *ngIf="orderOpen">
                            <p>{{ 'pages.home.allTasks.placeholderOrdenarPor' | translate }}</p>
                            <p-cascadeSelect [(ngModel)]="orderParams" [options]="orderOptions" optionLabel="name"
                                optionGroupLabel="name" [optionGroupChildren]="['values']"
                                [style]="{ minWidth: '13rem' }"
                                [placeholder]="'pages.home.allTasks.placeholderOrderBy' | translate">
                            </p-cascadeSelect>
                        </ng-container>
                    </section>
                    <div class="default-size">
                        <app-list [filter]="selectedFilter" [queryFilter]="queryFilter" [orderParams]="orderParams"
                            (openTaskDetails)="changeModalTaskState(true, $event)" style="padding-top: 3%;"></app-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-task [task]="taskOpenObject" *ngIf="taskOpen" (close)="changeModalTaskState(false, taskOpenObject)"></app-task>

<ng-template #prevButton>
    <button class="btn">{{ 'pages.home.backBtn' | translate }}</button>
</ng-template>

<ng-template #nextButton>
    <button class="btn">{{ 'pages.home.nextBtn' | translate }}</button>
</ng-template>
<ng-template #nextButton>
    <button class="btn">{{ 'pages.home.endBtn' | translate }}</button>
</ng-template>

<ng-template #customContent let-texto="texto" style="border-radius: 5px">
    <div [innerHTML]="texto" style="max-width: 300px; padding: 20px"></div>
</ng-template>