<section>
    <div class="container-custom">

        <!-- LEFT SIDE TASKS/TEAMS -->
        <div class="container-grid">

            <!-- UTILITY NAV BAR TEAM -->
            <div class="flex flex-row items-end gap-3">
                <h4>Equipes</h4>
            </div>

            <div stepPosition="center" joyrideStep="step1" title="Seja bem vindo, {{logged.firstName}}!"
                text="Explore o Vertex e descubra como gerenciar seu tempo de ponta a ponta!"
                [stepContentParams]="{'name': logged.firstName}">
            </div>

            <div class="pt-2 pb-4">
                <p class="small-text text-gray-600 text-justify w-2/3">As equipes são locais de trabalhos onde é possível gerenciar
                    projetos, convidar membros,
               iniciar chats de conversa e ter o seu tempo e do seu time na
                    palma da sua mão.</p>
            </div>
            <div class="flex flex-col" joyrideStep="step2" [prevTemplate]="prevButton" [nextTemplate]="nextButton"
                [title]="'Vizualizar / Criar equipes'" [stepContent]="customContent"
                [stepContentParams]="{ texto: tutorialText[2] }">
                <div class="functionally-items-task">
                    <div class="search">
                        <input type="text" placeholder="Pesquise por uma equipe..." [(ngModel)]="teamSearch">
                        <i class="pi pi-search cursor-pointer" style="font-size: 1.4rem;"></i>
                    </div>
                    <button class="create" (click)="switchCreateView()">
                        <i class="pi pi-plus-circle" style="font-size: 1.7rem;"></i>
                        <p>Nova equipe</p>
                    </button>
                </div>

                <div class="default-size" *ngIf="teamsRender | async">

                    <app-card-list style="width: 100%; height: 90%; padding-top: 3%;" [teams]="teams" [type]="'team'"
                        [filterSearch]="teamSearch" joyrideStep="goToTeamPage" [prevTemplate]="prevButton"
                        [nextTemplate]="nextButton" [title]="'Ir para tela da equipe'"
                        [stepContent]="customContent" [stepContentParams]="{ texto: tutorialText[4] }"></app-card-list>

                </div>
                <app-create-team-project style="width: 100%; height: 90%; padding-top: 3%;"
                (close)="switchCreateView()" 
                *ngIf="isCreating" [typeString]="'team'" (sendTeam)="updateTeams($event)"></app-create-team-project>
            </div>
        </div>


        <!-- RIGHT SIDE - QUICK ACCESS -->
        <div class="container-grid pb-10">
            <div class="default-size">
                <div class="flex flex-row items-end gap-3">
                    <h4>Todas as Tarefas</h4>
                </div>
                <div class="pt-2 pb-4">
                    <p class="small-text text-gray-600 text-justify w-2/3">Nessa seção é possível visualizar todas as tarefas na qual você
                        é um dos responsáveis dentro de todo sistema, tarefas de todas equipes e projetos.</p>
                </div>

                <div class="flex flex-col" joyrideStep="step3" [prevTemplate]="prevButton" [nextTemplate]="nextButton"
                    [title]="'Visualizar todas as tarefas'" [stepContent]="customContent"
                    [stepContentParams]="{ texto: tutorialText[3] }">
                    <!-- UTILITY NAV BAR TASK -->
                    <div class="functionally-items-task">
                        <div class="search">
                            <input type="text" placeholder="Pesquise por uma tarefa..." [(ngModel)]="queryFilter">
                            <i class="pi pi-search cursor-pointer" style="font-size: 1.4rem;"></i>
                        </div>
                        <div class="filter-items">
                            <div *ngFor="let item of configItems" class="icons">
                                <button (click)="item.click()">
                                    <i class="{{ item.iconClass }}"
                                        [style.transform]="item.id === 'order' ? 'rotate(90deg)' : 'rotate(0deg)'"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <section class="filter-settings" *ngIf="filterOpen || orderOpen">
                        <!-- <p *ngIf="orderOpen">Ordenar por </p> -->
                        <ng-container *ngIf="filterOpen">
                            <p>Filtrar por </p>
                            <p-cascadeSelect [(ngModel)]="selectedFilter" (ngModelChange)="updateOrderType($event)"
                                [options]="filterOptions" optionLabel="name" optionGroupLabel="name"
                                [optionGroupChildren]="['values']" [style]="{ minWidth: '14rem' }"
                                placeholder="{{ selectedFilter ? selectedFilter : filterDate ? filterDate : 'Selecione' }}">
                            </p-cascadeSelect>
                        </ng-container>
                        <ng-container *ngIf="orderOpen">
                            <p>Ordenar por </p>
                            <p-cascadeSelect [(ngModel)]="orderParams" [options]="orderOptions" optionLabel="name"
                                optionGroupLabel="name" [optionGroupChildren]="['values']"
                                [style]="{ minWidth: '13rem' }" placeholder="Selecione"></p-cascadeSelect>
                        </ng-container>
                    </section>
                    <div class="default-size">
                        <app-list 
                            [filter]="selectedFilter" 
                            [queryFilter]="queryFilter" 
                            [orderParams]="orderParams"
                            (openTaskDetails)="changeModalTaskState(true, $event)" 
                            style="padding-top: 3%;"
                        ></app-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-task [task]="taskOpenObject" *ngIf="taskOpen" (close)="changeModalTaskState(false, taskOpenObject)"></app-task>

<ng-template #prevButton>
    <button class="btn">
        Voltar
    </button>
</ng-template>
<ng-template #nextButton>
    <button class="btn">
        Próximo
    </button>
</ng-template>
<ng-template #customContent let-texto="texto" style="border-radius: 5px">
    <div [innerHTML]="texto" style="max-width: 300px; padding: 20px"></div>
</ng-template>