<section>
    <div class="container-custom">
        <!-- LEFT SIDE TASKS/TEAMS -->
        <div class="container-grid">
            <!-- UTILITY NAV BAR TEAM -->
            <div class="flex flex-row items-end gap-3">
                <h4>{{ 'pages.home.teams.title' | translate }}</h4>
            </div>
            <div stepPosition="center" joyrideStep="step1" [title]="('tutorial.texts.welcome' | translate) + logged.firstName + '!'"
                [text]="'tutorial.texts.title' | translate" [stepContentParams]="{ 'nome': logged.firstName }">
            </div>
            <div class="pt-2 pb-4">
                <p class="small-text text-gray-600 text-justify w-2/3">{{ 'pages.home.teams.description' | translate }}</p>
            </div>
            <div class="flex flex-col" joyrideStep="step2" [prevTemplate]="prevButton"  [nextTemplate]="nextButton"
                [title]="'tutorial.texts.visualize/create' | translate" [stepContent]="customContent"
                [stepContentParams]="{ texto: tutorialText[2] | translate }">
                <div class="functionally-items-task">
                    <div class="search" 
                        [style.backgroundColor]="'var(--card)'"
                    >
                        <input type="text" 
                            [placeholder]="'pages.home.allTasks.placeholderSearchTask' | translate"
                            [(ngModel)]="teamSearch" 
                            [style.backgroundColor]="'var(--card)'"
                        >
                        <i class="pi pi-search cursor-pointer" style="font-size: 1.4rem;"></i>
                    </div>
                    <button class="create" (click)="switchCreateView()">
                        <i class="pi pi-plus-circle" style="font-size: 1.7rem;"></i>
                        <p>{{ 'pages.home.teams.newTeamBtn' | translate }}</p>
                    </button>
                </div>

                <div class="default-size">
                    <div class="w-[40%] absolute" *ngIf="!teams">
                        <h6 class="pt-12 flex justify-center items-center">{{ 'pages.home.teams.noTeam' | translate }}</h6>
                    </div>

                    <app-card-list style="width: 100%; height: 90%; padding-top: 3%;" [teams]="teams" [type]="'team'"
                        [filterSearch]="teamSearch" joyrideStep="goToTeamPage" [prevTemplate]="prevButton"
                        [nextTemplate]="nextButton" [title]="'tutorial.texts.goToTeamPage' | translate" [stepContent]="customContent"
                        [stepContentParams]="{ texto: tutorialText[4] | translate}"></app-card-list>

                </div>
            </div>
        </div>

        <!-- RIGHT SIDE - QUICK ACCESS -->
        <div class="container-grid pb-10">
            <div class="default-size">
                <div class="flex flex-row items-end gap-3">
                    <h4>{{ 'pages.home.allTasks.title' | translate }}</h4>
                </div>
                <div class="pt-2 pb-4">
                    <p class="small-text text-gray-600 text-justify w-2/3">{{ 'pages.home.allTasks.description' | translate }}</p>
                </div>
                <div class="flex flex-col" joyrideStep="step3" [prevTemplate]="prevButton" [nextTemplate]="nextButton"
                    [title]="'pages.home.allTasks.title' | translate" [stepContent]="customContent"
                    [stepContentParams]="{ texto: tutorialText[3] | translate}">
                    <!-- UTILITY NAV BAR TASK -->
                    <div class="functionally-items-task">
                        <div class="search" [style.backgroundColor]="'var(--card)'">
                            <input type="text" 
                                [placeholder]="'pages.home.allTasks.placeholderSearchTask' | translate"
                                [(ngModel)]="queryFilter"
                                [style.backgroundColor]="'var(--card)'"
                            >
                            <i class="pi pi-search cursor-pointer" style="font-size: 1.4rem;"></i>
                        </div>
                        <div class="filter-items">
                            <div *ngFor="let item of configItems" class="icons">
                                <button (click)="item.click()">
                                    <i class="{{ item.iconClass }}"
                                        [style.transform]="item.id === 'order' ? 'rotate(90deg)' : 'rotate(0deg)'"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <section class="filter-settings" *ngIf="filterOpen || orderOpen">
                        <ng-container *ngIf="filterOpen">
                            <p>{{ 'pages.home.allTasks.filterBy' | translate }}</p>
                            <p-cascadeSelect [(ngModel)]="selectedFilter" (ngModelChange)="updateOrderType($event)"
                                [options]="filterOptions" optionLabel="name" optionGroupLabel="name"
                                [optionGroupChildren]="['values']" 
                                [style]="{ minWidth: '14rem', backgroundColor: 'var(--card)' }"
                                [placeholder]="'pages.home.allTasks.placeholderFilterBy' | translate">
                            </p-cascadeSelect>
                        </ng-container>
                        <ng-container *ngIf="orderOpen">
                            <p>{{ 'pages.home.allTasks.orderBy' | translate }}</p>
                            <p-cascadeSelect [(ngModel)]="orderParams" [options]="orderOptions" optionLabel="name"
                                optionGroupLabel="name" [optionGroupChildren]="['values']"
                                [style]="{ minWidth: '13rem', backgroundColor: 'var(--card)' }"
                                [placeholder]="'pages.home.allTasks.placeholderOrderBy' | translate">
                            </p-cascadeSelect>
                        </ng-container>
                    </section>
                    <div class="default-size">
                        <app-list 
                            [shouldApplyZIndex]="false"
                            [filter]="selectedFilter" 
                            [queryFilter]="queryFilter" 
                            [orderParams]="orderParams"
                            (openTaskDetails)="changeModalTaskState(true, $event)" 
                            style="padding-top: 3%;"
                        ></app-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-task *ngIf="taskOpen" (close)="changeModalTaskState(false, taskOpenObject)" [task]="taskOpenObject"></app-task>

<app-set-new-password *ngIf="openChangePassword" (close)="closeModal()"></app-set-new-password>

<app-create-team-project style="width: 100%; height: 90%; padding-top: 3%;"
(close)="switchCreateView()" 
*ngIf="isCreating" [typeString]="'team'" (sendTeam)="updateTeams($event)"></app-create-team-project>

<ng-template #prevButton>
    <button class="btn">{{'tutorial.texts.back' | translate}}</button>
</ng-template>

<ng-template #nextButton>
    <button class="btn">{{'tutorial.texts.next' | translate}}</button>
</ng-template>

<ng-template #customContent let-texto="texto" style="border-radius: 5px">
    <div [innerHTML]="texto" style="max-width: 300px; padding: 20px" class="tutorial-div text-justify"></div>
</ng-template>