@import '../../../../variables';

@media screen and (min-width: 970px) {

  .screen {
    @apply min-h-[50px] flex pt-4;
    
    .col-container {
      @apply gap-6 max-w-full min-h-[50px] overflow-auto flex overflow-y-hidden;
      
      .col {
        @apply min-w-[300px] w-[300px] flex flex-col
        gap-[12px] p-4 shadow-md mb-16;
        
        h6 {
          @apply pl-3;
        }
        
        h4:hover{
          @apply cursor-pointer
        }
        button:hover{
          @apply cursor-pointer;
        }
        
        button{
          font-size: 1.5rem;
        }
        
        .col-items {
          @apply flex flex-col gap-5 items-center pt-5;
        }
        
      }
    }
  }
}

@media screen and (min-width: 430px) and (max-width: 970px) {

  .screen {
    @apply min-h-[50px] flex pt-4 flex-wrap;
    
    .col-container {
      @apply gap-6 max-w-full min-h-[50px] flex flex-wrap pb-16;
      
      .col {
        @apply min-w-[300px] w-[300px] flex flex-col
        gap-[12px] p-4 shadow-md;
        
        h6 {
          @apply pl-3;
        }
        
        h4:hover{
          @apply cursor-pointer
        }
        button:hover{
          @apply cursor-pointer;
        }
        
        button{
          font-size: 1.5rem;
        }
        
        .col-items {
          @apply flex flex-col gap-5 items-center pt-5;
        }
        
      }
    }
  }
}

@media screen and (max-width: 430px) {

  .screen {
    @apply min-h-[50px] flex pt-4 flex-wrap justify-center;
    
    .col-container {
      @apply gap-6 max-w-full min-h-[50px] flex flex-wrap pb-16;
      
      .col {
        @apply min-w-[300px] w-[300px] flex flex-col
        gap-[12px] p-4 shadow-md;
        
        h6 {
          @apply pl-3;
        }
        
        h4:hover{
          @apply cursor-pointer
        }
        button:hover{
          @apply cursor-pointer;
        }
        
        button{
          font-size: 1.5rem;
        }
        
        .col-items {
          @apply flex flex-col gap-5 items-center pt-5;
        }
        
      }
    }
  }
}



  
  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cdk-drag-animating {
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .cdk-drag-placeholder {
    opacity: 50%;
  }