<section class="screen">
    <section class="divide">
            <ng-container>
                <div *ngFor="let category of categories"
                    class="col"
                    [style.backgroundColor]="category.color"
                    cdkDropList                    
                >
                <div class="col-items">
                    <h2>{{ category.name }}</h2>
                    <ng-container 
                       *ngFor="let task of taskList"    
                    >
                    <app-card
                        *ngIf="task.category === category"
                        [task]="task"
                        [left]="isLeft(task)"
                        [ngClass]="isLeft(task) ? 'card-left' : 'card-right'"
                        cdkDrag
                    ></app-card>
                </ng-container>
            </div>
        </div>
    
    </ng-container>
    </section>

     <section class="properties">
        <div>
            <p>Visualizar por: </p>
            <select>
                <option *ngFor="let prop of properties">{{prop.name}}</option>
            </select>
        </div>
        <button>
            Gerenciar propriedades
        </button>
     </section>
</section>
