@import '../../../../variables';

* {
  scrollbar-width: thin;
  scrollbar-color: #092c4c #f3f3f3;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #092c4c;
  border-radius: 4px;
  border: 2px solid transparent;
}

.screen {
  @apply w-full h-[85%] mt-16;

  .col-container {
      @apply flex gap-4 overflow-auto h-full w-full;

      .col {
        @apply w-[350px] flex flex-col 
        gap-4 p-4 h-[90%] overflow-auto shadow-md;
        
          h2 {
            @apply text-2xl text-[#545B63] ml-3;
            font-family: $titleFont;
          }

          .col-items {
            @apply flex flex-col gap-5 items-center;
          }
        
      }
  }

}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 50%;
}
