<section class="screen">
    
    <ng-container cdkDropListGroup>

        <div class="col-container">
            <div class="col" *ngFor="let propertyList of status"
                [style.backgroundColor]="propertyList.color" [style.height]="getHeight(propertyList)"
                cdkDropList [cdkDropListData]="project.tasks" (cdkDropListDropped)="dropCard($event, propertyList)">
                <div class="flex flex-row justify-between w-full items-center">
                    <p class="large-text" [style.color]="getStrongerColor(propertyList.color)">{{ propertyList.value }}</p>
                    <button (click)="createTask(propertyList)"
                    [ngClass]="canCreate ? 'opacity-100' : 'opacity-20'" [style.color]="getStrongerColor(propertyList.color)" [disabled]="!canCreate">+</button>
                </div>

                <div class="col-items">

                    <ng-container 
                        *ngFor="let task of (taskList 
                            | namePipe : nameFilter 
                            | statusPipe : filter : false
                            | datePipe : filter
                            | nameSortPipe : orderParams
                            | dateSortPipe : orderParams)">

                        <app-card 
                            *ngIf="getTaskByProperty(task, propertyList)"
                            cdkDrag 
                            [task]="task"
                            [borderColor]="propertyList.color" 
                            [minHeight]="'140px'" 
                            [width]="'300px'" 
                            [cdkDragData]="task" 
                            [permissions]="permissions" 
                            (deleteTask)="deleteTask(task)" 
                            (openTaskDetails)="openTaskModal(task)" 
                        />
                    </ng-container>

                </div>
            </div>
        </div>
    </ng-container>
</section>