<section>
    <div class="container-custom">
        <!-- RIGHT SIDE TASKS/TEAMS -->
        <div class="container-grid">
            <div class="flex flex-row items-end gap-3">
                <h4>Projetos</h4>
            </div>
            <div class="pt-2">
                <p class="small-text text-gray-600">Projetos são os diferentes espaços de trabalho de uma equipe, neles</p>
                <p class="small-text text-gray-600">é possível segmentar assuntos e organizar as tarefas sua e/ou do time.</p>
            </div>

            <div class="functionally-items regular-text">
                <div class="search">
                    <input type="text" placeholder="Pesquisar por um projeto...">
                    <i class="pi pi-search cursor-pointer" style="font-size: 1.4rem;"></i>
                </div>
                <button class="create" (click)="switchCreateView()">
                    <i class="pi pi-plus-circle" style="font-size: 1.7rem;"></i>
                    Novo projeto
                </button>
            </div>


            <div class="default-size">
                <app-card-list style="width: 100%; height: 90%; padding-top: 3%"
                    (emitterItem)="delete($event)" [type]="'project'" [team]="team">
                </app-card-list>
                <app-create-team-project style="width: 100%; height: 90%; padding-top: 3%;"
                *ngIf="isCreatingProject" (close)="switchCreateView()"
                [typeString]="'project'"></app-create-team-project>
            </div>
        </div>

        <!-- RIGHT SIDE - QUICK ACCESS -->
        <div class="container-grid">
            <div class="default-size">
                <div class="flex flex-row items-end gap-3">
                    <h4>Tarefas de {{teamName}}</h4>
                </div>
                <div class="pt-2">
                    <p class="small-text text-gray-600">Nessa seção é possível visualizar todas as tarefas na qual você</p>
                    <p class="small-text text-gray-600">é um dos responsáveis dentro da equipe {{teamName}}</p>
                </div>
                <div class="functionally-items regular-text">
                    <div class="search">
                        <input type="text" placeholder="Pesquise por uma tarefa..." [(ngModel)]="queryFilter">
                        <i class="pi pi-search cursor-pointer" style="font-size: 1.4rem;"></i>
                    </div>
                    <div class="filter-items">
                        <div *ngFor="let item of configItems" class="icons">
                            <button (click)="item.click()">
                                <i class="{{ item.iconClass }}" [style.transform]="item.id === 'order' ? 'rotate(90deg)' : 'rotate(0deg)'"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <section class="filter-settings" *ngIf="filterOpen || orderOpen">
                    <ng-container *ngIf="filterOpen">
                        <p>Filtrar por </p>
                        <p-cascadeSelect 
                            [(ngModel)]="selectedFilter" 
                            [options]="filterOptions" 
                            optionLabel="name" 
                            optionGroupLabel="name" 
                            [optionGroupChildren]="['values']" 
                            [style]="{ minWidth: '14rem' }" 
                            placeholder="Selecione"
                        >

                    </p-cascadeSelect>

                    </ng-container>
                    <ng-container *ngIf="orderOpen">
                        <p>Ordenar por </p>
                        <select>
                            <option *ngFor="let item of orderSettings">
                                {{ item.label }}
                            </option>
                        </select>
                    </ng-container>
                </section>

        <!-- NG IF uses to wait the permissions request before render the component -->
                <div class="default-size" *ngIf="permissionsOnTeamObservable | async">
                    <app-list 
                        style="padding-top: 3%;" 
                        [team]="team" 
                        (openTaskDetails)="changeModalTaskState(true, $event)" 
                        [permissions]="permissionsOnTeam"
                        [queryFilter]="queryFilter"
                        [statusFilter]="selectedFilter"
                    ></app-list>
                </div>
                <!-- <app-quick-access style="width: 100%; height:100%;" [typeString]="'project'"></app-quick-access> -->
            </div>
        </div>
    </div>
</section>

<app-task [task]="taskOpenObject" *ngIf="taskOpen"
    (close)="changeModalTaskState(false, taskOpenObject)" [permissions]="permissionsOnTeam"></app-task>