@import '../../../variables';

section{
    @apply flex w-screen h-full justify-center items-center ;
}

.container-custom{
    @apply grid w-[90%] h-full grid-cols-2 gap-20;
}

//TEAMS
.nav-tasks-teams{
    border-color: $primaryColor;
    @apply w-[368px] h-[53px] flex gap-1 border-b-[1px] flex-row pb-4;
    border-bottom: 0.25px solid $emphasis;

    label {
        @apply w-[135px] h-[48px] flex gap-2 p-4 px-4 transition-colors
        items-center justify-center rounded cursor-pointer;

    }

    label:hover {
        background-color: $primaryColor;
        color: $secondColor;
        @apply transition-colors;
    }
}

.functionally-items {
    @apply flex flex-row w-full pt-4 justify-between;
}

.functionally-items-task {
    @apply flex flex-col w-full justify-between;

    .filter-items {
        @apply flex;
    }

}

.functionally-items, .functionally-items-task {

    .container {
        @apply flex w-full justify-between;
    }

    .filter-items {
        @apply flex gap-2;

        button {
            border: none;
            &:hover {
                background-color: $primaryColor;
                color: $secondColor;
            }
        }
    }
    //BUTTONS
    button {
        @apply flex w-full  items-center justify-center 
        border-2 transition-colors rounded p-3;
    }
    
    button:hover {
        background-color: $secondColor;
        color: $primaryColor;
        @apply transition-colors;
    }
    
    .create {
        background-color: $primaryColor;
        border-color: $primaryColor;
        color: $secondColor;
        @apply h-full w-[180px] flex items-center justify-center gap-4
        text-lg p-3 rounded font-light border-2 transition-colors;
    }
    .search {
        @apply w-96 h-[56px] flex items-center justify-between bg-white p-3
        rounded shadow-md border-none;

        i {
            @apply w-[10%];
        }

        input {
            @apply w-[90%] h-full outline-none flex items-center pl-2;
        }
    }
}

.icons {
    button {
        i {
            font-size: 1.5rem;
        }
    }
}

.clicked {
    color: $secondColor;
    background-color: $primaryColor;
}
.default {
    color: $primaryColor;
    background-color: $secondColor;
}

.container-grid{
    @apply flex flex-col h-[90%] w-full pt-4;
}
.default-size{
    @apply flex w-full h-[70%] flex-col;
}


// TASK - FILTER ORDER
.filter-settings {
    @apply flex gap-3 h-[5%] pt-8 justify-start;

    p {
        color: $primaryColor;
        @apply text-lg;
    }

    select {
        @apply w-[170px] h-[35px] text-center outline-none;
    }

}


