<div class="main-screen">
    <section class="header-away">

    </section>

    <section class="mural-section">
        <div class="utilities-buttons">
            <app-button [title]="'Adicionar Tarefa'" [icon]="'pi-plus'" [width]="'200px'" [height]="'50px'"
                [textColor]="secondColor" [background]="primaryColor" (clickEvent)="teste()" />
            <div class="create-and-filter">
                <app-button [title]="'Criar Tag'" [width]="'150px'" [height]="'50px'"
                    [textColor]="secondColor" [background]="primaryColor" (clickEvent)="teste()" />
                <app-button  [icon]="'pi-tag'" [width]="'50px'" [height]="'50px'"
                [textColor]="secondColor" [background]="primaryColor" (clickEvent)="teste()"/>
            </div>
        </div>
    </section>
</div>