
@import "../../../../variables.scss";
.card-task-review{
    @apply flex min-h-[80px] w-[97%] items-start justify-center flex-col rounded-sm px-3 mt-4;
    background-color: $card;
    &:hover{
        @apply w-full cursor-pointer;
        background-color: $primaryColor;

        p{
            color: $secondColor !important;
        }
    }
}

.task-reviewed-focus{  
    border-left: 6px solid $primaryColor;   
}

.review-grade{

    button{
        @apply w-[100px] h-[40px] flex items-center justify-center rounded-sm;
    }

    #primary-btn{
        background-color: $primaryColor;
        color: $secondColor;
        @apply transition-colors;
        &:hover{
            background-color: $secondColor;
            color: $primaryColor;
            border: 1px solid $primaryColor;

        }
    }

    #red-btn{
        background-color: $error;
        color: $secondColor;
        @apply transition-colors;
        &:hover{
            background-color: $secondColor;
            color: $error;
            border: 1px solid $error;
        }
    }
}

table, th, td {
    border:1px solid black;
}
table > tr {
    @apply h-[40px];
}
