<app-modal-warn [height]="'650px'" [width]="'900px'" (close)="closeReview()">
    <section class="grid w-full h-[500px] pt-6" style="grid-template-columns: 35% 65%;">
        <div class="flex flex-col h-full w-full">
            <p class="large-text self-start">Tarefas para serem Revisadas</p>
            <div class="flex flex-col w-full h-[470px] overflow-y-auto overflow-x-hidden">
                <ng-container *ngFor="let taskToReview of tasksToReview">
                    <div 
                    class="card-task-review" 
                    (click)="selectedReviewTask(taskToReview)"
                    [ngClass]="isTaskReviewed(taskToReview) ? 'task-reviewed-focus' : ''"
                    
                    >
                        <p class="medium-text">{{ taskBeingReviewed.name }}</p>
                        <p class="small-text">{{ taskBeingReviewed.description }}</p>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="pl-4 border-l-4">
            <div class="flex flex-col w-full">
                <h6 class="self-start">Responsável pelo Envio - {{taskBeingReviewed.name}}</h6>
                <p class="medium-text self-start pt-4 pl-6">{{taskBeingReviewed.sender.username}} -
                    {{taskBeingReviewed.sender.email}}</p>
                <p class="medium-text self-start pt-3">Descrição Final</p>
                <p class="small-text self-start pl-6 h-[50px]">{{taskBeingReviewed.sender.finalDescription}}</p>
            </div>

            <div class="flex w-full max-h-[161px] overflow-x-hidden overflow-y-auto mt-5">
                <table class="w-full">
                    <tr>
                        <th>Responsável</th>
                        <th>Tempo</th>
                    </tr>
                    <tr *ngFor="let responsable of taskBeingReviewed.reviewHours">
                        <td>{{responsable.username}}</td>
                        <td>{{responsable.time}}</td>
                    </tr>
                </table>
            </div>

            <div class="flex flex-col pt-3">
                <p class="medium-text self-start">Devolutiva</p>
                <div class="grid grid-cols-2 pt-2">
                    <textarea name="" id="" class="flex w-full h-[120px] outline-none px-3 py-1"
                        placeholder="Insira uma descrição devolutiva..." [(ngModel)]="finalReviewResult.finalDescription"></textarea>
                        <div class="review-grade">
                            <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
                            <p class="small-text">Nota será concedida para todos os responsáveis da tarefa.</p>
                            <div class="flex w-full justify-evenly pt-5">
                                <button id="red-btn" (click)="finalReview(false)">Reprovar</button>
                                <button id="primary-btn" (click)="finalReview(true)">Aprovar</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
</app-modal-warn>