<div class="list">
    <ng-container *ngFor="let item of getType()">
        <div class="card">
            <div class="image" (click)="openTeam(item.id)">
                <img src="../../../../assets/teste/teste.jpg">
            </div>
            <div class="informations">
                <div class="informations-text" (click)="openTeam(item.id)">
                    <p class="large-text">{{item.name}}</p>
                    <div>
                        <p class="medium-text">Data de criação: </p>
                        <p class="medium-text">{{item.creator?.firstName}}</p>
                    </div>
                </div>
                <div class="informations-input">
                    <p class="regular-text">Visualizar Informações</p>
                    <div>
                        <i class="pi pi-comment"></i>
                        <i class="pi pi-trash" (click)="deleteEmit(item.id)"></i>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<app-confirm-modal *ngIf="delete" 
    [width]="'450px'" 
    [height]="'250px'" 
    [title]="'a equipe'" (close)="deleteTeam($event)"
></app-confirm-modal>




