<div class="list">
    <div class="grid grid-cols-2 h-[300px] gap-[20px]">

    <ng-container *ngFor="let item of getType()">
        <div class="card">
            <div class="image flex justify-center items-center overflow-hidden" (click)="openTeam(item.id)">
                <!-- <img src="../../../../assets/logo-weg.png" alt="" class="h-[70%]"> -->
                <img src="data:image/jpg;base64, {{item.image}}" alt="" class="w-[100%]">
            </div>
            <div class="informations" (click)="openTeam(item.id)">
                <p class="large-text">{{item.name}}</p>
                <p class="regular-text">Visualizar Informações</p>
            </div>
        </div>

        <app-confirm-modal *ngIf="delete && type==='project'" [width]="'450px'" [height]="'250px'" [title]="'o projeto'"
            (confirmEvent)="emitItem($event)"></app-confirm-modal>
        <app-confirm-modal *ngIf="delete && type==='team'" [width]="'450px'" [height]="'250px'" [title]="'a equipe'"
            (confirmEvent)="emitItem($event)"></app-confirm-modal>
    </ng-container>
    </div>
</div>