@import '../../../../variables';
    .list{
        @apply flex w-full h-[620px] flex-col gap-[16px];
        overflow-y: auto;
    }

    .card{
        @apply flex w-full h-[400px] shadow-lg rounded-sm flex-row ;
        background-color: $card;
        font-family: $fontFamily;
        color: $text;
        cursor: pointer;
    
        &:hover{
            background-color: $secondColor;
            @apply transition-colors duration-300 brightness-90;
        }

        .image {
            @apply flex h-4/6 w-full rounded-lg;
            object-fit: cover;
        }
    
    
        .informations{
            @apply flex h-2/6 w-full flex-row px-4 justify-evenly;

            .infos-team {
                @apply w-full flex flex-col justify-evenly
            };

            .icon {
                @apply flex items-end justify-end pb-6;
            };
        }
    
        .informations-text{
            @apply flex w-full h-5/6 flex-row pt-2 justify-between;
        }
        .informations-text > div{
            @apply flex flex-col items-end;
        }
        .informations-input{
            @apply flex w-full h-1/6 flex-row justify-between;
        }
        .informations-input > div{
            @apply flex w-[15%] h-full flex-row justify-between;
    
            i{
                @apply flex text-xl;
                color: $primaryColor;
            }
        }
    }

    .modal {
        @apply flex flex-col items-center justify-center w-full h-full pb-16;

        div{
            @apply flex flex-row;
        }
    }
    
// @media screen and (max-width: 1599px){
//     .list{
//         @apply flex w-full h-[500px] flex-col gap-[16px];
//         overflow-y: scroll;
//     }
//     .card{
//         @apply flex w-[98%] min-h-[150px] bg-white shadow-lg rounded-lg flex-row;
//         font-family: $fontFamily;
//         color: $primaryColor;
    
//         .image {
//             @apply flex h-full w-2/6 rounded-lg;
//             object-fit: cover;
//         }
    
    
//         .informations{
//             @apply flex h-full w-4/6 flex-col pl-4 pr-4;
//         }
    
//         .informations-text{
//             @apply flex w-full h-5/6 flex-row pt-2 justify-between;
//         }
//         .informations-text > div{
//             @apply flex flex-col items-end;
//         }
//         .informations-input{
//             @apply flex w-full h-1/6 flex-row justify-between;
//         }
//         .informations-input > div{
//             @apply flex w-[15%] h-full flex-row justify-between pb-3;
    
//             i{
//                 @apply flex text-lg;
//                 color: $primaryColor;
//             }
//         }
//     }
// }

.trash-icon {
    color: $primaryColor;
    font-size: 1.25rem;
}

