<form [formGroup]="form" (ngSubmit)="onSubmit()" class="modal-overlay" *ngIf="typeString != 'addingParticipants'">

  <div class="modal">
    <h4 class="title" >Crie um novo grupo</h4>
  
    <div class="div-name">
      <div class="input-name">
        <p>Nome do grupo</p>
        <input
            formControlName="name" 
            [placeholder]="'Adicione um nome para o grupo'"
            type="text" 
        >
      </div>
    </div>
  
    <p class="pb-4">Selecionar participantes</p>
    <div class="input-description">
      <app-card-user [typeString]="'creating'" [width]="'600px'" [height]="'70px'" (user)="selectUsers($event)"
      [team]="team" class="pt-2"></app-card-user>
    </div>
  
    <div class="div-buttons">
      <div class="buttons">
        <button class="button cancel" (click)="closeGroup()">Cancelar</button>
        <button class="button confirm" type="submit">Criar grupo</button>
      </div>
    </div>
  </div>
</form>


<form [formGroup]="form" (ngSubmit)="onSubmit2(group)" class="modal-overlay" *ngIf="typeString === 'addingParticipants'">
  <div class="modal">
    <p>Adicionar mais participantes</p>
    <app-card-user [group]="group" [typeString]="'creating'" [width]="'600px'" [height]="'70px'" (user)="pushParticipants($event)"
    [team]="team" class="pt-4"></app-card-user>
    <div class="div-buttons">
      <div class="buttons">
        <button class="button cancel" (click)="closeGroup()">Cancelar</button>
        <button class="button confirm" type="submit">Criar grupo</button>
      </div>
    </div>
  </div>
</form>

<app-modal-warn (close)="closeScreen()" *ngIf="modalCopyLink">
  <h5>Equipe {{form.value.name}} criada com sucesso!</h5>
  <div class="informations-modal medium-text">
    <p>Convide pessoas para {{form.value.name}}</p>
    <p>através do link abaixo.</p>
  </div>
  <app-button [title]="'Copiar Link de Convite'" [icon]="'pi-link'" [width]="'250px'" [height]="'50px'"
    (clickEvent)="copyLink()" />
</app-modal-warn>
  
