@import "../../../../variables";

form {
    @apply w-full h-full flex flex-col justify-between;
    color: $primaryColor;
}

.title {
    @apply flex h-[15%];
}

.div-name {
    @apply w-full
}

.input-name {
    @apply flex flex-col w-full h-[80%] justify-start items-start pt-4;

    input {
        @apply flex h-20 rounded-md pl-4 w-full;
        background-color: $card;
        color: $text;
    }

    p {
        @apply pb-4
    }
}

.input-description {
    @apply flex flex-col w-full items-start;
    overflow-y: auto;

    p {
        @apply pl-4 pt-3;
        font-size: $regularText
    }
}

.div-buttons {
    @apply flex w-full justify-end items-end pt-10;

    .buttons {
        @apply flex w-[65%] h-full justify-between items-end;
    }
}

p {
    font-size: $largeText;
}

.modal-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-[#b4b4b4] bg-opacity-50 flex justify-center items-center transition-transform;
    z-index: 999;
}

.modal {
    @apply absolute rounded-md flex flex-col w-[25%] h-[45%] items-start justify-start text-center p-8 border-t-8;
    border-color: $primaryColor;
    background-color: $secondColor;
}

.button {
    @apply w-[130px] h-[40px] flex gap-2 p-4 px-4 transition-colors items-center justify-center rounded cursor-pointer;
    color: $secondColor
}

.confirm {
    background-color: $primaryColor;
    color: $secondColor
}

.cancel {
    background-color: $error;
    color: $secondColor
}