@import "../../../../variables";

form{
    @apply w-full h-full flex flex-col justify-between;
    color: $primaryColor;
}

.title{
    @apply flex h-[15%];
}

.div-name{
    @apply h-[25%]
}

.input-name{
    @apply flex flex-col w-full h-[80%];

    p{
        @apply text-xl pb-6;
    }
    input{
        @apply flex h-52 rounded-md pl-4;
    }
}

.input-description{
    @apply flex flex-col w-full h-[50%] bg-white;
    overflow-y: scroll;

    p:first-child{
        @apply pl-4 pt-3 text-base;
    }
}

.div-buttons{
    @apply flex h-[25%] w-full justify-end items-center;

    .buttons{
        @apply flex w-full h-full justify-end items-center;
    }

    .cancel-button{
        @apply flex items-center justify-center w-32 h-12 rounded-sm mr-4;
        background-color: $error;
        color: white;
    }
    .confirm-button{
        @apply flex items-center justify-center w-32 h-12 rounded-sm;
        background-color: $primaryColor;
        color: white;
    }
}
