@import 'src/_variables.scss';

.note {
  position: absolute;
  background-color: $whiteDefault;
}

.content-wrapper {
  position: absolute;
  overflow: auto;
}

.drag-handle {
  width: 100%;
  height: 15%;
  @apply flex justify-end;

  i {
    cursor: pointer;
    font-size: 1.2rem;
    margin: 10px;
  }

}

.resizers {
  box-sizing: border-box;

  .resizer {
    width: 6px;
    height: 6px;
    border-radius: 1px;
    background: white;
    position: absolute;
  }

  .right {
    top: 0;
    right: -3px;
    height: 100%;
    cursor: ew-resize;
    transition: 0.3s;

    &:hover {
      border-right: 2px solid $primaryColor;
      transition: 0.3s;
    }
  }

  .bottom {
    bottom: -3px;
    left: 0;
    width: 100%;
    cursor: ns-resize;
    transition: 0.3s;

    &:hover {
      border-bottom: 2px solid $primaryColor;
      transition: 0.3s;
    }
  }

  .top {
    top: -3px;
    left: 0;
    width: 100%;
    cursor: ns-resize;
    transition: 0.3s;

    &:hover {
      border-top: 2px solid $primaryColor;
      transition: 0.3s;
    }
  }

  .left {
    top: 0;
    left: -3px;
    height: 100%;
    cursor: ew-resize;
    transition: 0.3s;

    &:hover {
      border-left: 2px solid $primaryColor;
      transition: 0.3s;
    }
  }

  .bottom-right {
    right: -3px;
    bottom: -3px;
    cursor: nwse-resize;
    transition: 0.3s;

    &:hover {
      background-color: $primaryColor;
      transition: 0.3s;
    }
  }

  .top-right {
    right: -3px;
    top: -3px;
    cursor: nesw-resize;
    transition: 0.3s;

    &:hover {
      background-color: $primaryColor;
      transition: 0.3s;
    }
  }

  .top-left {
    left: -3px;
    top: -3px;
    cursor: nwse-resize;
    transition: 0.3s;

    &:hover {
      background-color: $primaryColor;
      transition: 0.3s;
    }
  }

  .bottom-left {
    left: -3px;
    bottom: -3px;
    cursor: nesw-resize;
    transition: 0.3s;

    &:hover {
      background-color: $primaryColor;
      transition: 0.3s;
    }
  }
}