
<div 
  #resizeBox 
  class="card" 
  [style.width.px]="note.width"
  [style.height.px]="note.height"
  [style.backgroundColor]="note.color"
  cdkDrag 
  cdkDragBoundary=".mural-section"
  [cdkDragFreeDragPosition]="getNotePosition()"
  (cdkDragEnded)="dragEnd($event)"
>
  <span #dragHandleCorner class="dragHandle corner" cdkDrag (cdkDragMoved)="dragMove(dragHandleCorner, $event)"></span>
  <span #dragHandleRight cdkDragLockAxis="x" class="dragHandle right" cdkDrag (cdkDragMoved)="dragMove(dragHandleRight, $event)"></span>
  <span #dragHandleBottom cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag (cdkDragMoved)="dragMove(dragHandleBottom, $event)"></span>
  <span class="full" style="width: 100%;">

    <div class="left">
      <h6>{{ note.title }}</h6>
      
      <div class="text regular-text">
        <p>
          {{ note.description }}
        </p>
      </div>
    </div>

    <div class="right">

      <div class="icons">
        <ng-container *ngFor="let item of configItems">
          <i 
            (click)="item.onClick()"
            class="{{item.iconClass}}"
            style="font-size: 1rem"
          ></i>
        </ng-container>
      </div>
    </div>
  </span>
</div>

<app-note-modal
  *ngIf="modalOpen"
  [note]="note"
  (closeModal)="toggleModalOpen()"
  (patchOutput)="edit()"
></app-note-modal>