<div 
  #resizeBox 
  class="card" 
  [style.width.px]="note.width"
  [style.height.px]="note.height"
  [cdkDragFreeDragPosition]="note.position"
  [style.backgroundColor]="note.color"
  cdkDrag  
  cdkDragBoundary=".mural-section"
  (cdkDragEnded)="dragEnd($event)"
  (click)="toggleModalOpen()"
>
  <span #dragHandleCorner class="dragHandle corner" cdkDrag (cdkDragMoved)="dragMove(dragHandleCorner, $event)"></span>
  <span #dragHandleRight cdkDragLockAxis="x" class="dragHandle right" cdkDrag (cdkDragMoved)="dragMove(dragHandleRight, $event)"></span>
  <span #dragHandleBottom cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag (cdkDragMoved)="dragMove(dragHandleBottom, $event)"></span>
  <span class="full" style="width: 100%;">

    <div class="image" *ngIf="hasImage()">
      <img src="#" alt="Imagem">
    </div>

    <div class="left">
      <h6>{{ note.title }}</h6>
      
      <div class="text regular-text">
        <p>
          {{ note.description && note.description 
            || "Sem descrição." }}
        </p>
      </div>
    </div>

    <div class="right">
      <div class="date small-text">
        12/12/2020
      </div>

      <div class="icons" [style.backgroundColor]="note.color">
        <ng-container *ngFor="let item of configItems">
          <i 
            class="{{item.iconClass}}"
            style="font-size: 1rem"
          ></i>
        </ng-container>
      </div>
    </div>
  </span>
</div>

<!-- <app-note-modal
  *ngIf="modalOpen"
  [note]="note"
  (closeModal)="toggleModalOpen()"
></app-note-modal> -->