<div class="base">
    <ul class="teste-scroll">
        <li *ngFor="let comment of task.comments">
            <div class="comment-informations">
                <div>
                    <fa-icon class="iconUser" [icon]="faCircleUser"></fa-icon>
                    <p>{{getName(comment.taskResponsable!)}}</p>
                </div>
                <div>
                    <p class="small-text">{{getDate(comment.date!)}}</p>
                    <fa-icon (click)="deleteComment(comment)" [icon]="faTrash" *ngIf="isLoggedUser(comment.taskResponsable!)"></fa-icon>
                </div>
            </div>
            <div class="comment-text">
                <p class="regular-text">{{comment.comment}}</p>
            </div>
        </li>
        <div *ngIf="!hasComments" class="flex w-full items-center flex-col h-[90%] null-comment">
            <p class="pt-3">Nenhum comentário feito na tarefa!</p>
            <p>Seja você o primeiro!</p>
        </div>
    </ul>
    <div class="send-message">
        <textarea type="text" [(ngModel)]="message" placeholder="Faça algum comentário..." class="medium-text"></textarea>
        <button (click)="sendComment()">Enviar</button>
    </div>
</div>