@import "../../../../../variables";

.base {
    @apply w-full h-full flex justify-center flex-col;
}

li {
    @apply flex gap-1 flex-col w-full;
    border-bottom: 1px solid #e5e5e5;
    .comment-informations {
        @apply flex items-center justify-between px-2 min-h-[40px];

        p {
            color: $text;
        }

        div:first-child, div:last-child{
            @apply flex flex-row items-center gap-2;
        }
    }
    .comment-text {
        @apply flex flex-col gap-1 p-2 min-h-[60px];

        p{
            word-break: break-all;
        }
    }
}

ul {
    @apply w-full h-[300px] flex flex-col gap-3 items-start overflow-y-auto overflow-x-hidden;
}


.send-message{
    @apply flex flex-col items-center gap-2 w-full ;
    textarea{
        @apply flex w-full h-[90px] px-3 py-1 items-start;
        border: 0.50px solid $emphasis;
        resize: none !important;    
    }

    button{
        @apply self-end;
    }

}


fa-icon{
    color: $primaryColor;
    font-size: 14px;
}