<section>
    <div class="container-custom">
        <!-- CODIGO AQUI - COMO QUISER  -->

        <div class="left-side">
            <div class="divHead">
                <div>
                    <fa-icon class="iconUser" [icon]="faCircleUser"></fa-icon>
                </div>

                <div class="divTextHead">
                    <h3 class="font-bold">
                        {{team.name ? team.name : "Equipe sem nome"}}
                    </h3>
                    <div class="divMembers">
                        <p class="medium-text">{{getMembersQtt()}} {{getMembersQtt() === 1 ? "membro" : "membros"}}</p>
                        <fa-icon class="iconLink" [icon]="faLink"></fa-icon>
                        <p class="medium-text">Copiar link de convite</p>
                    </div>

                    <p class="medium-text">Data de Criação: 24/10/2022</p>
                </div>
            </div>

            <div class="high-div-members">
                <div class="div-members">
                    <h5>Membros da equipe</h5>
                    <div class="members ">
                        <ng-container *ngFor="let item of menuItems">
                            <label class="gap-3 " [ngClass]="clicked === item.id ? 'clicked' : 'default'">
                                <i class="{{ item.iconClass }}" style="font-size: 1rem"></i>
                                <button routerLink="[item.id]" (click)="changePreviewMode(item.id)">
                                    {{ item.label }}
                                </button>
                            </label>
                        </ng-container>
                    </div>
                    <div class="emptyDiv"></div>
                </div>

                <div class="high-listDiv-members">
                    <div class="listDiv-members">
                        <p class="large-text">Lista de membros</p>
                        <p> | </p>
                        <div (click)="copyInviteLink()" class="flex gap-5 items-center">
                            <fa-icon class="iconLink" [icon]="faLink"></fa-icon>
                            <p>Copiar link de convite</p>
                        </div>
                    </div>

                    <div>
                        <fa-icon class="iconLink" [icon]="faSearch"></fa-icon>
                    </div>
                </div>
            </div>


            <div *ngIf="clicked == 'participants'" class="grid-participants">
                <ng-container *ngFor="let user of team.users">
                    <div class="card-user-grid">
                        <div class="div-text-card">
                            <fa-icon class="iconUser" [icon]="faCircleUser"></fa-icon>
                        </div>

                        <div class="highDiv-card-informations">
                            <p class="medium-text">{{ user.firstName }} {{user.lastName}}</p>
                            <p class="small-text opacity-60">(( user.function ))</p>
                            <div class="divSocial-media">
                                <!-- <ng-container *ngFor="let item of user.socialMedia">
                                    <fa-icon class="social-media" [icon]="item"></fa-icon>
                                </ng-container> -->
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>


            <div *ngIf="clicked == 'permissions'" class="grid-permissions">
                <ng-container *ngFor="let user of team.users; let id = index">
                    <div class="extense-card">
                        <div class="div-permission">
                            <div class="div-permission-icon">
                                <fa-icon class="permission-icon" [icon]="faCircleUser"></fa-icon>
                            </div>

                            <div class="div-permission-nameFunction">
                                <p class="medium-text">{{ user.firstName }} {{user.lastName}}</p>
                                <p class="small-text opacity-60">(( user.function ))</p>
                            </div>

                            <div class="div-swap-permission">
                                <fa-icon (click)="swapPermissionExpanded(id)" class="icon-swap-permission"
                                    [icon]="faChevronDown"></fa-icon>
                            </div>
                        </div>

                        <!-- <div *ngIf="user.open" class="extense-cardExpanded">
                            <div class="div-checkbox1">
                                <input type="checkbox" id="editionCheck">
                                <label for="editionCheck">Edição</label>
                            </div>

                            <div class="div-checkbox2">
                                <input type="checkbox" id="visualizeCheck">
                                <label for="visualizeCheck">Visualização</label>
                            </div>

                            <div class="div-checkbox3">
                                <input type="checkbox" id="createCheck">
                                <label for="createCheck">Criação</label>
                            </div>
                        </div> -->
                    </div>


                </ng-container>
            </div>
        </div>

        <!-- =============================================================================================== -->

        <div class="right-side">
            <div class="div-description-top-right">
                <div class="flex w-[82%] items-center h-[30%]">
                    <h5>Descrição da equipe</h5>
                </div>
                <p class="regular-text w-[82%] h-[58%] text-justify overflow-auto">{{team.description}}</p>
            </div>

            <div class="h-[8.5%] w-full items-end justify-center flex">
                <div class="w-[81%]">
                    <h5 class="h5-description h-full">Andamento dos projetos</h5>
                </div>
            </div>

            <div class="div-project-dashboards">
                <div class="high-div-dashboards-bar">

                    <div class="divOf-project-dashboards-bar">
                        <div class="divProjectDashboardsBar">
                            <p-chart class="dashboard-bar" type="bar" [data]="basicData" [options]="basicOptions">
                            </p-chart>

                        </div>

                        <div class="divProjectDashboardsBar">
                            <p-chart class="dashboard-bar" type="bar" [data]="basicData" [options]="basicOptions">
                            </p-chart>

                        </div>
                    </div>

                </div>

                <div class="high-div-dashboards-pie">
                    <div class="divOf-project-dashboards-pie">
                        <div class="divProjectDashboardsPie">
                            <p-chart class="dashboard-pie" type="pie" [data]="data" [options]="options"></p-chart>

                        </div>

                        <div class="divProjectDashboardsPie">
                            <p-chart class="dashboard-pie" type="pie" [data]="data" [options]="options"></p-chart>

                        </div>
                        <div class="divProjectDashboardsPie">
                            <p-chart class="dashboard-pie" type="pie" [data]="data" [options]="options"></p-chart>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>