<section>
    <div class="container-custom">
        <!-- CODIGO AQUI - COMO QUISER  -->

        <div class="left-side">
            <div class="divHead">
                <div>
                    <fa-icon class="iconUser" [icon]="faCircleUser"></fa-icon>
                </div>

                <div class="divTextHead">
                    <div>
                        <h1 class="textHead">
                            Nome Equipe
                        </h1>

                        <div class="divMembers">
                            <p class="membersInvite">3 membros</p>
                            <fa-icon class="iconLink" [icon]="faLink"></fa-icon>
                            <p>Copiar link de convite</p>
                        </div>
                    </div>

                    <h1 class="data">Data de Criação: 24/10/2022</h1>
                </div>
            </div>

            <div class="high-div-members">
                <div class="div-members">
                    <h1 class="textHead">Membros da equipe</h1>
                    <div class="members ">
                        <ng-container *ngFor="let item of menuItems">
                            <label class="data gap-3 " [ngClass]="clicked === item.id ? 'clicked' : 'default'">
                                <i class="{{ item.iconClass }}" style="font-size: 1rem"></i>
                                <button routerLink="[item.id]" (click)="changePreviewMode(item.id)">
                                    {{ item.label }}
                                </button>
                            </label>
                        </ng-container>
                    </div>
                    <div class="emptyDiv"></div>
                </div>

                <div class="high-listDiv-members">
                    <div class="listDiv-members">
                        <h2>Lista de membros</h2>
                        <p> | </p>
                        <div class="flex gap-1">
                            <fa-icon class="iconLink" [icon]="faLink"></fa-icon>
                            <p>Copiar link de convite</p>
                        </div>
                    </div>

                    <div>
                        <fa-icon class="iconLink" [icon]="faSearch"></fa-icon>
                    </div>
                </div>
            </div>


            <div *ngIf="clicked == 'participants'" class="grid-participants">
                <ng-container *ngFor="let user of users">
                    <div class="card-user-grid">
                        <div class="div-text-card">
                            <fa-icon class="iconUser" [icon]="faCircleUser"></fa-icon>
                        </div>

                        <div class="highDiv-card-informations">
                            <h1 class="text-title">{{ user.name }}</h1>
                            <p class="text-function">{{ user.function }}</p>
                            <div class="divSocial-media">
                                <ng-container *ngFor="let item of user.socialMedia">
                                    <fa-icon class="social-media" [icon]="item"></fa-icon>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>


            <div *ngIf="clicked == 'permissions'" class="grid-permissions">
                <ng-container *ngFor="let user of users; let id = index">
                    <div class="extense-card">
                        <div class="div-permission">
                            <div class="div-permission-icon">
                                <fa-icon class="permission-icon" [icon]="faCircleUser"></fa-icon>
                            </div>

                            <div class="div-permission-nameFunction">
                                <h1 class="text-title">{{ user.name }}</h1>
                                <p class="text-function">{{ user.function }}</p>
                            </div>

                            <div class="div-swap-permission">
                                <fa-icon (click)="swapPermissionExpanded(id)"
                                    class="icon-swap-permission" [icon]="faChevronDown"></fa-icon>
                            </div>
                        </div>
                        
                        <div *ngIf="user.open" class="extense-cardExpanded">
                            <div class="div-checkbox1">
                                <input type="checkbox" id="editionCheck">
                                <label for="editionCheck">Edição</label>
                            </div>

                            <div class="div-checkbox2">
                                <input type="checkbox" id="visualizeCheck">
                                <label for="visualizeCheck">Visualização</label>
                            </div>

                            <div class="div-checkbox3">
                                <input type="checkbox" id="createCheck">
                                <label for="createCheck">Criação</label>
                            </div>
                        </div>
                    </div>


                </ng-container>
            </div>
        </div>

        <!-- =============================================================================================== -->

        <div class="right-side">
            <div class="div-description-top-right">
                <h1 class="h1-description">Descrição da equipe</h1>
                <h3 class="h3-description">"Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum."</h3>
            </div>

            <h1 class="h1-description">Andamento dos projetos</h1>

            <div class="div-project-dashboards">
                <div class="high-div-dashboards-bar">

                    <div class="divOf-project-dashboards-bar">
                        <div class="divProjectDashboardsBar">
                            <p-chart class="dashboard-bar" type="bar"
                                [data]="basicData" [options]="basicOptions"></p-chart>

                        </div>

                        <div class="divProjectDashboardsBar">
                            <p-chart class="dashboard-bar" type="bar"
                                [data]="basicData" [options]="basicOptions"></p-chart>

                        </div>
                    </div>

                </div>

                <div class="high-div-dashboards-pie">
                    <div class="divOf-project-dashboards-pie">
                        <div class="divProjectDashboardsPie">
                            <p-chart class="dashboard-pie" type="pie"
                                [data]="data" [options]="options"></p-chart>

                        </div>

                        <div class="divProjectDashboardsPie">
                            <p-chart class="dashboard-pie" type="pie"
                                [data]="data" [options]="options"></p-chart>

                        </div>
                        <div class="divProjectDashboardsPie">
                            <p-chart class="dashboard-pie" type="pie"
                                [data]="data" [options]="options"></p-chart>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>