@import '../../../_variables.scss';

section {
    @apply flex w-screen h-full justify-center items-center;
}

.container-custom {
    @apply flex w-[90%] h-full;
}

.left-side {
    @apply flex flex-col w-[50%] h-full gap-8;
}

.divHead {
    @apply flex w-[80%] h-[25%] items-center gap-10;

    .iconUser {
        @apply text-[180px];
        color: $primaryColor;
    }
    .divTextHead {
        @apply flex flex-col w-[80%] gap-4;
    }
    .iconLink {
        @apply flex items-center text-[15px];
        color: $primaryColor;
    }
    .divMembers {
        @apply flex gap-2;
    }
}






.clicked {
    color: $secondColor;
    background-color: $primaryColor;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.default {
    color: $primaryColor;
    background-color: $secondColor;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

// ============================================================================================================================================================================


.right-side {
    @apply flex flex-col justify-evenly w-[50%] h-full;
}

.divProjectDashboardsBar {
    @apply flex w-[40%] h-[90%]  border-t-8 rounded-sm;
    background-color: $card;
    border-color: $primaryColor;
}

.divProjectDashboardsPie {
    @apply flex justify-center items-center w-[40%] h-[85%] border-t-8 rounded-sm;
    background-color: $card;
    border-color: $primaryColor;
}