<section>
    <div class="container-custom" *ngIf="teamObservable | async">
        <!-- CODIGO AQUI - COMO QUISER  -->

        <div class="left-side">
            <div class="divHead">
                <div class="input-image">
                    <div class="image relative">
                      <img *ngIf="selectedFile" src="data:image/jpg;base64, {{team.image}}" alt="">
                      <fa-icon [icon]="faImage" class="image-icon" *ngIf="!selectedFile"></fa-icon>
                      <form class="input-div">
                        <input type="file" class="input-file" (change)="onFileSelected($event)">
                      </form>
                    </div>
                  </div>
                <div class="divTextHead pt-4">
                    <span class="flex flex-row gap-2 items-center">
                        <ng-container *ngIf="!inputEditName">
                            <h4>
                                {{team.name}}
                            </h4>
                            <fa-icon [icon]="faPencil" class="edit-pencil" (click)="editName()"></fa-icon>
                        </ng-container>
                        <ng-container *ngIf="inputEditName">
                            <h4><input [(ngModel)]="newName"></h4>
                            <fa-icon [icon]="faCheck" class="edit-pencil" (click)="editName()"></fa-icon>
                        </ng-container>
                    </span>
                    <div class="div-description-top-right gap-4">
                        <span>
                            <textarea [disabled]="!editDescription" [(ngModel)]="team.description"
                                [ngClass]="!editDescription ? '' : 'bg-description'"></textarea>
                            <div class="p-description">
                                <button *ngIf="!editDescription" (click)="changeEditDescription()">Editar
                                    descrição</button>
                                <button *ngIf="editDescription" (click)="changeEditDescription()">Salvar
                                    descrição</button>
                            </div>
                        </span>
                    </div>
                </div>
            </div>

            <div class="high-div-members">
                <div class="div-members">
                    <div class="members">
                        <ng-container *ngFor="let item of menuItems">
                            <button 
                            [ngClass]="item.clicked === true ? 'clicked' : 'default'" 
                            (click)="changePreviewMode(item.id)"
                            >
                                <i class="{{ item.iconClass }}" style="font-size: 1.25rem"></i>
                                {{ item.label }}
                            </button>
                        </ng-container>
                    </div>
                </div>

                <div class="high-listDiv-members">
                    <div class="search">
                        <input type="text" placeholder={{placeholder}}>
                        <i class="pi pi-search cursor-pointer" style="font-size: 1.4rem;"></i>
                    </div>
                    <button class="clicked" (click)="openModalCreateGroup()" *ngIf="clicked === 'groups'">
                        <i class="pi pi-plus-circle" style="font-size: 1.7rem;"></i>
                        Novo grupo</button>
                    <div class="divMembers pr-3" *ngIf="clicked == 'participants'">
                        <p class="medium-text">{{team.users!.length}} {{team.users!.length === 1 ? "membro" :
                            "membros"}}</p>
                        <fa-icon class="iconLink" [icon]="faLink" (click)="copyInviteLink()"></fa-icon>
                        <p class="medium-text underline cursor-pointer" (click)="copyInviteLink()">Copiar link de
                            convite</p>
                    </div>
                </div>
            </div>


            <div *ngIf="clicked == 'participants'" class="grid-permissions">
                <ng-container *ngFor="let user of team.users">
                    <app-card-user [width]="'370px'" [height]="'90px'" [typeString]="'permissions'"
                        (deleteEmitterUserTeam)="openModalDeleteUser($event)" [team]="team"
                        [user]="user"></app-card-user>
                </ng-container>
            </div>

            <div *ngIf="clicked == 'groups'" class="grid-group">
                <ng-container *ngFor="let group of team.groups">
                    <app-card-group [team]="team" [width]="'800px'" [height]="'90px'"
                        (emitterItem)="deleteGroup($event)" [group]="group">
                    </app-card-group>
                </ng-container>
            </div>

        </div>

        <!-- =============================================================================================== -->

        <div class="right-side">
            <h5 class="pt-4">Desempenho individual</h5>
            <p class="regular-text pt-3">Lista o tempo dedicado dentro de todas as tarefas, de todos os projetos de {{team.name}}</p>
            <div class="flex flex-col w-full h-[201px] overflow-x-hidden overflow-y-auto mt-4">
                <table class="w-full max-h-[40px]">
                    <tr>
                        <th>Membro</th>
                        <th>Tempo Dedicado</th>
                    </tr>
                    <tr *ngFor="let responsable of team.reviewHoursDTOS">
                        <td>{{responsable.username}}</td>
                        <td>{{responsable.time}}</td>
                    </tr>
                </table>
            </div>

            <h5 class="self-start pt-7">Desempenho da equipe</h5>
            <p class="regular-text pt-3">Informações essenciais para rastrear o progresso e desempenho da equipe como um todo, com foco em tarefas.</p>
            <div class="flex h-[40%] flex-row pt-6 gap-2">
                <div class="card-reviews">
                    <div class="justify-between h-[70%]" [style.opacity]="team.reprovedReviews == 0 || team.approvedReviews == 0 ? '0.6' : '1'">
                        <p class="large-text">Revisões</p>
                        <p class="text-red-500">Reprovadas: {{team.reprovedReviews}}</p>
                        <p class="text-green-800">Aprovadas: {{team.approvedReviews}}</p>
                        <p class="pb-2">Média Geral: {{team.averageReviews}} <i class="pi pi-star"></i></p>
                    </div>
                    <div class="gap-6 h-[70%]" [style.opacity]="team.percentage == 0 ? '0.6' : '1'">
                        <p class="large-text">Progresso</p>
                        <p-progressBar [value]="team.percentage"></p-progressBar>
                    </div>
                </div>
                <div class="divProjectDashboardsBar">
                    <p class="large-text self-start pl-3 py-3">Andamento de Tarefas</p>
                    <!-- <p-chart class="dashboard-bar" type="pie" [data]="data" [options]="options"></p-chart> -->
                    <p-chart class="chart-bar" [responsive]="true" type="bar" [options]="basicOptions"
                        [data]="basicData"></p-chart>
                </div>
            </div>


        </div>
    </div>
</section>


<app-confirm-modal *ngIf="deleteUser" [width]="'450px'" [height]="'250px'" [title]="'o usuário da equipe'"
    (confirmEvent)="deleteUserTeam($event)">
</app-confirm-modal>

<app-create-group style="width: 100%; height: 500px; padding-top: 3%;" *ngIf="createGroupModal" [team]="team"
    (close)="switchCreateViewGroup()" (createGroup)="createGroup($event)">
</app-create-group>