/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import './variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding:0;
}
body {
    font-family: var(--font-family);
    background-color: $secondColor;
    background-color: #F3F3F3;
}

* {
    // overflow-y: hidden;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

fa-icon{
    @apply text-2xl;
    color: $secondColor;
    cursor: pointer;
}
button, a{
    cursor: pointer;
}

input:focus {
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #092C4C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

::-webkit-scrollbar-track {
    background: #D9D9D9; 
}

::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    border-radius: 3px;
}

