<section>
    <div class="container-custom">
        <div class="container-grid">
            <nav class="">
                <ul>
                    <li>Tarefa</li>
                    <li>Equipes</li>
                </ul>
            </nav>

        </div>




        
        <div class="container-grid">
            <div class="card-workspace">
                <div>
                    <p>Meu espaço de trabalho</p>
                </div>
                <div>
                    <a>Kanban</a>
                    <a>Linhas</a>
                    <a>Calendário</a>
                    <a>Mural</a>
                </div>
            </div>
            <div></div>
        </div>
    </div>
</section>