@import '../../../variables';

section{
    @apply flex w-screen h-full justify-center items-center;
}

.container-custom{
    @apply grid w-[90%] h-full grid-cols-2;
}



//TEAMS
.nav-tasks-teams{
    border-color: $primaryColor;
    @apply w-[368px] h-[53px] flex gap-1 border-b-[1px] flex-row pb-4;
    border-bottom: $borderBottom;

    label {
        @apply w-[135px] h-[48px] flex gap-2 p-4 px-4 transition-colors
        items-center justify-center rounded cursor-pointer;
    }

    label:hover {
        background-color: $primaryColor;
        color: $secondColor;
        @apply transition-colors;
    }
}

.functionally-items{
    @apply flex w-full pt-4 flex-row justify-between;
    //BUTTONS
    button {
        @apply flex w-2/3  items-center justify-center 
        border-2 transition-colors rounded p-3;
    }
    
    button:hover {
        background-color: $secondColor;
        color: $primaryColor;
        @apply transition-colors;
    }
    
    .create {
        background-color: $primaryColor;
        border-color: $primaryColor;
        color: $secondColor;
        @apply h-full w-[180px] flex items-center justify-center gap-4
        text-lg p-3 rounded font-light border-2 transition-colors;
    }
    .search {
        @apply w-2/5 h-full flex items-center justify-between bg-white p-3
        rounded shadow-md border-none;

        i {
            @apply w-[10%];
        }

        input {
            @apply w-[90%] h-full outline-none flex items-center pl-2;
        }
    }
}

.clicked {
    color: $secondColor;
    background-color: $primaryColor;
}
.default {
    color: $primaryColor;
    background-color: $secondColor;
}

@media only screen and (min-width: 1600px) and (min-width: 1920px){
    .container-grid{
        @apply flex flex-col h-full w-full pt-10;
    }
    .default-size{
        @apply flex w-full h-full;
    }
}

@media only screen and (min-width: 1400px) and (max-height: 900px){
    .default-size{
        @apply flex w-full h-[95%];
    }
    .container-grid{
        @apply flex flex-col h-full w-full pt-10;
    }
}


