@import '../../../variables';

section{
    @apply flex w-screen h-full justify-center items-center;
}

.container-custom{
    @apply grid w-[90%] h-full grid-cols-2;
}

.container-grid{
    @apply flex flex-col h-full w-full pt-10;
}
.right{
    @apply items-end gap-6;
}

//TEAMS
.nav-tasks-teams{
    border-color: $primaryColor;
    @apply w-[368px] h-[53px] flex gap-1 border-b-[1px] flex-row pb-4;
    border-bottom: $borderBottom;

    label {
        @apply w-[135px] h-[48px] flex gap-2 p-4 px-4 transition-colors
        items-center justify-center rounded cursor-pointer;
    }

    label:hover {
        background-color: $primaryColor;
        color: $secondColor;
        @apply transition-colors;
    }
}

.functionally-items{
    @apply flex w-full pt-4 flex-row justify-between;
    //BUTTONS
    button {
        @apply flex w-2/3  items-center justify-center 
        border-2 transition-colors rounded p-3;
    }
    
    button:hover {
        background-color: $secondColor;
        color: $primaryColor;
        @apply transition-colors;
    }
    
    .create {
        background-color: $primaryColor;
        border-color: $primaryColor;
        color: $secondColor;
        @apply h-full w-[180px] flex items-center justify-center gap-4
        text-lg p-3 rounded font-light border-2 transition-colors;
    }
    .search {
        @apply w-2/5 h-full flex items-center justify-between bg-white p-3
        rounded shadow-md border-none;

        i {
            @apply w-[10%];
        }

        input {
            @apply w-[90%] h-full outline-none flex items-center pl-2;
        }
    }
}

.clicked {
    color: $secondColor;
    background-color: $primaryColor;
}
.default {
    color: $primaryColor;
    background-color: $secondColor;
}


//CARDS
.card-workspace{
    @apply flex w-2/3 h-[25%] bg-white flex-col items-center rounded-md shadow-md;
    color: $primaryColor;
    font-family: $titleFont;
}
.card-workspace > :first-child{
    @apply flex w-full h-[30%] bg-white flex-col items-center justify-center text-xl;
    
    p{
        @apply flex h-full items-center;
        border-bottom: $borderBottom;
    }
}
.card-workspace > :last-child{
    @apply grid w-full h-[70%] bg-white flex-col items-center justify-center grid-cols-2;

    .grid-card-workspace {
        @apply flex flex-col w-full h-full items-center justify-evenly;
    }
    .grid-card-workspace > div {
        @apply flex w-2/4 text-lg;

        .card-workspace-label{
            @apply flex w-full justify-between items-center;

            i{
                @apply flex w-[30%];
            }
            p{
                @apply flex w-[70%];
            }

        }
    }
    .grid-card-workspace > div:hover {
        border-bottom: $borderBottom;
        cursor: pointer;
        @apply transition-colors;
    }
}


//CHARTS
.charts{
    @apply flex w-2/3 h-[35%] justify-between;
}
.card-spaces{
    @apply flex w-[48%] h-full flex-col;
}
.card-chart-background{
    @apply flex w-full h-[80%] pt-5;
    
}
.card-chart{
    @apply flex w-full h-full bg-white rounded-md items-center justify-center;
    border-top: 10px solid $primaryColor;
}


.recently-teams{
    @apply flex w-2/3 h-[25.5%] justify-between items-center;
}
.recently-teams > div {
    @apply flex w-[32%] h-full bg-black rounded-md;
}