<section>
    <div class="container-custom">

    
        <div class="container-grid">
            <div class="nav-tasks-teams">
                <ng-container *ngFor="let item of menuItems">
                    <label [ngClass]="clicked === item.id ? 'clicked' : 'default'">
                        <i class="{{ item.iconClass }}" style="font-size: 1rem"></i>
                        <button (click)="changePreviewMode(item.id)">{{ item.label }}</button>
                    </label>
                </ng-container>

            </div>

            <!-- UTILITY NAV BAR TEAM -->
            <div class="functionally-items" *ngIf="clicked === 'team' && !isCreating">
                <button class="create" (click)="createNewTeam()">
                    <i class="pi pi-plus-circle" style="font-size: 1.7rem;"></i>
                    Nova Equipe
                </button>
                <div class="search">
                    <input type="text" placeholder="Pesquisar por uma equipe...">
                    <i class="pi pi-search cursor-pointer" style="font-size: 1.4rem;"></i>
                </div>
            </div>

            <!-- UTILITY NAV BAR TASK -->
            <div class="functionally-items" *ngIf="clicked === 'task'">
                <button class="create">
                    <i class="pi pi-plus-circle" style="font-size: 1.7rem;"></i>
                    Nova tarefa
                </button>
                <div class="search">
                    <input type="text" placeholder="Pesquise por uma tarefa...">
                    <i class="pi pi-search cursor-pointer" style="font-size: 1.4rem;"></i>
                </div>
            </div>

            <div class="default-size">
                <app-card-list style="width: 100%; height: 90%; padding-top: 3%;" *ngIf="clicked === 'task'"></app-card-list>
                <app-create-team-project style="width: 100%; height: 90%; padding-top: 3%;"  *ngIf="clicked === 'team'"></app-create-team-project>
            </div>
        </div>


        <!-- QUICK ACCESS -->
        <div class="container-grid">
            <div class="default-size">
                <app-quick-access style="width: 100%; height:100%;"></app-quick-access>
            </div>
        </div>
    </div>
</section>