<div class="bg">
    <!-- TITLE PAGE -->
    <div class="title">
        <div>
            <h5>{{ 'pages.user-settings.appearance.title' | translate }}</h5>
            <fa-icon [icon]="faPencil" class="icon size"></fa-icon>
        </div>
    </div>
    <!-- CONTENT -->
    <div class="themes">
        <p class="medium-text">{{ 'pages.user-settings.appearance.themePreference' | translate }}</p>

        <div class="box-modes" *ngFor="let theme of themesList; index as item;" (click)="selectTheme(item)"
            [ngClass]="theme.status === 'selected' ? '' : 'unselected'">
            <ng-container *ngFor="let type of theme.types">
                <ng-container *ngFor="let color of type.colors">
                    <div class="mode shadow-md"
                        *ngIf="color.status === 'selected' && type.title === ('pages.user-settings.appearance.highlightColor' | translate)"
                        [style.background]="'linear-gradient(315deg, ' + theme.secondColor + ' 50%,' + theme.primaryColor + ' 50%)'">
                        <fa-icon [icon]="theme.icon" class="icon-themes"
                            [ngClass]="theme.mode === ('theme.mode') ? 'icon-dark' : 'icon-dark'"></fa-icon>
                        <p class="small-text" [ngClass]="theme.mode === ('theme.mode') ? 'icon-dark' : 'icon-dark'">
                            {{"pages.user-settings.appearance."+theme.mode | translate}}
                        </p>
                    </div>
                </ng-container>
            </ng-container>

            <div class="colors">
                <div>
                    <ng-container *ngFor="let type of theme.types;">
                        <p class="small-text">{{ type.title | translate }}</p>
                        <div class="colors-row">
                            <ng-container *ngFor="let color of type.colors; index as item;">
                                <button [ngStyle]="{'background-color': color.color}" class="colors-circle"
                                    (click)="selectColor(theme,type,item)">
                                    <fa-icon [icon]="faCheck" *ngIf="color.status === 'selected'" class="icon"
                                        [ngStyle]="{'color': type.iconColor}">
                                    </fa-icon>
                                </button>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>

        </div>
    </div>

    <div class="text-preferences ">
        <div class="writing">
            <div class="h-full flex flex-col gap-2">
                <p class="medium-text">{{ 'pages.user-settings.appearance.fontSize' | translate }}</p>
                <p class="small-text">{{ 'pages.user-settings.appearance.fontSizeDescription' | translate }}</p>
                <p-cascadeSelect [(ngModel)]="newPers.fontSize" [options]="fontSizes" optionGroupLabel="name"
                    [optionGroupChildren]="[]"
                    [style]="{ width: '120px', backgroundColor: 'var(--card)', color: 'var(--text)', borderColor: 'var(--primaryColor)'}"
                    placeholder="{{ newPers.fontSize }}" (onChange)="changeFontSize()"></p-cascadeSelect>
            </div>
            <div class="h-full flex flex-col gap-2">
                <p class="medium-text">{{ 'pages.user-settings.appearance.fontStyle' | translate }}</p>
                <p class="small-text">{{ 'pages.user-settings.appearance.fontStyleDescription' | translate }}</p>
                <p-cascadeSelect [(ngModel)]="newPers.fontFamily" [options]="fontFamily" optionGroupLabel="name"
                    [optionGroupChildren]="[]"
                    [style]="{ width: '180px', backgroundColor: 'var(--card)', color: 'var(--text)', borderColor: 'var(--primaryColor)' }"
                    placeholder="{{ newPers.fontFamily }}" (onChange)="changeFontFamily()"></p-cascadeSelect>
            </div>
        </div>

        <div>
            <p class="medium-text">{{ 'pages.user-settings.appearance.accessibility' | translate }}</p>
            <div [(ngModel)]="newPers.signLanguage" (click)="toggleChangeSignLanguage()" class="accessibility">
                <fa-icon *ngIf="!newPers.signLanguage" class="icon" [icon]="faToggleOff">
                </fa-icon>
                <fa-icon *ngIf="newPers.signLanguage" class="icon" [icon]="faToggleOn">
                </fa-icon>
                <p class="small-text">{{ 'pages.user-settings.appearance.enableSignLanguage' | translate }}</p>
            </div>

            <div [(ngModel)]="newPers.listeningText" (click)="toggleChangeListening()" class="accessibility">
                <fa-icon *ngIf="!newPers.listeningText" class="icon" [icon]="faToggleOff">
                </fa-icon>
                <fa-icon *ngIf="newPers.listeningText" class="icon" [icon]="faToggleOn">
                </fa-icon>
                <p class="small-text">{{ 'pages.user-settings.appearance.enableTextReading' | translate }}</p>
            </div>
        </div>
    </div>
</div>