<div class="bg">
    <div class="rightSide">
    <!-- Section com as informações do usuário -->
    <section class="userSection">


        <!-- ícone do usuário com o nome -->
        <div class="userInfop space-y-4">
            <fa-icon [icon]="faCircleUser" size="8x" class="icon"></fa-icon>
            <div>
                <p>Kaique Fernandes Lima Homem</p>
            </div>
        </div>

        <div class="divGeneralInputs">

            <!-- Inputs do lado esquerdo -->
            <div class="w-96">
                <!-- Input com o nome do usuário -->
                <div class="inputContainer flex items-center">
                    <div class="iconContainer">
                        <i class="pi pi-user iconInputs"></i>
                    </div>
                    <input type="text" class="input" placeholder="Kaique Fernandes Lima Homem" />
                </div>

                <!-- Input com o e-mail do usuário -->
                <div class="inputContainer flex items-center">
                    <div class="iconContainer">
                        <i class="pi pi-user iconInputs"></i>
                    </div>
                    <input type="email" class="input" placeholder="Kaique_homem@estudante.sesisenai.org.br" />
                </div>
            </div>

            <div class="w-40">
                <!-- Input com a senha do usuário -->
                <div class="inputContainer flex items-center">
                    <div class="iconContainer">
                        <i class="pi pi-lock iconInputs"></i>
                    </div>
                    <input type="password" class="input" placeholder="**********" />
                </div>

                <!-- Input com a confirmação de senha do usuário -->
                <div class="inputContainer flex items-center">
                    <div class="iconContainer">
                        <i class="pi pi-lock iconInputs"></i>
                    </div>
                    <input type="password" class="input" placeholder="************" />
                </div>
            </div>
        </div>
    </section>
    </div>
</div>
