<div class="bg">
    <div class="title">
        <div>
            <h5>Equipes</h5>
            <fa-icon [icon]="faUsers" class="icon"></fa-icon>
        </div>
    </div>

    <section>
        <span class="p-input-icon-right">
            <input type="search" class="regular-text" placeholder="Busque pela sua equipe aqui..." />
            <i class="pi pi-search search"></i>
        </span>
        <app-card-list style="width: 85%; height: 90%; padding-top: 3%;"></app-card-list>
    </section>
</div>