<div class="bg">
    <div class="title">
        <div>
            <h5>{{ 'pages.user-settings.teams-settings.title' | translate }}</h5>
            <fa-icon [icon]="faUsers" class="icon"></fa-icon>
        </div>
    </div>

    <section>
        <div class="w-[85%]">
            <div class="search">
                <input id="text-black" type="text" placeholder="{{ 'pages.user-settings.teams-settings.searchPlaceholder' | translate }}">
                <i class="pi pi-search cursor-pointer " style="font-size: 1.4rem;"></i>
            </div>
        </div>
        <app-card-list style="width: 85%; height: 90%; padding-top: 3%;" 
        [type]="'team'"
        [teams]="teams" 
        [teamScreen]="'settings'"
        (emitterItem)="delete($event)">
        </app-card-list>
    </section>
</div>
