@import '../../../../variables.scss';
@import '../../../../styles.scss';

.bg {
    @apply flex h-full w-screen flex-col items-center justify-start ;
}

.title {
    @apply w-[85%] h-[5%] flex flex-col items-start justify-start border-b;
    border-color: $emphasis;
        div {
            @apply flex w-[15%] items-center justify-start gap-7;
        }

        p{
            @apply text-xl font-medium
        }
}

.icon {
    color:$primaryColor !important;
    @apply text-[18px];
}


section {
    @apply h-full w-[100%] flex flex-col pt-10 items-center;
}


.search {
    @apply w-[40%] h-[50px] flex items-start justify-between p-3
    rounded shadow-md border-none;
    background-color: $card;
}


#text-black{
    @apply w-[90%];
    color: $text;
}

input {
    @apply w-[90] bg-transparent flex items-center;
    color: $card;
}

