// SUPER CSS CASO O BOTÃO NÃO POSSUA INPUT
@import "../../../../variables";
.icon-button{
    @apply grid justify-center items-center rounded;
    grid-template-columns: 25% 75%;
}
.just-button{
    @apply flex w-full h-full justify-center items-center rounded;
}


// FORMATO PADRÃO
.default-div{
    @apply flex w-full h-full justify-center items-center;
}

a{
    background-color: $primaryColor;
    color: $secondColor;
}


