<div class="ng-contentDiv" *ngIf="generalModal">
    <span class="p-input-icon-right">
        <input type="search" class="small-text" placeholder="Digite o que procura..." />
        <i class="pi pi-search search"></i>
    </span>

    <!-- Visible and invisible -->
    <div class="visible-unvisible">
        <p class="pl-3 regular-text">Visíveis</p>
        <ng-container *ngFor="let item of propertiesList; index as i">
            <div *ngIf="item.status==='visible'" class="visible"
                [ngClass]="item.status === 'visible' ? '' : 'opacity'" 
                cdkDrag>
                <div (click)="editProperty(i)">
                    <div cdkDropList (cdkDropListDropped)="drop($event)">
                        <fa-icon [icon]="faEllipsisVertical" class="icon"></fa-icon>
                        <fa-icon [icon]="faEllipsisVertical" class="icon"></fa-icon>
                    </div>
                    <div (click)="editProperty(i)">
                        <fa-icon [icon]="item.icon2" class="icon pl-2"></fa-icon>
                        <p class="regular-text">{{item.name}}</p>
                    </div>
                </div>
                <div>
                    <fa-icon [icon]="item.icon" class="little-icon" (click)="changeStatus(i)"></fa-icon>
                    <fa-icon [icon]="faGear" class="little-icon" (click)="clickGear('gear', i)"></fa-icon>
                    <fa-icon [icon]="faTrashCan" class="little-icon" (click)="delete(i)"></fa-icon>
                </div>
            </div>
        </ng-container>
        <p class="pt-3 pl-3 regular-text">Não visíveis</p>
        <ng-container *ngFor="let item of propertiesList; index as i">
            <div *ngIf="item.status==='invisible'" class="visible opacity">
                <div>
                    <div>
                        <fa-icon [icon]="faEllipsisVertical" class="icon"></fa-icon>
                        <fa-icon [icon]="faEllipsisVertical" class="icon"></fa-icon>
                    </div>
                    <div (click)="editProperty(i)">
                        <fa-icon [icon]="item.icon2" class="icon pl-2"></fa-icon>
                        <p class="regular-text">{{item.name}}</p>
                    </div>
                </div>
                <div>
                    <fa-icon [icon]="item.icon" class="little-icon" (click)="changeStatus(i)"></fa-icon>
                    <fa-icon [icon]="faGear" class="little-icon" (click)="clickGear('gear', i)"></fa-icon>
                    <fa-icon [icon]="faTrashCan" class="little-icon" (click)="delete(i)"></fa-icon>
                </div>
            </div>
        </ng-container>
    </div>
</div>