<section (click)="closeNotification()">
    <div class="modal" (click)="$event.stopPropagation()">
        <div class="header">
            <div class="header-title">
                <h5>{{'components.modals.notification.notificações' | translate}}</h5>
                <fa-icon [icon]="faClose" (click)="closeNotification()"></fa-icon>
            </div>
            <ul>
                <li class="tool-icons" *ngIf="!searchBarOpen">
                    <fa-icon (click)="changeSelectedStateAll()" class="colorAllCheckbox" [icon]="faSquare"
                        [ngStyle]="{'opacity' : checkbox ? '1.0' : '0.2'}" title="{{'components.modals.notification.selectAll' | translate}}"></fa-icon>
                    <fa-icon *ngIf="hasChecked()" (click)="readNotifications()" [icon]="faEnvelope" title="{{'components.modals.notification.markAsRead' | translate}}"></fa-icon>
                    <fa-icon *ngIf="hasChecked()" (click)="deleteNotifications()" [icon]="faTrash" title="{{'components.modals.notification.exclude' | translate}}"></fa-icon>
                </li>
                <li class="search" *ngIf="searchBarOpen">
                    <input type="text" placeholder="{{'components.modals.notification.searchByANotification' | translate}}" [(ngModel)]="query">
                    <i class="pi pi-times cursor-pointer" style="font-size: 20px;" (click)="toggleSearchBar()"></i>
                </li>
                <div class="search-settings" *ngIf="!searchBarOpen">
                    <li>
                        <button (click)="toggleSearchBar()" title="{{'components.modals.notification.search' | translate}}">
                            <i class="pi pi-search"></i>
                        </button>
                    </li>
                    <li>
                        <fa-icon [fixedWidth]="true" [icon]="faGear" title="{{'components.modals.notification.config' | translate}}" routerLink="configuracoes/notificacoes"></fa-icon>
                    </li>
                </div>
            </ul>
        </div>
        <div class="notifications">
            <ng-container *ngFor="let notification of (notifications | namePipe : query);">
                <div class="notification">
                    <div>
                        <div class="checkbox-div">
                            <fa-icon (click)="changeSelectedState(notification)" class="color" [icon]="faSquare"
                                [ngStyle]="{'opacity' : notification.isSelected ? '1.0' : '0.2'}"></fa-icon>
                        </div>
                        <div class="description" [ngStyle]="{'opacity' : !notification.isRead ? '1.0' : '0.55'}">
                            <p class="small-text">{{notification.teamName}} | {{notification.projectName}}</p>
                            <div class="medium-text pt-2">
                                {{notification.title}}
                                <p class="small-text pt-2">{{getDate(notification.date)}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="barOpenClose">
                        <fa-icon [icon]="faArrowUpRightFromSquare"
                            (click)="notificationDetails(notification)"></fa-icon>
                    </div>
                </div>
            </ng-container>

            <div *ngIf="notifications.length == 0" class="flex w-full items-center pt-10 flex-col">
                <p class="large-text">{{'components.modals.notification.noOneNotificationAtMoment' | translate}}</p>
                <p class="medium-text opacity-70">{{'components.modals.notification.enjoyWhilePossible' | translate}}</p>
            </div>
        </div>
    </div>
</section>