<div class="miniChat2">
    <div class="miniChat-header">
        <div class="miniChat-header-title">
            <svg class="imgLogo" width="381" height="396" viewBox="0 0 381 396" fill="var(--secondColor)"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="196.442" y="362.704" width="22.504" height="286.758" rx="11.252"
                        transform="rotate(-150.794 196.442 362.704)" />
                    <rect x="166.35" y="344.859" width="22.504" height="290.467" rx="11.252"
                        transform="rotate(-150.794 166.35 344.859)" />
                    <rect x="225.535" y="380.683" width="22.504" height="292.651" rx="11.252"
                        transform="rotate(-150.794 225.535 380.683)" />
                    <rect x="336.976" y="156.115" width="109.185" height="23.4992" rx="11.7496"
                        transform="rotate(-128.514 336.976 156.115)" />
                    <rect x="132.055" y="317.379" width="19.6211" height="265.043" rx="9.81053"
                        transform="rotate(163.521 132.055 317.379)" />
                    <rect x="233.237" y="362.677" width="19.6211" height="132.615" rx="9.81053"
                        transform="rotate(119.164 233.237 362.677)" />
                    <path
                        d="M178.234 223.717C179.106 226.176 177.819 228.877 175.359 229.749C172.9 230.62 170.199 229.334 169.328 226.874L141.914 149.546C141.042 147.087 142.329 144.386 144.789 143.514C147.248 142.643 149.949 143.93 150.82 146.389L178.234 223.717Z" />
                    <path
                        d="M149.435 146.462C151.442 148.129 151.719 151.107 150.052 153.115C148.385 155.123 145.406 155.399 143.399 153.732L53.8543 79.3861C51.8467 77.7193 51.5705 74.7405 53.2374 72.733C54.9042 70.7254 57.8829 70.4491 59.8905 72.116L149.435 146.462Z" />
                    <path
                        d="M217.126 137.762C219.727 137.554 222.005 139.493 222.213 142.094C222.422 144.695 220.482 146.973 217.881 147.181L148.786 152.72C146.185 152.929 143.908 150.989 143.699 148.388C143.491 145.787 145.43 143.51 148.031 143.301L217.126 137.762Z" />
                    <rect x="139.797" y="320.617" width="19.6211" height="317.658" rx="9.81053"
                        transform="rotate(-150.632 139.797 320.617)" />
                    <rect x="369.021" y="129.692" width="19.6211" height="129.168" rx="9.81053"
                        transform="rotate(139.098 369.021 129.692)" />
                    <rect x="289.673" y="34.5586" width="13.9146" height="253.46" rx="6.95728"
                        transform="rotate(82.5857 289.673 34.5586)" />
                    <rect x="135.306" y="146.915" width="28.3895" height="102.965" rx="14.1948"
                        transform="rotate(-95.4749 135.306 146.915)" />
                    <rect x="67.96" y="91.5942" width="27.153" height="213.615" rx="13.5765"
                        transform="rotate(-95.1798 67.96 91.5942)" />
                    <rect x="81.3804" y="107.595" width="27.153" height="178.149" rx="13.5765"
                        transform="rotate(-95.1798 81.3804 107.595)" />
                    <rect x="100.38" y="120.595" width="27.153" height="154.08" rx="13.5765"
                        transform="rotate(-95.1798 100.38 120.595)" />
                    <rect x="118.105" y="137.783" width="35.1793" height="127.165" rx="15"
                        transform="rotate(-95.1798 118.105 137.783)" />
                </svg>
            <h6>{{chat.name}}</h6>
        </div>
        <div class="miniChat-header-close">
            <fa-icon (click)="openMiniChat(true)" [icon]="faTimes"></fa-icon>
        </div>
    </div>

    <div *ngIf="chat" class="center-div">
        <div class="min-h-[60px]" *ngIf="chat">
            <div *ngFor="let message of chat.messages" class="message-container"
                [ngClass]="message.user !== logged.firstName ? 'left' : 'right'">
                <div class="flex items-center gap-2">
                    <p *ngIf="(logged.firstName != message.user)" class="username">{{ message.user }}</p>
                    <p *ngIf="(logged.firstName == message.user)" class="username">{{"components.modals.minichat.me" | translate}}</p>
                </div>

                <div *ngIf="!message.file"
                    [ngClass]="logged.firstName!==message.user ? 'message-bubble-left' : 'message-bubble-right'">
                    <p class="text-base whitespace-pre-wrap">{{ message.contentMessage }}</p>
                    <p [ngClass]="message.user !== logged.firstName ? 'timestamp' : 'timestamp text-right'">{{
                        generateTime(message) }}</p>
                </div>

                <div *ngIf="message.file"
                    [ngClass]="message.user !== logged.firstName ? 'message-bubble-left with-photo' : 'message-bubble-right with-photo items-end'">
                    <div class="w-full h-full flex-wrap flex justify-center items-center gap-3">
                        <img [ngClass]="messageFileIncludesImage(message) ? 'mt-[5px] image':'archive'"
                            draggable="false" [src]="getIconSrc(message)">
                        <div class="flex h-full justify-center items-center gap-5">
                            <p class="text-center w-[80%]" *ngIf="!messageFileIncludesImage(message)">{{
                                message.file.name }}</p>
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <p
                            [ngClass]="message.user !== logged.firstName ? 'timestamp  text-[#777777]' : 'timestamp text-[#fff]'">
                            {{ generateTime(message) }}
                        </p>
                        <a [href]="changeUrlOfArchive(message)" download="{{ message.file.name }}">
                            <i class="pi pi-download"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <form *ngIf="chat" (ngSubmit)="sendMessage(sendForm)" (keydown.enter)="sendMessage(sendForm)" #sendForm="ngForm"
        class="high-input-div justify-center">
        <div class="flex pr-5 gap-4 shadow-md w-[85%] h-[55%] border-t-[1px] border-r-[1px] bg-white">

            <textarea type="text" name="message" id="input-message"
                class="form-control focus:outline-none resize-none rounded-sm border-l-4 pt-[10px] pl-[15px] w-[90%] h-[100%]"
                [(ngModel)]="messageUser" placeholder="{{'components.modals.minichat.digitHere' | translate}}"></textarea>
            <div class="flex relative">
                <input type="file" id="fileInput" class="hidden absolute left-1/2 top-1/2"
                    (change)="onFileChange($event)">
                <fa-icon (click)="openFile()" class="section-icons" [icon]="faPaperclip"></fa-icon>
            </div>
        </div>
        <button type="submit" class="square-chat rounded-sm">
            <fa-icon class="text-lg pr-1" [icon]="faPapperPlane"></fa-icon>
        </button>
    </form>
</div>