<div class="card">

    <div class="name sticky left-0" [style.min-width]="getNameWidth()" (click)="openModalTask()">
        <span class="drag-handle" cdkDragHandle>
            <fa-icon [icon]="faEllipsisVertical"></fa-icon>
            <fa-icon [icon]="faEllipsisVertical"></fa-icon>
        </span>
        <p>
            {{task.name}}
        </p>
        <div class="icons">
            <ng-container *ngFor="let item of icons">
                <fa-icon [icon]="item.icon" class="icon"
                [ngClass]="item.disabled ? 'opacity-20' : 'opacity-100'"
                (click)="openModalDelete()"></fa-icon>
            </ng-container>
        </div>
    </div>
    <div 
    class="properties" 
    [style.min-width]="'300px'"
    (click)="alertCantEdit()"
    >
    <app-input-value-property 
    style="width: 100%; height: 100%;" 
    [task]="task" 
    [value]="getPropertyValue(project.properties[0])"
    ></app-input-value-property>
</div>
    <ng-container *ngFor="let property of project.properties">
            <div 
            class="properties" 
            [style.min-width]="'300px'"
            (click)="alertCantEdit()"
            *ngIf="property.id !== project.properties[0].id"
            >
            <app-input-value-property 
            style="width: 100%; height: 100%;" 
            [task]="task" 
            [value]="getPropertyValue(property)"
            ></app-input-value-property>
        </div>
    </ng-container>
</div>

<app-confirm-modal *ngIf="modalDelete" [height]="'300px'" [width]="'400px'" [title]="'a Tarefa'" (close)="delete($event)"></app-confirm-modal>